body {background: #eee; font-family: helvetica, arial; font-size: 14px;text-align: center;}

.bar {background: #03201B;
		width: 600px;
		height: 20px;
		position: relative;
		float: left;}

#container{
	width: 700px;
	margin: 10px auto;
	padding: 5px;
	background: #010a10;
	border: 5px #FE4C55 solid;
	border-radius: 10px;
	float: left;
	display: block;
}

nav{
	margin: 5px 0;
	display: block;
}

#buttons{
	float: left;
	width: 70px;
	height: 22px;
}
#progressBar{
	position: absolute;
	width: 0;
	height: 16px;
	background: blue;
}
