@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
/*	-	-	-	-	-	-	-	-	-	-	-	-/
					CSS Reset
/-	-	-	-	-	-	-	-	-	-	-	-	-*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/*	-	-	-	-	-	-	-	-	-	-	-	-/
					General
/-	-	-	-	-	-	-	-	-	-	-	-	-*/

/*
Green 	  : #1ab188;
Left blue : #34495e;
Dark blue : #13232f;
*/

h1, h2{color: #fefefe;font-family: "Titillium Web" sans-serif;}
.errors {color: red;}
.error {color: red;}
.error input {color: red;border: 1px solid red;}
.success {color: #1ab188;}
.exists {color: red;}
.disconnect{color:#fefefe;margin-bottom: 40px;}

.alreadyactive, .connect{color:#fefefe;}

.left{float: left;height: 100%;width: 50%;background: #34495e;box-sizing:border-box;padding:3%;}
.right{float:right;height: 100%;width: 50%;background: rgba(19, 35, 47, 0.9);box-sizing:border-box;padding:3%;font-family: "Titillium Web" sans-serif;}

/*	-	-	-	-	-	-	-	-	-	-	-	-/
					Left
/-	-	-	-	-	-	-	-	-	-	-	-	-*/

.left img {width:100%;margin-bottom: 100%;}
.left h1{font-size: 1.6em;max-width: 400px;margin: auto;margin-bottom: 20px;text-align: center;}
.left .locker {display: block; margin: auto;}


/*	-	-	-	-	-	-	-	-	-	-	-	-/
					Right
/-	-	-	-	-	-	-	-	-	-	-	-	-*/

.right h2{font-size: 1.4em;max-width: 400px;margin: auto;margin-bottom: 20px;text-align: center;}
.right p,li{color: #fefefe}
form{box-sizing:border-box; width: 500px;margin:auto;margin-top:30px;margin-bottom: 100%;color:#fefefe;}
form .field{margin-bottom: 20px;}
form .field label{position: absolute;margin-top: 15px;margin-left: 10px;}
form .links{}
form .links .link{margin-left: 40px;}
form .links .link a {color:#1ab188; text-decoration: none;}
form .links .forgot{display: inline-block;}
form .links .subscribe{display: inline-block;}
form .links .back{display: inline-block;}
form input{display: block;width: 100%;height: 40px;background: none;border:1px solid #95a5a6;font-size: 1.2em;}

#submit{background: #1ab188;color: #fefefe;border: none; height: 50px;margin-top: 30px;}

/*	-	-	-	-	-	-	-	-	-	-	-	-/
					Add links
/-	-	-	-	-	-	-	-	-	-	-	-	-*/



/*	-	-	-	-	-	-	-	-	-	-	-	-/
					Media queries
/-	-	-	-	-	-	-	-	-	-	-	-	-*/

@media screen and (max-width: 970px){
	.left{width:100%;max-height:600px;padding: 10%;box-sizing:border-box;}
	.right{width: 100%;max-height:700px;padding: 10%;box-sizing:border-box;}
}









