body {background:#eee;font-size:14px;font-family:Helvetica,Arial;padding-bottom:200px;}

.transform {
	position:relative;
	width:200px;
	height:200px;
	background:#ff0093;
	margin:0 0 20px 0;
}

.scale {
	-webkit-animation:scale-animation 2s ease 0s infinite alternate;
	   -moz-animation:scale-animation 2s ease 0s infinite alternate;
	     -o-animation:scale-animation 2s ease 0s infinite alternate;
	        animation:scale-animation 2s ease 0s infinite alternate;
}

.translate {
	transform:translate(200px,0);
}

.rotate {
	transform:rotate(45deg);
	-webkit-transition:-webkit-transform 1s;
	   -moz-transition:-moz-transform 1s;
	     -o-transition:-o-transform 1s;
	        transition:transform 1s;
}

.rotate:hover {
	-webkit-transform:rotate(90deg);
	   -moz-transform:rotate(90deg);
	     -o-transform:rotate(90deg);
	        transform:rotate(90deg);
}

.skew {
	transform:skewX(-45deg);
}

.combine {
	/*transform:rotate(-25deg) scale(2,1);*/
	transform:rotate(-25deg) translateX(200px);
}


@-webkit-keyframes scale-animation{
	0%   {-webkit-transform:scale(0.5,1);}
	100% {-webkit-transform:scale(2,1);}
}

@-moz-keyframes scale-animation{
	0%   {-moz-transform:scale(0.5,1);}
	100% {-moz-transform:scale(2,1);}
}

@-o-keyframes scale-animation{
	0%   {-o-transform:scale(0.5,1);}
	100% {-o-transform:scale(2,1);}
}

@keyframes scale-animation{
	0%   {transform:scale(0.5,1);}
	100% {transform:scale(2,1);}
}










