/* GLOBAL CSS */
body{font-family: 'Open Sans', sans-serif;overflow-x:hidden;}
a{text-decoration: none; color: inherit;}
input{font-family: 'Open Sans'; padding: 5px;}
.wrapper{max-width: 960px; width: 100%; margin: 0 auto; position: relative;}
.wrapper:after{clear: both;}
.clear{clear: both;}
.sum{color: #c1272c;}
.align{width: 100%; text-align: center;}
.submit{width: 100px; height: 32px; font-weight: 600; color: #fff; border: none; background-color: #a43232; cursor: pointer;}

/* HEADER CSS */
.header{
	height: 135px;
	width: 100%;
	display: block;
	position: relative;
	-webkit-box-shadow: 1px 5px 10px rgba(0,0,0,0.2);
	box-shadow: 1px 5px 10px rgba(0,0,0,0.2);
	z-index: 200;
	background-color: #fff;
}

.logo{
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 300;
	margin: 0;
	padding: 46px 10px;
	float: left;
}

.title_login{
	display: inline-block;
	margin-right: 15px;
	color: #3d3d3d;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}

.fields_login{
	display: inline-block;
}

.form_login{
	position: relative;
	width: auto;
	float: right;
	margin: 0;
	padding: 55px 10px;
	display: block;
}

#connect{
	margin-left: 15px;
}


/* CONTENT CSS */
.content{
	width: 100%;
	display: block;
	position: relative;
}

.title_inscription{
	color: #3d3d3d;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	margin-bottom: 20px;
	margin-left: 5px;
}

.fields_inscription{
	margin-bottom: 8px;
}

.form_inscription{
	width: 200px;
	float: left;
	margin-top: 50px;
}

#inscription{
	margin-top: 15px;

}

.about{
	width: 600px;
	float: right;
	margin-top: 15px;
}

.title_about{
	color: #3d3d3d;
	font-size: 48px;
	font-weight: 300;
	margin: 20px 0;
	padding: 0;
}

.post_title_about{
	color: #737373;
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 15px;
	margin-bottom: 30px;
}

.article_about{
	font-size: 16px;
	line-height: 2em;
	color: #5b5b5b;
	padding: 0 0 35px;
}

/* ERRORS CSS */

.alert, .alert_green{
	position: relative;
	height: 40px;
	padding: 20px;
}

.alert{
	width: 720px;
	color: #f00;
	font-size: 16px;
	text-align: center;
	opacity: 0.8;
	margin: auto;
}

.alert_green{
	width: 720px;
	color: #257631;
	font-size: 16px;
	text-align: center;
	opacity: 0.9;
	margin: auto;
}

/*HOME CSS*/

.title_name{
	color: #3d3d3d;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 20px;
	display: inline-block;
}

.links{
	display: inline-block;
	text-decoration: underline;
	font-size: 12px;
}

.links:hover{
	color: #f00;
}

.audioreact{
	margin: auto;
	margin-top: 30px;
	width: 960px;
}