canvas{
	/*background: #9faaff;*/
	z-index: 0;
	position : absolute;
	/*background: #c0392b;*/
}

.start{
	background: #fff;
	position:absolute;
	margin-left:300px;
	margin-top:250px;
	z-index: 1000;
	height: 100px;
	width:200px;
	border: none;
	outline:none;
	text-transform: uppercase;
	font-size: 24px;
	display: none;
}
