@import "compass";
@import 'compass/reset';

@import url(http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,300,700,800);

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Bree Serif', serif;
}

.container {
	letter-spacing: -0.25em;
	width: 100%;
}

header {
	height: 90px;
	border-bottom: 1px solid #363636;
	h1 {
		line-height: 90px;
		color:#303030;
		margin-left: 20px;
		font-size: 26px;
		letter-spacing: 3px;
		display: inline-block;
		float: left;
	}
	ul {
		display: inline-block;
		font-size: 12px;
		line-height: 90px;
		float: left;
		margin-left: 20px;
		li {
			display: inline-block;
			a {
				margin-left: 20px;
				color: #434343;
				font-weight: 600;
				text-decoration: none;
			}
		}
	}
	h5 {
		display:inline-block;
		float: right;
		line-height: 90px;
		margin-right: 20px;
		font-size: 10px;
		text-transform: uppercase;
		span {
			color: #F22E33;
		}
	}
}

article {
	letter-spacing: normal;
	margin: 0; padding: 0;
	display: inline-block;
	width: calc(100% / 4); height:220px;
	background-size: cover;
	background-position: center center;
	cursor:pointer;
	position: relative;
	.over {
		position: absolute;
		left:0; right:0; top:0; bottom:0;		
		background-color: rgba(#000, 0.5);
		z-index: 10;
	}
	h2 {
		color: #F2F2F2;
		z-index: 100;
		font-size: 22px;
		letter-spacing: 2px;
		width:100%;
		text-align: center;
		margin-top: 40px;
		position: relative;
	}
	span {
		color: #4FFF9E;
		font-size: 42px;
		width: 100%;
		text-align: center;
		display: block;
		position: relative;
		z-index: 100;
		margin-top: 40px;
		font-family: 'Bree Serif', serif;
	}
	&:hover{
		span:after{
			content: ' + 1';
			color: rgba(#4FFF9E, 0.5);
		}
	}
	&.ranked {
		&:hover {
			span:after{
				display: none;
			}
		}
	}
}