body {
	background: #eee;
	font-size: 14px;
}

/* contain all, also if we have to change the size, we change here only */

.sun{
	position: absolute;
	width: 300px;
	height: 300px;
	top: 25%;
	left: 35%;
	-webkit-transform: translateY(-5%);
	-moz-transform: translateY(-5%);
	-o-transform: translateY(-5%);
	transform: translateY(-5%);
	-webkit-animation: breath 4s ease 1s infinite alternate;
	-moz-animation: breath 4s ease 1s infinite alternate;
	-o-animation: breath 4s ease 1s infinite alternate;
	animation: breath 4s ease 1s infinite alternate;
}

/* the smiley ( body + mouth + eye ) */

.smiley{
	position: relative;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	margin: auto;
	overflow: hidden;
	z-index: 2;
	-webkit-transform: translateY(10%);
	-moz-transform: translateY(10%);
	-o-transform: translateY(10%);
	transform: translateY(10%);	
}


/*	the body it self */

.body{
	position:absolute;
	width: 100%;
	height: 100%;
	
}

.body>div{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/* the contrast between the two part great makes the smiley more real ) */

.bright{
	background: #ff0;
	top: -10%;
	left: -10%;
	z-index: 3;
}

.shadow{  					
	background: #ee0;
	z-index: 2;
}


/* the mouth */

.mouth{
	position: relative;
	width: 50%;
	height: 20%;
	overflow: hidden;
	margin: auto;
	z-index: 4;
	-webkit-transform:  translateY(250%);
	-moz-transform:  translateY(250%);
	-o-transform:  translateY(250%);
	transform:  translateY(250%);
}

.mouth>div{
	position:absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin: auto;
}

/* the contrast draw a mouth smiling */ 

.lips_top{
	background: #ff0;
	-webkit-transform:  translateY(-20%);
	-moz-transform:  translateY(-20%);
	-o-transform:  translateY(-20%);
	transform:  translateY(-20%);	
	z-index: 3;
}

.lips_bot{
	background: #000;
	z-index: 2;
}


/*	the eyes   */

.eye{
	position: relative;
	width: 30%;
	height: 15%;
	z-index: 5;
	margin: auto;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
		
	-webkit-animation: blink 3s ease 0s infinite alternate;
	-moz-animation: blink 3s ease 0s infinite alternate;
	-o-animation: blink 3s ease 0s infinite alternate;
	animation: blink 3s ease 0s infinite alternate;	
}

.eye>div{
	position: relative;
	height: 100%;
	width: 20%;
	background: #000;
	border-radius: 50%;
	
}

.right{
	float: right;
}

.left{
	float: left;
}

/* the aura */ 

.aura{
	background: -webkit-radial-gradient(rgba(255,255,0,1) 0%, rgba(255,255,200,0) 80%);
	background: -moz-radial-gradient(rgba(255,255,0,1) 0%, rgba(255,255,200,0) 80%);
	background: -o-radial-gradient(rgba(255,255,0,1) 0%, rgba(255,255,200,0) 80%);
	background: radial-gradient(rgba(255,255,0,1) 0%, rgba(255,255,200,0) 80%);
	border-radius: 50%;
	position: absolute;
	top: -20%;
	left: -20%;
	height: 140%;
	width: 140%;
	z-index: 1;
	-webkit-animation:shining 7s linear 0s infinite normal;
	-moz-animation:shining 7s linear 0s infinite normal;
	-o-animation:shining 7s linear 0s infinite normal;
	animation:shining 7s linear 0s infinite normal;	
}

.sun:hover .aura{ /* stop the animation when the mouse is over it */
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-o-animation-play-state:paused;
	animation-play-state:paused;
}




.sunbeam{
	position: relative;
	height: 10%;
	width: 5%;
	margin: auto;
	top: 45%;
}


.sunbeam>div{
	position: absolute;
	background: #ff5;
	height: 100%;
	width: 100%;
}

/* makes the sunbeam to be all around the smiley by a perfect way */

.sunbeam-1{-webkit-transform:rotateZ(0deg) translateY(400%);
-moz-transform:rotateZ(0deg) translateY(400%);
-o-transform:rotateZ(0deg) translateY(400%);
transform:rotateZ(0deg) translateY(400%);}
.sunbeam-2{-webkit-transform:rotateZ(30deg) translateY(400%);
-moz-transform:rotateZ(30deg) translateY(400%);
-o-transform:rotateZ(30deg) translateY(400%);
transform:rotateZ(30deg) translateY(400%);}
.sunbeam-3{-webkit-transform:rotateZ(60deg) translateY(400%);
-moz-transform:rotateZ(60deg) translateY(400%);
-o-transform:rotateZ(60deg) translateY(400%);
transform:rotateZ(60deg) translateY(400%);}
.sunbeam-4{-webkit-transform:rotateZ(90deg) translateY(400%);
-moz-transform:rotateZ(90deg) translateY(400%);
-o-transform:rotateZ(90deg) translateY(400%);
transform:rotateZ(90deg) translateY(400%);}
.sunbeam-5{-webkit-transform:rotateZ(120deg) translateY(400%);
-moz-transform:rotateZ(120deg) translateY(400%);
-o-transform:rotateZ(120deg) translateY(400%);
transform:rotateZ(120deg) translateY(400%);}
.sunbeam-6{-webkit-transform:rotateZ(150deg) translateY(400%);
-moz-transform:rotateZ(150deg) translateY(400%);
-o-transform:rotateZ(150deg) translateY(400%);
transform:rotateZ(150deg) translateY(400%);}
.sunbeam-7{-webkit-transform:rotateZ(180deg) translateY(400%);
-moz-transform:rotateZ(180deg) translateY(400%);
-o-transform:rotateZ(180deg) translateY(400%);
transform:rotateZ(180deg) translateY(400%);}
.sunbeam-8{-webkit-transform:rotateZ(210deg) translateY(400%);
-moz-transform:rotateZ(210deg) translateY(400%);
-o-transform:rotateZ(210deg) translateY(400%);
transform:rotateZ(210deg) translateY(400%);}
.sunbeam-9{-webkit-transform:rotateZ(240deg) translateY(400%);
-moz-transform:rotateZ(240deg) translateY(400%);
-o-transform:rotateZ(240deg) translateY(400%);
transform:rotateZ(240deg) translateY(400%);}
.sunbeam-10{-webkit-transform:rotateZ(270deg) translateY(400%);
-moz-transform:rotateZ(270deg) translateY(400%);
-o-transform:rotateZ(270deg) translateY(400%);
transform:rotateZ(270deg) translateY(400%);}
.sunbeam-11{-webkit-transform:rotateZ(300deg) translateY(400%);
-moz-transform:rotateZ(300deg) translateY(400%);
-o-transform:rotateZ(300deg) translateY(400%);
transform:rotateZ(300deg) translateY(400%);}
.sunbeam-12{-webkit-transform:rotateZ(330deg) translateY(400%);
-moz-transform:rotateZ(330deg) translateY(400%);
-o-transform:rotateZ(330deg) translateY(400%);
transform:rotateZ(330deg) translateY(400%);}

/* makes the sunbeam rotate */
@-webkit-keyframes shining{ 
	0% {-webkit-transform:rotateZ(0deg);
		-moz-transform:rotateZ(0deg);
		-o-transform:rotateZ(0deg);
		transform:rotateZ(0deg);}
	100% {-webkit-transform:rotateZ(360deg);
		-moz-transform:rotateZ(360deg);
		-o-transform:rotateZ(360deg);
		transform:rotateZ(360deg);}
}
@-moz-keyframes shining{ 
	0% {-webkit-transform:rotateZ(0deg);
		-moz-transform:rotateZ(0deg);
		-o-transform:rotateZ(0deg);
		transform:rotateZ(0deg);}
	100% {-webkit-transform:rotateZ(360deg);
		-moz-transform:rotateZ(360deg);
		-o-transform:rotateZ(360deg);
		transform:rotateZ(360deg);}
}
@-o-keyframes shining{ 
	0% {-webkit-transform:rotateZ(0deg);
		-moz-transform:rotateZ(0deg);
		-o-transform:rotateZ(0deg);
		transform:rotateZ(0deg);}
	100% {-webkit-transform:rotateZ(360deg);
		-moz-transform:rotateZ(360deg);
		-o-transform:rotateZ(360deg);
		transform:rotateZ(360deg);}
}
@keyframes shining{ 
	0% {-webkit-transform:rotateZ(0deg);
		-moz-transform:rotateZ(0deg);
		-o-transform:rotateZ(0deg);
		transform:rotateZ(0deg);}
	100% {-webkit-transform:rotateZ(360deg);
		-moz-transform:rotateZ(360deg);
		-o-transform:rotateZ(360deg);
		transform:rotateZ(360deg);}
}

/* move the sun up and down like it's flowting */
@-webkit-keyframes breath{ 
	0% { -webkit-transform: translateY(-5%);
		-moz-transform: translateY(-5%);
		-o-transform: translateY(-5%);
		transform: translateY(-5%);}
	50% { -webkit-transform: translateY(5%);
		-moz-transform: translateY(5%);
		-o-transform: translateY(5%);
		transform: translateY(5%);}
	100% { -webkit-transform: translateY(-5%);
		-moz-transform: translateY(-5%);
		-o-transform: translateY(-5%);
		transform: translateY(-5%);}
	
}
@-moz-keyframes breath{ 
	0% { -webkit-transform: translateY(-5%);
		-moz-transform: translateY(-5%);
		-o-transform: translateY(-5%);
		transform: translateY(-5%);}
	50% { -webkit-transform: translateY(5%);
		-moz-transform: translateY(5%);
		-o-transform: translateY(5%);
		transform: translateY(5%);}
	100% { -webkit-transform: translateY(-5%);
		-moz-transform: translateY(-5%);
		-o-transform: translateY(-5%);
		transform: translateY(-5%);}
	
}
@-o-keyframes breath{ 
	0% { -webkit-transform: translateY(-5%);
		-moz-transform: translateY(-5%);
		-o-transform: translateY(-5%);
		transform: translateY(-5%);}
	50% { -webkit-transform: translateY(5%);
		-moz-transform: translateY(5%);
		-o-transform: translateY(5%);
		transform: translateY(5%);}
	100% { -webkit-transform: translateY(-5%);
		-moz-transform: translateY(-5%);
		-o-transform: translateY(-5%);
		transform: translateY(-5%);}
	
}
@keyframes breath{ 
	0% { -webkit-transform: translateY(-5%);
		-moz-transform: translateY(-5%);
		-o-transform: translateY(-5%);
		transform: translateY(-5%);}
	50% { -webkit-transform: translateY(5%);
		-moz-transform: translateY(5%);
		-o-transform: translateY(5%);
		transform: translateY(5%);}
	100% { -webkit-transform: translateY(-5%);
		-moz-transform: translateY(-5%);
		-o-transform: translateY(-5%);
		transform: translateY(-5%);}
	
}

/* this sun is alive, he blinks like everyone */
@-webkit-keyframes blink{ 
	0% { height: 15%;bottom: 0%;}
	5% {height: 1%;bottom: -15%;}
	10% {height: 15%;bottom: 0%;}
}
@-moz-keyframes blink{ 
	0% { height: 15%;bottom: 0%;}
	5% {height: 1%;bottom: -15%;}
	10% {height: 15%;bottom: 0%;}
}
@-o-keyframes blink{ 
	0% { height: 15%;bottom: 0%;}
	5% {height: 1%;bottom: -15%;}
	10% {height: 15%;bottom: 0%;}
}
@keyframes blink{ 
	0% { height: 15%;bottom: 0%;}
	5% {height: 1%;bottom: -15%;}
	10% {height: 15%;bottom: 0%;}
}




