body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 500px;
	height: 700px;
	margin: 0 auto;
	margin-top: 48px;
	text-align: center;
	background: #fff;
}

h1 {

	font-size: 3.9em;
	font-weight: 600;
	margin-bottom: 30px;

}

h2 {

	font-size: 2em;
	
	margin-bottom: 30px;

}

.borders {
	width: 100%;
	height: 50px;
	padding: 15px 0px 3px 3px;
	margin: 30px 1px 3px 0px;
	border: 1px solid #000000;
	text-align: center;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #49708A;
}

.error {
	color: red;
}

/* Label */

label {
	font-size: 1em;
}

.right {
	width: 100%;
	text-align: right;
}

/* Input */


input[type=text], input[type=password] {
	width: 100%;
	height: 50px;
	font-size: 1.5em;
	font-weight: 300;
	  -webkit-transition: all 0.30s ease-in-out;
	  -moz-transition: all 0.30s ease-in-out;
	  -ms-transition: all 0.30s ease-in-out;
	  -o-transition: all 0.30s ease-in-out;
	  outline: none;
	  padding: 3px 0px 3px 3px;
	  margin: 5px 1px 3px 0px;
	  border: 1px solid #DDDDDD;

}

input[type=text]:focus, input[type=password]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

input[type=submit] {
	width: 50%;
	display: block;
	margin: 0 auto;
	font-size: 1em;
}


.user_info {
	display: block;
	margin-bottom: 40px;
}

.button {
	font-size: 1em;
}


input[type=text].input_captcha {
	width: 60%;
}

.captcha {
	display: inline;
	width: 20%;

}


form {
	width: 90%;
	margin: 0 auto;
	text-align: left;
}


.wait {
	display: block;
	margin-top: 40px;
	font-size: 2em;
	font-weight: 400;
}

#timer {
	
	font-weight: 800italic;
}



/* visiblity */

.visible {
	display: block;
}

.not_visible {
	display: none;
}

.forget, .exit {
	font-size: 1em;
	color: #AAB3AB;
	text-align: right;
	cursor: pointer;
	margin-right: 20px;
}

.exit {
	text-align: left;
	margin-left: 20px;
}

/* moto */

.moto {
	width : 100%;
	opacity: 0;
	margin:0;
	  padding:0;
	  background: url(../media/moto.jpg) no-repeat center fixed; 
	 /* -webkit-background-size: cover;  pour anciens Chrome et Safari 
	  background-size: cover; /* version standardisée */*/
}








