/*--------------------------- A FULL CSS EXPERIENCE - CLEMENT SOLER -------------------------------*/
html {
	min-height: 100%;
}
body {
	width: 100%;
	min-height: 100%;
	font-family:'Helvetica Neue',Arial;
	margin: 0;
	padding: 0;
	background-color: white;
	overflow: hidden;
}
/*---------------------------- FIRSTPLAN ENTRANCE -------------------------------*/
#firstplan{
	width: 100%;
	top:0;
	left: 0;
	min-height:100%;
	background-image: url(../img/whiteroom.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute; 
	-webkit-animation: zoomin 4s;
	-webkit-animation-delay:2.5s;
		-moz-animation: zoomin 4s;
		-moz-animation-delay:2.5s; 
			-o-animation: zoomin 4s;
			-o-animation-delay:2.5s; 
				animation: zoomin 4s;
				animation-delay:2.5s;  
}
#digicode{
	width: 50px;
	height: 70px;
	background-color:white;
	border: 6px solid black;
	margin-left: 950px;
	margin-top: 350px;
	position: fixed;
	z-index: 3;
}
.fa-circle-o-notch{
	color: #14b8f5;
	margin-left: 8px; 
	position:relative;
	margin-top: 20px;
}
#borderdoor{
	margin-top: 50px;
	width: 400px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#door{
	width: 400px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -600px;
		-webkit-animation:door 2s;
		-webkit-animation-delay:2s;
			-moz-animation:door 2s;
			-moz-animation-delay:2s;
				-o-animation:door 2s;
				-o-animation-delay:2s;
					animation:door 2s;
					animation-delay:2s;
}
/*---------------------------- SECOND PLAN PLUGIN INITIALIZE -------------------------------*/
#secondplan{
	width: 100%;
	top:0;
	left: 0;
	min-height:100%;
	background-color: black;
	position: absolute;
	display: none; 
}
#cable{
	width: 400px;
	height: 10px;
	background-color: #ecf0f1;
	left: 0;
	margin-top: 400px;
}
#plug{
	width: 70px;
	height: 30px;
	background-color: #ecf0f1;
	margin-top: -20px;
	margin-left: 400px;
	position: absolute;
	cursor: pointer;
}
#plug-in{
	width:30px;
	height: 25px;
	border-top-right-radius:10px ;
	border-bottom-right-radius:10px ;
	background-color: #bdc3c7; 
	margin-left: 470px;
	margin-top: -17px;
	cursor: pointer;
}
.info{
	padding: 10px;
	background-color: rgba(255,255,255,0.2); 
	left: 0;
	margin-top: 30px;
	position: absolute;
	border-top-right-radius:10px ;
	border-bottom-right-radius:10px ;
	-webkit-animation:slidetoleft 3s ease;
		-moz-animation:slidetoleft 3s ease;
			-o-animation:slidetoleft 3s ease;
				animation:slidetoleft 3s ease;
}
.info p{
	color: #bdc3c7;
}
.next{
	padding: 5px;
	background-color: #e74c3c;
	border-radius: 5px;
	float: right;
	color: white;
	cursor: pointer;
}
#co-into{
	padding: 20px;
	background-color: #ecf0f1;
	position: absolute;
	right: 0;
	margin-top: -50px;
}
.fa-code-fork{
	color: black;
}
#secondmessage{
	display: none;
}
/*---------------------------- THIRD PLAN WINDOWS 10 -------------------------------*/
#screen{
	width: 100%;
	height: 800px;
	left:0;
	top:0;
	position:absolute; 
	background:url(../img/ww1.jpg) no-repeat center center;
	background-size:cover;
	display: none;
	-webkit-animation:background 40s infinite;
		-moz-animation:background 40s infinite;
			-o-animation:background 40s infinite;
				animation:background 40s infinite;
}
#thirdmessage{
	display: none;
	position: absolute;
	z-index: 2;
	background-color: rgba(255,255,255,0.5);
}
#thirdmessage p{
	color: black;
}
#thirdmessage i{
	color: black;
}
#switch{
	display: none;
}
/*---------------------------- WINDOWS 10 -------------------------------*/
/*---------------------------- DOCK --------*/
#dock {
	height:50px;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	background-color:rgba(81,93,105,0.7);
	display: block;
	z-index: 1;
}
i {
	margin-top:-7px;
	color:white;
}
/*---- WINDOWS & SEARCH ICON  ----*/
#keywin {
	padding: 13px;
	left: 0;
	bottom: 0;
	margin-left: -16px;
	cursor: pointer;
}
#keywin:hover {
	background-color:#0259B3;
}
nav#left {
	margin-left:-2%;
}
nav#left ul li {
	display:inline-block;
	left:0;
	margin-top: -16px;
}
nav#left ul li img {
	margin-left: 20px;
}
/*--------- DATE/HEURE/OTHERS ----*/
nav#right {
	float:right;
	margin-top:-91px;
	margin-right:30px;
	color:white;
}
nav#right ul {
	list-style:none;
}
nav#right ul li {
	font-size:12px;
	text-align:center;
	display: inline-block;
}
nav#right ul li img{
	margin-right: 20px;
	margin-top: 15px;
}
nav#right ul li p {
	float: right;
	margin-top: -10px;
	text-align: center;
}
/*---------------------- START MENU --------*/
#startmenu {
	bottom:50px;
	left:0;
	width:27%;
	height:470px;
	background-color:#0259B3;
	position:fixed;
	display:none;
	transition:all 1s;
	z-index: 2;
}
#startmenu nav ul {
	list-style:none;
}
#startmenu nav ul li {
	display:block;
	padding:5px 0 5px;
	color:white;
	font-weight:lighter;
}
#startmenu nav ul li p#title {
	float:right;
	margin-right:170px;
	color:white;
	font-weight:lighter;
	font-size:20px;
	margin-top:10px;
}
#startmenu nav ul li p {
	margin-top:-25px;
	margin-left:10px;
}
#startmenu nav ul li img {
	margin-left:-25px;
}
#startmenu nav ul li input {
	margin-left:-25px;
	width:217px;
	border:none;
	background-color:rgba(255,255,255,0.3);
	font-weight:lighter;
	color:white;
	padding:10px;
	outline:none;
}
.fa.fa-arrow-right {
	margin-left:-25px;
}
i.fa.fa-power-off {
	font-size:20px;
}
#windowsnotif{
	padding: 20px;
	background-color: #0259B3;
	right: 0;
	position: absolute;
	margin-top: 30px;
	text-align: center;
	color: white;
	display: none;
	-webkit-animation:slidetoright 1s ease;
		-moz-animation:slidetoright 1s ease;
			-o-animation:slidetoright 1s ease;
				animation:slidetoright 1s ease;
}
/*----------------------- MORE APPS --------*/
#tuileapp {
	float:right;
	margin-top:-458px;
	display:none;
	margin-right: 10px;
}

#window {
	width: 990px;
	left: 5px;
	max-width: 990px;
	max-height: 550px;
	min-height: 550px;
	min-width: 823px;
	background-color:rgba(81,93,105,0.2);
	display: none; 
	position: absolute;
}
.flip:hover{
-webkit-animation:flip 4s linear 0s;
	-moz-animation:flip 4s linear 0s;
		-o-animation:flip 4s linear 0s;
			animation:flip 4s linear 0s;
}
.vflip:hover{
-webkit-animation:flip 4s linear 0s;
	-moz-animation:flip 4s linear 0s;
		-o-animation:flip 4s linear 0s;
			animation:flip 4s linear 0s;
}
/*---------------------------- ANDROID -------------------------------*/
.fa-times-circle{
	color: red;
	position: absolute;
	cursor: pointer;
}
#android{
	width: 350px;
	height: 500px;
	background-image: url(../img/nexus.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	display: none;
	z-index: 2;
	margin:117px 0px 0px 699px;
	-webkit-animation:caspermode 2s ease;
		-moz-animation:caspermode 2s ease;
			-o-animation:caspermode 2s ease;
				animation:caspermode 2s ease;
}
#mscreen {
	width: 228px;
	height: 338px;
	position: relative;
	margin: 73px 0px 0 14px;
	background-image: url(../img/backnexus.jpg);
	background-size: cover;
	text-align: center;
}
nav#mdock{
	margin-left: -38px;
	margin-top: -15px;
	position: absolute;
}
nav#mdock ul{
	list-style: none;
}
nav#mdock ul li{
	display: inline-block;
	margin-left: 5px;
}
nav#mdock ul li img{
	width: 35px;
}
.panel{
	width:228px;
	height: 281px;
	background-color: transparent;
	position: absolute;
	-webkit-animation:slidetorightmobile 1s ease;
		-moz-animation:slidetorightmobile 1s ease;
			-o-animation:slidetorightmobile 1s ease;
				animation:slidetorightmobile 1s ease;
}
#home2{
	display: none;
}
i.forandroid{
	position: relative;
	color: rgba(255,255,255,0.5);
	margin-top: 280px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	z-index: 1;
	cursor: pointer;
}
ul.iconpage{
	list-style: none;
	margin-left: -30px;
}
ul.iconpage li{
	display: inline-block;
	margin: 15px 2px 0px 2px;
	-webkit-animation:caspermode 1s ease;
		-moz-animation:caspermode 1s ease;
			-o-animation:caspermode 1s ease;
				animation:caspermode 1s ease;
}
.choosem{
	padding: 5px;
	background-color: white;
	width: 80px;
	color:#0259B3;
	cursor: pointer;
	display: inline-block;
	margin-top: 10px;
}
/*---------------------------- IPHONE -------------------------------*/
#iphone{
	width: 350px;
	height: 500px;
	background-image: url(../img/iphone.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	display: none;
	z-index: 2;
	margin-left: 425px;
	margin-top: 155px;
	-webkit-animation:caspermode 2s ease;
		-moz-animation:caspermode 2s ease;
			-o-animation:caspermode 2s ease;
				animation:caspermode 2s ease;
}
#mscreeniphone {
	width: 228px;
	height: 338px;
	position: relative;
	margin: 73px 0px 0 14px;
	background-image: url(img/backnexus.jpg);
	background-size: cover;
	text-align: center;
}
nav#mdockiphone{
	margin-left: -9px;
	margin-top: -15px;
	position: absolute;
}
nav#mdockiphone ul{
	list-style: none;
}
nav#mdockiphone ul li{
	display: inline-block;
	margin-left: 5px;
}
nav#mdockiphone ul li img{
	width: 35px;
}

#iphonehome{
	margin-top: -5px;
}
#iphonehome2{
	display: none;
	margin-top: -5px;
}
.foriphone{
	position: relative;
	color: rgba(255,255,255,0.5);
	margin-top: 254px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	z-index: 1;
	cursor: pointer;
}
ul.iconpageiphone{
	list-style: none;
	margin-left: -30px;
}
ul.iconpageiphone li{
	display: inline-block;
	margin: 10px 2px 0px 2px;
	-webkit-animation:caspermode 1s ease;
		-moz-animation:caspermode 1s ease;
			-o-animation:caspermode 1s ease;
				animation:caspermode 1s ease;
}
/*---------------------------- INTERFACE PHOTOSHOP(PS) -------------------------------*/
/*----------------- PHOTOSHOP HEAD ----*/
#headps{
	background-color: #5E5E5E;
	width: 100%;
	height: 19px;
	border-bottom: 1px solid gray;
	margin-top: -16px;
}
nav#headps ul li{
	display: inline-block;
	margin-top: 4px;
}
nav#headps ul{
	margin-left: -40px;
}
li.topleftcontrols{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-left: 5px;
	background-color: white;
}
li.topleftcontrols:nth-child(1){
	background-color: #C14B41;
	cursor: pointer;
}
li.topleftcontrols:nth-child(2){
	background-color: #FFE48C;
}
li.topleftcontrols:nth-child(3){
	background-color: #ACD27F;
}
/*-------------------- SECOND HEAD ----*/
#secondhead{
	background-color: #5E5E5E;
	width: 100%;
	height: 35px;
}
/*--------------------- ASIDE LEFT ----*/
#asideleft{
	background-color: #5E5E5E;
	width: 74px;
	float: left;
	height: 494px;	
}
td.tools{
	padding:15px;
	border: 2px solid #5E5E5E;
	background-color:#1D1D1D;
	border-radius: 7px;
}
#A4{
	width: 500px;
	height: 400px;
	background-color: white;
	margin-right: 12%;
	margin-left: 12%;
	margin-top: 50px;
}
/*-------------------- ASIDE RIGHT ----*/
#asideright{
	float: right;
	width: 200px;
	height: 494px;
	background-color: #5E5E5E;
	margin-top: -450px;
}
#righttools{
	width: 196px;
	height: 200px;
	background-color:#1D1D1D;
	position: relative;
}
/*---------------------------- KEYFRAMES START -------------------------------*/
/*-------------------- SLIDE TO (LEFT,RIGHT) ----*/
/*left*/
@-webkit-keyframes slidetoleft {
 	0%{margin-left: -400px;color:transparent;} 
 	100% {margin-left:0px;}
}
@-moz-keyframes slidetoleft {
 	0%{margin-left: -400px;color:transparent;} 
 	100% {margin-left:0px;}
}
@-o-keyframes slidetoleft {
 	0%{margin-left: -400px;color:transparent;} 
 	100% {margin-left:0px;}
}
@keyframes slidetoleft { 
	0%{margin-left: -400px;color:transparent;} 
 	100% {margin-left:0px;}
}
/*right*/
@-webkit-keyframes slidetoright {
 	0%{margin-right:-229px;} 
 	100% {margin-right:0px;}
}
@-moz-keyframes slidetoright {
 	0%{margin-right:-229px;} 
 	100% {margin-right:0px;}
}
@-o-keyframes slidetoright {
 	0%{margin-right:-229px;} 
 	100% {margin-right:0px;}
}
@keyframes slidetoright { 
	0%{margin-right: -229px;} 
 	100% {margin-right:0px;}
}
/*SLIDE DOOR TO TOP*/
@-webkit-keyframes door {
 	0%{margin-top: -600px} 
 	100% {margin-top:-2000px;}
}
@-moz-keyframes door {
 	0%{margin-top: -600px} 
 	100% {margin-top:-2000px;}
}
@-o-keyframes door {
 	0%{margin-top: -600px} 
 	100% {margin-top:-2000px;}
}
@keyframes door {
 	0%{margin-top: -600px} 
 	100% {margin-top:-2000px;}
}
/*ZOOM*/
@-webkit-keyframes zoomin {
	from,to { -webkit-transform: none; }
	100% { -webkit-transform: scale(5); }
}
@-moz-keyframes zoomin {
	from,to { -moz-transform: none; }
	100% { -moz-transform: scale(5); }
}
@-o-keyframes zoomin {
	from,to { -o-transform: none; }
	100% { -o-transform: scale(5); }
}
@keyframes zoomin {
	from,to { transform: none; }
	100% { transform: scale(5); }
}
/*BACKGROUNDCHANGE*/
@-webkit-keyframes background{
	0%{background-image: url(../img/ww1.jpg);}
	20%{background-image: url(../img/ww3.jpg);}
	40%{background-image: url(../img/ww2.jpg);}
	60%{background-image: url(../img/ww4.jpg);}
	80%{background-image: url(../img/ww5.jpg);}
	100%{background-image: url(../img/ww1.jpg);}
}
@-moz-keyframes background{
	0%{background-image: url(../img/ww1.jpg);}
	20%{background-image: url(../img/ww3.jpg);}
	40%{background-image: url(../img/ww2.jpg);}
	60%{background-image: url(../img/ww4.jpg);}
	80%{background-image: url(../img/ww5.jpg);}
	100%{background-image: url(../img/ww1.jpg);}
}
@-o-keyframes background{
	0%{background-image: url(../img/ww1.jpg);}
	20%{background-image: url(../img/ww3.jpg);}
	40%{background-image: url(../img/ww2.jpg);}
	60%{background-image: url(../img/ww4.jpg);}
	80%{background-image: url(../img/ww5.jpg);}
	100%{background-image: url(../img/ww1.jpg);}
}
@keyframes background{
	0%{background-image: url(../img/ww1.jpg);}
	20%{background-image: url(../img/ww3.jpg);}
	40%{background-image: url(../img/ww2.jpg);}
	60%{background-image: url(../img/ww4.jpg);}
	80%{background-image: url(../img/ww5.jpg);}
	100%{background-image: url(../img/ww1.jpg);}
}
/*FLIP*/
@-webkit-keyframes flip{
	0%{-webkit-transform:rotateY(0deg) rotateX(0deg);}
	100%{-webkit-transform:rotateY(360deg) rotateX(0deg);}
}
@-moz-keyframes flip{
	0%{-moz-transform:rotateY(0deg) rotateX(0deg);}
	100%{-moz-transform:rotateY(360deg) rotateX(0deg);}
}
@-o-keyframes flip{
	0%{-o-transform:rotateY(0deg) rotateX(0deg);}
	100%{-o-transform:rotateY(360deg) rotateX(0deg);}
}
@keyframes flip{
	0%{transform:rotateY(0deg) rotateX(0deg);}
	100%{transform:rotateY(360deg) rotateX(0deg);}
}
/*VARIALFLIP*/
@-webkit-keyframes vflip{
	0%{-webkit-transform:rotateY(0deg) rotateX(0deg);}
	100%{-webkit-transform:rotateY(360deg) rotateX(360deg);}
}
@-moz-keyframes vflip{
	0%{-moz-transform:rotateY(0deg) rotateX(0deg);}
	100%{-moz-transform:rotateY(360deg) rotateX(360deg);}
}
@-o-keyframes vflip{
	0%{-o-transform:rotateY(0deg) rotateX(0deg);}
	100%{-o-transform:rotateY(360deg) rotateX(360deg);}
}
@keyframes vflip{
	0%{transform:rotateY(0deg) rotateX(0deg);}
	100%{transform:rotateY(360deg) rotateX(360deg);}
}
/*SWIPEMOBILE*/
@-webkit-keyframes slidetorightmobile {
 	0%{margin-left: -70px;} 
 	100% {margin-left:0px;}
}
@-moz-keyframes slidetorightmobile {
 	0%{margin-left: -70px;} 
 	100% {margin-left:0px;}
}
@-o-keyframes slidetorightmobile {
 	0%{margin-left: -70px;} 
 	100% {margin-left:0px;}
}
@keyframes slidetorightmobile { 
	0%{margin-left: -70px;} 
 	100% {margin-left:0px;}
}
/*CASPERMODE (mdr)*/
@-webkit-keyframes caspermode {
 	0%{opacity: 0;} 
 	100% {opacity:1;}
}
@-moz-keyframes caspermode {
 	0%{opacity: 0;} 
 	100% {opacity:1;}
}
@-o-keyframes caspermode {
 	0%{opacity: 0;} 
 	100% {opacity:1;}
}
@keyframes caspermode { 
	0%{opacity: 0;} 
 	100% {opacity:1;}
}
/*---------------------------- KEYFRAMES END-------------------------------*/