.dessin{
	display: block;
	margin: 0px;
}

.ciel{
	display: block;
	background-color: #A0E0E0;
	width: 1200px;
	height: 545px;
	top: 0;
	left: 0;
	position: fixed;
}

.sol{
	display: block;
	background-color: #FEF8A6;
	top:505px;
	width: 1200px;
	height: 199px;
	left:0px;
	position: fixed;
}

.mare{
	display: block;
	position: fixed;
	border-radius: 100%;
	background-color: #29ABE2;
}

.nenuphar{
	display: block;
	position: fixed;
	background-color: #147809;
	width: 224px;
	height: 44px;
	border-radius: 100%;
	left: 374px;
	top: 574px;
}

.flaque1{
	width: 750.6px;
	height: 134.9px;
	left: 292.6px;
	top: 528.31px;
}

.flaque2{
	width: 342px;
	height: 92.8px;
	left: 736.9px;
	top: 556.9px;
}


.grenouille{
	display: block;
	background-color: #32C422;	
	border-radius: 100%;
	width: 122px;
	height: 122px;
	left: 124px;
	top: 473px;
	position: fixed;

}

.bordOeil{
	display: block;
	width: 31px;
	height: 31px;
	border-radius: 100%;
	position: fixed;
	background-color: #32C422;	
}

.bordOeilGauche{
	top: 458px;
	left: 140.5px;
}

.bordOeilDroit{
	top: 458px;
	left: 198px;
}

.oeilNoir{
	width: 20px;
	height: 20px;
	background-color: #000;
	border-radius: 100%;
	position: fixed;
}

.oeilNoirGauche{
	left: 146px;
	top: 463.5px;
}

.oeilNoirDroit{
	left: 204px;
	top:463.5px;
}

.oeilBlanc{
	width: 7.1px;
	height: 7.1px;
	background-color: #fff;
	border-radius: 100%;
	position: fixed;
}

.oeilBlancGauche{
	left: 153.8px;
	top: 474.8px;
}

.oeilBlancDroit{
	left: 210.8px;
	top: 474.8px;
}

.bouche{
	display: block;
	position: fixed;
	width: 66.5px;
	height: 21.5px;
	background-color: #000;
	border-radius: 100%;
	left: 151.5px;
	top: 544.5px;
}

.narines{
	display: block;
	position: fixed;
	width: 3.5px;
	height: 8px;
	background-color: #000;
	border-radius: 100%;
}

.narineGauche{
	left: 175px;
	top: 503.5px;
}

.narineDroite{
	left: 189px;
	top: 503.5px;
}

.vertFonce{
	background-color: #147809;
}

.tache1{
	display: block;
	position: fixed;	
	width: 5.1px;
	height: 4.5px;
	border-radius: 100%;
	left: 135.31px;
	top: 506.7px;
}

.tache2{
	display: block;
	position: fixed;	
	width: 9.9px;
	height: 8.8px;
	border-radius: 100%;
	left: 130.5px;
	top: 516.5px;
}

.tache3{
	display: block;
	position: fixed;	
	width: 7.2px;
	height: 7.2px;
	border-radius: 100%;
	left: 216.6px;
	top: 524px;
}

.tache4{
	display: block;
	position: fixed;	
	width: 4.8px;
	height: 4.8px;
	border-radius: 100%;
	left: 221.2px;
	top: 511.2px;
}

.tache5{
	display: block;
	position: fixed;	
	width: 9.7px;
	height: 9.7px;
	border-radius: 100%;
	left: 228.7px;
	top: 519.5px;
	
}



@-webkit-keyframes saut {
 	0%{-webkit-transform: translate(0px, 0px);}
 	25%{-webkit-transform: translate(280px, -350px);}
 	40%{-webkit-transform: translate(300px, 0px);}
 	60%{-webkit-transform: translate(300px, 0px);}
 	85%{-webkit-transform: translate(20px, -350px);}
 	100%{-webkit-transform: translate(0px, 0px);}
}

.saut {
    -webkit-animation: saut 3.5s ease-in-out infinite;
}

.pattes{
	display: block;
	position: fixed;
	width: 43.7px;
	height: 24.2px;
	background-color: #32C422;	
	border-radius: 100%;
}

.patteGauche{
	left: 113.5px;
	top: 571.2px;
}

.patteDroite{
	left: 211.7px;
	top: 571.2px;
}


.carre{
	display: block;
	position: fixed;
	width: 167px;
	height: 167px;
	left: 802px;
	top: 59px;
}


.carre1{
	background-color: #FFFF00;
}

.carre2{
	background-color: #FFFF99;
}

.yeux{
	display: block;
	position: fixed;
	width: 33px;
	height: 33px;
	border-radius: 100%;
	background-color: #000;
}

.oeilGauche{
	left: 830.5px;
	top: 95px;
}

.oeilDroit{
	left: 909.5px;
	top: 95px;
}

@-webkit-keyframes clindOeil {
 	0%{-webkit-transform: scaleY(1);}
 	45%{-webkit-transform: scaleY(1);}
 	50%{-webkit-transform: scaleY(0.3);}
 	55%{-webkit-transform: scaleY(1);}
 	100%{-webkit-transform: scaleY(1);}
}

.clindOeil{
    -webkit-animation: clindOeil 3s ease-in-out infinite;
}

.boucheSoleil{
	display: block;
	position: fixed;
	background-color: #000;
	width: 68.4px;
	height: 68.4px;
	border-radius: 100%;
	left: 852.6px;
	top: 140px;
}

.boucheSoleilRectangle{
	display: block;
	position: fixed;
	background-color: #FFFF00;
	width: 116px;
	height: 29px;
	left: 830px;
	top: 140px;
}


@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 6s linear infinite;
}


@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotate {
    -webkit-animation:rotate 6s linear 0.8s infinite;
}

