
 body{
	  font-family:Helvetica,arial;
	  background: #eee;
	  background-image:url(http://fc02.deviantart.net/fs71/i/2011/156/3/8/stars_background_by_fantmayo-d3i3bs2.jpg);
	}



 video{
	  width: 800px;
	  height: 600px;
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
    }


 .toggle{
     background-color: transparent;
     color: white;
     font-size: 15px;
	 width: 90px;
	 height: 30px;
	 position: absolute;
	 margin: auto;
	 top: 500px;
	 right: 100px;
	 bottom: 0;
	 left: 0;
    }

 .volume-down{
	 background-color: transparent;
	 color: white;
	 font-size: 15px;
	 width: 30px;
	 height: 30px;
	 position: absolute;
	 margin: auto;
	 top: 500px;
	 right: 0;
	 bottom: 0;
	 left: 150px;
    }

 .volume-up{
	 background-color: transparent;
	 color: white;
	 font-size: 15px;
	 width: 30px;
	 height: 30px;
	 position: absolute;
	 margin: auto;
	 top: 500px;
	 right: 0;
	 bottom: 0;
	 left: 80px;
    }

 .full-screen{
	 background-image:url(fullscreen.png);
	 width: 34px;
	 height: 34px;
	 position: absolute;
	 margin: auto;
	 top: 500px;
	 right: 0;
	 bottom: 0;
	 left: 765px;
    }

 #banner{
	 width: 360px;
	 height:65px;
	 position: absolute;
	 margin: auto;
	 top: -530px;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 border-width: 2px;
	 border-style: inset;
    }





