body{background: #8ca6ae;}

/************TAMAGOTCHI*************/
.container_tamagotchi{
	position: relative;
	left: 500px;
	width: 240px;
	height: 250px;
	-webkit-animation: eat 5s linear 0s;
	-moz-animation: eat 5s linear 0s;
	-0-animation: eat 5s linear 0s;
}

.tamagotchi{background: #4d484f; width: 20px;height: 20px;}


/* 5 carrés du haut */
.position_1{position: absolute;left: 50px;top:50px;}

.position_2{position: absolute;left: 75px;top:50px;}

.position_3{position: absolute;left: 100px;top:50px;}

.position_4{position: absolute;left: 125px;top:50px;}

.position_5{position: absolute;left: 150px;top:50px;}


/* 2 carrés diagonale haut */
.position_6{position: absolute;left: 25px;top: 70px;}

.position_7{position: absolute;left: 175px;top: 70px;}


/* 4 carrés de gauche */
.position_8{position: absolute;left: 5px;top: 95px;}

.position_9{position: absolute;left: 5px;top: 120px;}

.position_10{position: absolute;left: 5px;top: 145px;}

.position_11{position: absolute;left: 5px;top: 170px;}


/* 4 carrés de droite */
.position_12{position: absolute;left: 195px;top: 95px;}

.position_13{position: absolute;left: 195px;top: 120px;}

.position_14{position: absolute;left: 195px;top: 145px;}

.position_15{position: absolute;left: 195px;top: 170px;}


/* 2 carrés diagonale bas */
.position_16{position: absolute;left: 25px;top: 195px;}

.position_17{position: absolute;left: 175px;top: 195px;}


/* 5 carrés du bas */
.position_18{position: absolute;left: 50px;top:215px;}

.position_19{position: absolute;left: 75px;top:215px;}

.position_20{position: absolute;left: 100px;top:215px;}

.position_21{position: absolute;left: 125px;top:215px;}

.position_22{position: absolute;left: 150px;top:215px;}


/*yeux*/
.position_23{position: absolute;left: 65px;top: 95px;}

.position_24{position: absolute;left: 125px;top: 95px;}


/*bouche*/
.position_25{position: absolute;left: 85px;top: 145px;-webkit-animation: bouche 5s linear 0s;-moz-animation: bouche 5s linear 0s;-0-animation: bouche 5s linear 0s;}

.position_26{position: absolute;left: 105px;top: 145px;-webkit-animation: bouche 5s linear 0s;-moz-animation: bouche 5s linear 0s;-0-animation: bouche 5s linear 0s;}


/************** CAKE ******************/
.cakes{position: absolute;top: 100px;width: 200px;height: 180px;}

.cakefull{
	background: url(cakefull.png);
	-webkit-animation: cakefull 5s linear 0s;
	-moz-animation: cakefull 5s linear 0s;
	-0-animation: cakefull 5s linear 0s;
}

.cakeeating{
	background: url(cakeeating.png);
	-webkit-animation: cakeeating 5s linear 0s;
	-moz-animation: cakeeating 5s linear 0s;
	-0-animation: cakeeating 5s linear 0s;
}

.cakeeated{
	background: url(cakeeated.png);
	-webkit-animation: cakeeated 5s linear 0s;
	-moz-animation: cakeeated 5s linear 0s;
	-0-animation: cakeeated 5s linear 0s;
}

/************** ANIMATION**************/
/*CHROME*/
@-webkit-keyframes eat{
	0%{left: 500px;-webkit-transform: scaleY(1.1);bottom: 10px;}
	5%{-webkit-transform: scaleY(1.05);bottom: 0px;}
	10%{-webkit-transform: scaleY(1); bottom:10px;}
	15%{-webkit-transform: scaleY(1.05);bottom: 0px;}
	20%{-webkit-transform: scaleY(1); bottom:10px;}
	25%{-webkit-transform: scaleY(1.05);bottom: 0px;}
	30%{-webkit-transform: scaleY(1); bottom:10px;}
	35%{-webkit-transform: scaleY(1.05);bottom: 0px;}
	40%{-webkit-transform: scaleY(1); bottom:10px;}
	45%{-webkit-transform: scaleY(1.05);bottom: 0px;}
	50%{left: 150px; bottom:10px;}
	55%{left: 150px; bottom: 0px;}
	60%{left: 150px; bottom:10px;}
	65%{left: 150px; bottom: 0px;}
	70%{left: 150px;-webkit-transform: scaleY(1.1); bottom:10px;}
	75%{-webkit-transform: scaleY(1.05);bottom: 0px;}
	80%{-webkit-transform: scaleY(1); bottom:10px;}
	85%{-webkit-transform: scaleY(1.05);bottom: 0px;}
	90%{-webkit-transform: scaleY(1); bottom:10px;}
	95%{-webkit-transform: scaleY(1.05);bottom: 0px;}
	100%{-webkit-transform: scaleY(1.05);bottom: 0px;}
}

@-webkit-keyframes cakefull{
	0%{opacity: 1;}
	49%{opacity: 1;}
	50%{opacity: 0}
	52%{opacity: 0}
	100%{opacity: 0;}
}

@-webkit-keyframes cakeeating{
	0%{opacity: 0;}
	49%{opacity: 0;}
	50%{opacity: 1}
	52%{opacity: 1}
	54%{opacity: 0}
	100%{opacity: 0;}
}

@-webkit-keyframes cakeeated{
	0%{opacity: 0;}
	55%{opacity: 0;}
	56%{opacity: 1}
	58%{opacity:1;}
	60%{opacity:0;}
	100%{opacity: 0;}
}

@-webkit-keyframes bouche{
	0%{width: 20px; height: 20px;}
	49%{width: 20px; height: 20px;}
	51%{width: 10px; height: 10px;}
	53%{width: 10px; height: 10px;}
	54%{width: 20px; height: 20px;}
	56%{width: 10px; height: 10px;}
	58%{width: 10px; height: 10px;}
	60%{width: 20px; height: 20px;}
	100%{width: 20px; height: 20px;}
}


/*FIREFOX*/
@-moz-keyframes eat{
	0%{left: 500px;-moz-transform: scaleY(1.1);bottom: 10px;}
	5%{-moz-transform: scaleY(1.05);bottom: 0px;}
	10%{-moz-transform: scaleY(1); bottom:10px;}
	15%{-moz-transform: scaleY(1.05);bottom: 0px;}
	20%{-moz-transform: scaleY(1); bottom:10px;}
	25%{-moz-transform: scaleY(1.05);bottom: 0px;}
	30%{-moz-transform: scaleY(1); bottom:10px;}
	35%{-moz-transform: scaleY(1.05);bottom: 0px;}
	40%{-moz-transform: scaleY(1); bottom:10px;}
	45%{-moz-transform: scaleY(1.05);bottom: 0px;}
	50%{left: 150px; bottom:10px;}
	55%{left: 150px; bottom: 0px;}
	60%{left: 150px; bottom:10px;}
	65%{left: 150px; bottom: 0px;}
	70%{left: 150px;-moz-transform: scaleY(1.1); bottom:10px;}
	75%{-moz-transform: scaleY(1.05);bottom: 0px;}
	80%{-moz-transform: scaleY(1); bottom:10px;}
	85%{-moz-transform: scaleY(1.05);bottom: 0px;}
	90%{-moz-transform: scaleY(1); bottom:10px;}
	95%{-moz-transform: scaleY(1.05);bottom: 0px;}
	100%{-moz-transform: scaleY(1.05);bottom: 0px;}
}

@-moz-keyframes cakefull{
	0%{opacity: 1;}
	49%{opacity: 1;}
	50%{opacity: 0}
	52%{opacity: 0}
	100%{opacity: 0;}
}

@-moz-keyframes cakeeating{
	0%{opacity: 0;}
	49%{opacity: 0;}
	50%{opacity: 1}
	52%{opacity: 1}
	54%{opacity: 0}
	100%{opacity: 0;}
}

@-moz-keyframes cakeeated{
	0%{opacity: 0;}
	55%{opacity: 0;}
	56%{opacity: 1}
	58%{opacity:1;}
	60%{opacity:0;}
	100%{opacity: 0;}
}

@-moz-keyframes bouche{
	0%{width: 20px; height: 20px;}
	49%{width: 20px; height: 20px;}
	51%{width: 10px; height: 10px;}
	53%{width: 10px; height: 10px;}
	54%{width: 20px; height: 20px;}
	56%{width: 10px; height: 10px;}
	58%{width: 10px; height: 10px;}
	60%{width: 20px; height: 20px;}
	100%{width: 20px; height: 20px;}
}


/*OPERA*/
@-o-keyframes eat{
	0%{left: 500px;-o-transform: scaleY(1.1);bottom: 10px;}
	5%{-o-transform: scaleY(1.05);bottom: 0px;}
	10%{-o-transform: scaleY(1); bottom:10px;}
	15%{-o-transform: scaleY(1.05);bottom: 0px;}
	20%{-o-transform: scaleY(1); bottom:10px;}
	25%{-o-transform: scaleY(1.05);bottom: 0px;}
	30%{-o-transform: scaleY(1); bottom:10px;}
	35%{-o-transform: scaleY(1.05);bottom: 0px;}
	40%{-o-transform: scaleY(1); bottom:10px;}
	45%{-o-transform: scaleY(1.05);bottom: 0px;}
	50%{left: 150px; bottom:10px;}
	55%{left: 150px; bottom: 0px;}
	60%{left: 150px; bottom:10px;}
	65%{left: 150px; bottom: 0px;}
	70%{left: 150px;-o-transform: scaleY(1.1); bottom:10px;}
	75%{-o-transform: scaleY(1.05);bottom: 0px;}
	80%{-o-transform: scaleY(1); bottom:10px;}
	85%{-o-transform: scaleY(1.05);bottom: 0px;}
	90%{-o-transform: scaleY(1); bottom:10px;}
	95%{-o-transform: scaleY(1.05);bottom: 0px;}
	100%{-o-transform: scaleY(1.05);bottom: 0px;}
}

@-o-keyframes cakefull{
	0%{opacity: 1;}
	49%{opacity: 1;}
	50%{opacity: 0}
	52%{opacity: 0}
	100%{opacity: 0;}
}

@-o-keyframes cakeeating{
	0%{opacity: 0;}
	49%{opacity: 0;}
	50%{opacity: 1}
	52%{opacity: 1}
	54%{opacity: 0}
	100%{opacity: 0;}
}

@-o-keyframes cakeeated{
	0%{opacity: 0;}
	55%{opacity: 0;}
	56%{opacity: 1}
	58%{opacity:1;}
	60%{opacity:0;}
	100%{opacity: 0;}
}

@-o-keyframes bouche{
	0%{width: 20px; height: 20px;}
	49%{width: 20px; height: 20px;}
	51%{width: 10px; height: 10px;}
	53%{width: 10px; height: 10px;}
	54%{width: 20px; height: 20px;}
	56%{width: 10px; height: 10px;}
	58%{width: 10px; height: 10px;}
	60%{width: 20px; height: 20px;}
	100%{width: 20px; height: 20px;}
}