*{
	outline: none;
}

html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

a{
	text-decoration: none;
}

header{
	height: 80px;
	background: #313b44;
	
}

header h1{
	padding-top: 20px;
	color:#fff;
	font-family: 'Quicksand';
	text-align: center;
	font-size: 30px;

}
.header_resultat a{
	float: left
}
.main_container{
	padding-top: 50px;
	background: #eef3f5;
	height: 100%;
}

.vignette{
	width: 33%;
	float: left;
	
}

.vignette img{
	width: 40%;
	margin: auto;
	margin-left: 30%;
}

.vignette p{
	margin-top: 10px;
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Quicksand';
}

.info{
	position: absolute;
	border-left: 1px solid #dbe4e9;
	background: #e9eff1;
	right: -50%;
	top:0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: all 0.5s ease-out;
}

.back{
	background: transparent;
	border: none;
}

i{
	margin-top: 10px;
	margin-left: 30px;
	font-size: 50px;
	color:#fff;
}

.info p{
	margin: 20px 30px 0 30px;
	text-transform: uppercase;
	font-family: 'Quicksand';

}

input{
	display: block;
	background: #313b44;
	border:none;
	color: #fff;
	width: 50%;
	margin: auto;
	font-size: 30px;
	margin-top: 20px; 
	text-transform: uppercase;
	font-family: 'Quicksand';
}

.img_container{
	height: 300px;
	overflow: hidden;
}

.img_container img{
	width: 100%;

}

.open{
	right: 0;
}

.close{
	position: absolute;
}

.choosen{
	text-align: center;
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	background: #0988ea;
	color:#fff;
	font-family: 'Quicksand';
	font-size: 30px;
	
}

.other{
	padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 30px;
	color:#313b44;
	font-size: 20px;
	border-bottom: 1px solid #dbe4e9;
	background: #e9eff1;
}

.other span{
	margin-left: 30px;
}

