body {background: #000;font-size:14px;font-family: Helvetica, Verdana;}


.container-video{
	position: relative;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
} 


#video{
	height: auto;
}


.container-player{
	margin-top: 20px;
	position: relative;
	width: 1300px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-style:none;
	padding-top: 20px;
	background-color: #7fb1d8;
	border-radius: 10px;
}


.button{
	display: inline-block;
	text-align: center;
	border:0px;
	background-color:transparent;
	vertical-align: middle;
}

.button img{
	height: 20px;
	width:auto;
	background-color: transparent;
	vertical-align: middle;
}

.bar{
	width: 400px;
	height: 20px;
	background: #ff9cdb;
	text-align: left;
	box-shadow: 1px 1px 1px #000;
	vertical-align: middle;
}

.bar .cursor{
	display: inline-block;
	height: 20px;
	background: #a6e7a3;

}

.logo{
	position: absolute;
	right: 15px;
	top:15px;
}
