body{
	font-family: helvetica;
	background: #eee;
}

/*Sommaire du code: - animation du mot "photo" au mot "click"
					- animation des rectangles de couleurs
					-animation : apparition des photos / Transisition de la taille des photos
*/


/*============================================================DEBUT DE L'ANIMATION : du mot "photo" au mot "click" ===========================================*/



/*==============================================LA LETTRE P: est formé d'un rectangle et d'un rond============================*/

.P{
	position: relative;
	top: -2px;
	left: 384px;
	width: 80px;
	height: 100px;

}

/*LE RECTANGLE */
.P .l{
	width: 13px;
	height: 107px;
	background: black;
	-webkit-animation: opacite 60s linear 10s infinite;
}

@-webkit-keyframes opacite{
	0%{opacity: 1;}
	1%{opacity: 0;}
	100%{opacity: 0;}
}

/* LE ROND */
.P .o{
	position: absolute;
	width: 69px;
	height: 63px;
	background: black;
	top: 0px;
	left: 11px;
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	-webkit-animation: tourne 60s linear 10s infinite;

}

/*TRANSFORMATION DU P EN C */
@-webkit-keyframes tourne{
	0%{-wenkit-transform: rotate(0deg); height: 63px; width: 69px; }
	2%{-webkit-transform: rotate(180deg); height: 112px; width: 78px; left:7px; top: -2px; background: #36CECC}
	100%{-webkit-transform: rotate(180deg); height: 112px; width: 78px; left:7px; top:-2px; background: #2B2628}
}


/*L'OUVERTURE DANS LE ROND*/
.P .rond4_cache{
	position: absolute;
	width: 56px;
	height: 40px;
	background: #eee;
	top: 12px;
	left: 0px;
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	-webkit-animation: tourne_cache 60s linear 10s infinite;
}

/*TRANSFORMATION DU P EN C */
@-webkit-keyframes tourne_cache{
	0%{height: 40px; width: 56px}
	2%{height: 83px; width: 80px; left:-15px; top:14px;}
	100%{height: 83px; width: 80px; left:-15px; top:14px;}
}


/*=========================== LA LETTRE H : composer de 3 rectangles, Dont un avec une animation 3D*=====================================*/

.H{
	position: relative;
	top: -100px;
	left: 481px;
	width: 80px;
	height: 100px;
}

/*PREMIER RECTANGLE: celui à gauche */
.H .l1{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 13px;
	height: 105px;
	background: black;
	-webkit-animation: bas 60s linear 11s infinite;
}

/*TRANSFORMATION DE H EN L */
@-webkit-keyframes bas{
	0%{left:0px;}
	1%{left:8px; background:  #F4B036;}
	100%{left:8px; background:   #A9C1D9;}
}

/*TROISIEME RECTANGLE: celui du milieu */
.H .tiret{
	position: absolute;
	top: 41px;
	left: 8px;
	width: 63px;
	height: 13px;
	background: black;
	-webkit-animation: dessous 60s linear 11s infinite;
}

/*TRANSFORMATION DE H EN L */
@-webkit-keyframes dessous{
	0%{top:41px;}
	1%{top:94px; background:  #F4B036;}
	100%{top:94px; background:   #A9C1D9;}
}


/*DEUXIEME RECTANGLE: celui à gauche */
.H .l2{
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: perspective(600px);
	left: 71px;
}

/*TRANSFORMATION DE H EN I : animation 3D */
.H .l2{
	-webkit-animation: rotation-cube 60s linear 12s infinite;
}

.face{
	position: absolute;
	top: 0;
	left: 0;
	width: 13px;
	height: 107px;
}

.face.top{background:  #C2E4CB;-webkit-transform: rotateX(90deg) rotateY(0deg) translateZ(12px);height: 25px;}
.face.bottom{background:  #CACCB6;-webkit-transform: rotateX(-90deg) rotateY(0deg) translateZ(88px);height: 25px;}
.face.left{background:#CDBB93;-webkit-transform: rotateX(0deg) rotateY(90deg) translateZ(6px);}
.face.right{background: #C0CC39;-webkit-transform: rotateX(0deg) rotateY(-90deg) translateZ(7px);}
.face.front{background: black;-webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(5px);}
.face.back{background: #C2E4CB;-webkit-transform: rotateX(0deg) rotateY(180deg) translateZ(6px);}

@-webkit-keyframes rotation-cube{
	0%{-webkit-transform: rotateY(0deg) rotateX(0deg); left:71px;}
	2%{-webkit-transform: rotateY(360deg) rotateX(0deg); left: 97px;}
	100%{-webkit-transform: rotateY(360deg) rotateX(0deg); left: 97px;}
}


/*=================================================LE PREMIER O========================================================= */

.O {
	position: relative;
	top: -210px;
	left: 587px;
	width: 76px;
	height: 100px;
}


.O .rond {
	position:absolute;
	top: 10px;
	left: 0px;
	width: 99px;
	height: 113px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background: black;
	-webkit-animation: gauche 60s linear 13s infinite;
}

/*TRANSFORMATION DE O EN C */
@-webkit-keyframes gauche{
	0%{left: 0px;-webkit-border-radius: 100px;border-radius: 100px;}

	1%{	 left: 25px; top: 8px;
		 height: 112px; width: 78px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		-webkit-border-top-left-radius: 100px;
		-webkit-border-bottom-left-radius: 100px;
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
		background: #EB0258;}

	100%{left:25px; top: 8px;
		height: 112px; width: 78px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		-webkit-border-top-left-radius: 100px;
		-webkit-border-bottom-left-radius: 100px;
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
		background: #A6033F4;}
}

/*TRANSFORMATION DE O EN C */
.O .rond_cache {
	position: absolute;
	top: 13px;
	left: 11px;
	width: 76px;
	height: 88px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background: #eee;
	-webkit-animation: gauche_cache 60s linear 13s infinite;
}

@-webkit-keyframes gauche_cache{
	0%{-webkit-border-radius: 100px; border-radius: 100px;}

	1%{	 left: 14px; top:15px;
		 height: 83px; width: 68px;
	 	-webkit-border-radius: 0px;
		border-radius: 0px;
		-webkit-border-top-left-radius: 100px;
		-webkit-border-bottom-left-radius: 100px;
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;}

	100%{left: 14px; top:15px; 
		height: 83px; width: 68px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		-webkit-border-top-left-radius: 100px;
		-webkit-border-bottom-left-radius: 100px;
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;}
}




/* =======================================================LA LETTRE T ==============================================================*/

/* La lettre T est formée de 2 rectangles*/
.T{
	position: relative;
	top: 110px;
	left: 720px;
	width: 80px;
	height: 100px;
}


/*PREMIER RECTANGLE: l'horizontal */
.T .tiret2{
	position: absolute;
	top: -11px;
	left: -30px;
	width: 84px;
	height: 13px;
	background: black;
	-webkit-animation: cotee 60s linear 14s infinite;
}

/* TRANSFORMATION DE T EN K */
 @-webkit-keyframes cotee{
	0%{left: -30px}
	1%{left: -10px; -webkit-transform:rotate(134deg);top:26px; background: #335650}
	100%{left: -10px;-webkit-transform:rotate(134deg);top:26px;background: #607890 }
}


/*DEUXIEME RECTANGLE: le vertical */
.T .l3{
	position: absolute;
	top: -8px;
	left: 6px;
	width: 13px;
	height: 111px;
	background: black;
	-webkit-animation: droite 60s linear 14s infinite;
}


/* TRANSFORMATION DE T EN K */
@-webkit-keyframes droite{
	0%{left: 6px;}
	1%{left: -3px; top: -11px; height: 111px; background: #335650;}
	100%{left: -3px; top: -11px; height: 111px; background: #607890;}
}


/* TRANSFORMATION DE T EN K */
.T .none{
	position: absolute;
	top: 28px;
	left: 39px;
	width: 12px;
	height: 78px;
	background: black;
	-webkit-transform: rotate(145deg);
	-webkit-animation: opacite_contraire 60s linear 14s infinite;
	opacity: 0;
}


/* Apparition du 3 rectangles pour passer de la lettre T à la lettre K */
@-webkit-keyframes opacite_contraire{
	0%{opacity: 0;}
	2%{opacity: 1; background: #335650;}
	100%{opacity: 1; background: #607890;}
}


/*================================================ LE DEUXIEME O =======================================================*/

.O_deux {
	position: relative;
	top: -295px;
	left: 785px;
	width: 76px;
	height: 100px;
}

/*Disparition de la lettre O */
.O_deux .rond_deux {
	top: 0px;
	left: 0px;
	width: 99px;
	height: 113px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background: black;
	-webkit-animation: colorie 16s linear 0s 1;
	opacity: 0;

}

@-webkit-keyframes colorie {
   0% { background: #27B1BF; opacity: 1;}
   10% { background: #8E9E82 ;opacity: 1;;}
  20% { background: #A9C1D9; opacity: 1;}
  30% { background: #FBC599; opacity: 1;}
  40% { background: #335650; opacity: 1;}
  50% { background: #DBF73B; opacity: 1;}
  60% { background: #A6033F4; opacity: 1;}
  70% { background: #723E4E; opacity: 1;}
  80% { background: #F17144; opacity: 1;}
  90% { background: #F7F3CF; opacity: 1;}
  100% { background: #27B1BF; opacity: 0;}
}


.O_deux .rond_cache_deux {
	position: absolute;
	top: 13px;
	left: 11px;
	width: 76px;
	height: 88px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background: #eee
}

/*===============================================================POINT D EXCLAMATION ===========================================*/
span{
	position: absolute;
	font-size: 170px;
	top: 63px;
	left: 831px;
	-webkit-animation: opacite_contraire_exclamation 60s linear 16s infinite;
	opacity: 0;
}

@-webkit-keyframes opacite_contraire_exclamation{
	0%{opacity: 0;}
	2%{opacity: 1; color: #723E4E;}
	100%{opacity: 1; color:#B03851;}
}

/*=================================================================================FIN DE LA PREMIERE ANIMATION===========================================*/





/* ===========================================================DEBUT DU DECORS : COULEURS TOUT EN HAUT ===================================================================*/


.couleur{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
}

.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4,
.rectangle5{
	position: absolute;
	width: 20%;
 	height: 10%;
 	background: #F7F3CF;
}

/*ANIMATION: Premier degradé sur le 1ier rectangle */
.couleur .rectangle1{
	background: #F7F3CF;
  	left: 0;
  	-webkit-animation: degrade 2s linear infinite;
}

@-webkit-keyframes degrade {
  0% { background: #F7F3CF;}
  20% { background: #8E9E82;}
  40% { background: #FBC599;}
  60% { background: #DBF73B;}
  80% { background: #723E4E;}
  100% { background: #F7F3CF;}
}

/*ANIMATION: deuxieme degradé sur le 2iem rectangle */
.couleur .rectangle2{
	background: #F7F3CF;
  	left: 20%;
  	-webkit-animation: degrade_deux 2s linear infinite;
}

@-webkit-keyframes degrade_deux {
  0% { background: #C2E4CB;}
  20% { background: #CACCB6;}
  40% { background: #CDBB93;}
  60% { background: #C0CC39;}
  80% { background: #B03851;}
  100% { background: #C2E4CB;}
}

/*ANIMATION: troisiéme degradé sur le 3iem rectangle */
.couleur .rectangle3{
	background: #F7F3CF;
  	left: 40%;
  	-webkit-animation: degrade_trois 2s linear infinite;
}

@-webkit-keyframes degrade_trois {
    0% { background: #36CECC;}
  20% { background: #F2F0DF;}
  40% { background: #9EAE8A;}
  60% { background: #EB0258;}
  80% { background: #EF3353;}
  100% { background: #36CECC;}
}

/*ANIMATION: quatriéme degradé sur le 4iem rectangle */
.couleur .rectangle4{
	background: #F7F3CF;
  	left: 60%;
  	-webkit-animation: degrade_quatre 2s linear infinite;
}

@-webkit-keyframes degrade_quatre {
	0% { background: #27B1BF;}
	20% { background: #A9C1D9;}
	40% { background: #335650;}
	60% { background: #A6033F4;}
	80% { background: #F17144;}
	100% { background: #27B1BF;}
}

/*ANIMATION: cinquiéme degradé sur le 5iem rectangle */
.couleur .rectangle5{
	background: #F7F3CF;
  left: 80%;
  -webkit-animation: degrade_cinq 2s linear infinite;
}

@-webkit-keyframes degrade_cinq {
   	0% { background: #176585;}
	20% { background: #607890;}
	40% { background: #F35F55;}
	60% { background: #2B2628;}
	80% { background: #F4B036;}
	100% { background: #176585;}
}


/* ===============================================================LES DEUX IMAGES==================================================================================*/

.image{
	position: absolute;
	width: 100%;
	height: 65%;
	top: 240px;
	left:0px;
}


.image .image1{
	background:url('img/inde.jpg');
  	left: 0;
 }

.image .image2{
	background:url('img/camping.jpg');
  left: 50%;
  }

.image .image1,
.image .image2{
	-webkit-animation: apparition 60s linear 2s infinite;
	opacity: 0;
  	transition:all 1s;
  	-webkit-background-size: cover;
  	z-index: 5;
	position: absolute;
	width: 50%;
 	height: 100%;
}

/* ANIMATION: apparition petit à petit de l'image */
@-webkit-keyframes apparition {
  0% { opacity: 0;}
  30% { opacity: 1;}
  100% { opacity: 1;}
}

.image .image2:hover {
	left: 0px;
}

/* TRANSITION: agrandissement de l'image à l'hover */
.image .image1:hover,
.image .image2:hover{
	z-index:6;
	width: 100%;
	height: 600px;
	top: -166px;
	-webkit-background-size: 100% 100%;
}

