
html {overflow: hidden;}
body {font-family: 'Gill sans MT';color: black;
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 4%, rgba(255,184,0,1) 61%, rgba(255,184,0,1) 66%, rgba(232,148,0,1) 82%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(4%,rgba(0,0,0,1)), color-stop(61%,rgba(255,184,0,1)), color-stop(66%,rgba(255,184,0,1)), color-stop(82%,rgba(232,148,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 4%,rgba(255,184,0,1) 61%,rgba(255,184,0,1) 66%,rgba(232,148,0,1) 82%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 4%,rgba(255,184,0,1) 61%,rgba(255,184,0,1) 66%,rgba(232,148,0,1) 82%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 4%,rgba(255,184,0,1) 61%,rgba(255,184,0,1) 66%,rgba(232,148,0,1) 82%); /* IE10+ */
background: linear-gradient(135deg, rgba(0,0,0,1) 4%,rgba(255,184,0,1) 61%,rgba(255,184,0,1) 66%,rgba(232,148,0,1) 82%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e89400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-repeat:no-repeat;
background-color: #080808;}
a{text-decoration: none;color: black;}
@font-face{
	font-family: "Gill sans MT";
	src:url("fonts/Gill_sans_MT/Gill_sans_MT.ttf");
}


/* P O P U P */
.popup{width: 100%;height:100%;background-color: #ffb800;position: absolute;z-index: 100;top:0px;left:0px;}
.container_popuptext{width:600px;height:100px;position: absolute;left:20%;top:30%;z-index: 101;}
.popuptext{color: white;font-size:50px;position: relative;top:26px;left:5px;}
.small_bar{width: 4px;height: 50px;background: #202020;position: absolute;left: 52.31%;top: 30.4%;border-radius:4px;
-webkit-animation:small_bar_pp 234.375ms 0 ease infinite alternate;
   -moz-animation:small_bar_pp 234.375ms 0 ease infinite alternate;
     -o-animation:small_bar_pp 234.375ms 0 ease infinite alternate;
    -ms-animation:small_bar_pp 234.375ms 0 ease infinite alternate;
    	animation:small_bar_pp 234.375ms 0 ease infinite alternate;}
@-webkit-keyframes small_bar_pp{
	0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes small_bar_pp{
	0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes small_bar_pp{
	0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes small_bar_pp{
	0% {opacity:0;}
  100% {opacity:1;}
}

.heart{position: absolute;left: 60.31%;top: 31.4%;width: 50px;height: 50px;
-webkit-animation:heart 234.375ms 0 ease infinite alternate;
     -o-animation:heart 234.375ms 0 ease infinite alternate;
   -moz-animation:heart 234.375ms 0 ease infinite alternate;
    -ms-animation:heart 234.375ms 0 ease infinite alternate;
    	animation:heart 234.375ms 0 ease infinite alternate;}
@-webkit-keyframes heart{
	0% {transform:scale(1.35);opacity:0.7;}
  100% {transform:scale(1);opacity:1;}
}
@-moz-keyframes heart{
	0% {transform:scale(1.35);opacity:0.7;}
  100% {transform:scale(1);opacity:1;}
}
@-o-keyframes heart{
	0% {transform:scale(1.35);opacity:0.7;}
  100% {transform:scale(1);opacity:1;}
}
@keyframes heart{
	0% {transform:scale(1.35);opacity:0.7;}
  100% {transform:scale(1);opacity:1;}
}
.bpm{position: relative;left: 90px;color: #202020;}
.clicktext{width:213px;font-size: 200%;position: absolute;left: 25%;top:45%;opacity: 0.1;font-style:italic;letter-spacing: 28px;}


/* C O N T A I N E R - H E A D E R */
.container, .header, .content{width: 960px;margin: auto;clear: both;}
.header{margin-top: 100px;}
.header h1{width:328px;height:60px;font-size:18px;float:left;text-align: center;letter-spacing: 2px;text-transform: uppercase;font-weight: lighter;padding-top: 24px;}
  /* Buttons */
.container_chg_dance_left {width:70px;height:70px;margin-left: 245px;float:left;border-radius:0px;background: rgba(0,0,0,0.2);}
.container_chg_dance_right {width:70px;height:70px;float:left;border-radius:0px;background-color:rgba(0,0,0,0.2);}
.container_chg_dance_left, .container_chg_dance_right{
-webkit-transition:background 0.4s ease 0s,border-radius 0.4s ease 0s;
   -moz-transition:background 0.4s ease 0s,border-radius 0.4s ease 0s;
	 -o-transition:background 0.4s ease 0s,border-radius 0.4s ease 0s;
	-ms-transition:background 0.4s ease 0s,border-radius 0.4s ease 0s;
		transition:background 0.4s ease 0s,border-radius 0.4s ease 0s;
}

.container_chg_dance_left:hover, .container_chg_dance_right:hover{background:#ffb800;border-radius: 70px;}

.arrow_left{position: relative; left:7px; top:10px;}
.arrow_right{position: relative; float:right;right:9px; top:10px;}


/* C O N T E N T */
.content{min-height: 436px;overflow: hidden;position: relative;overflow: hidden;}
.container_dancer{width: 300px;height:500px;position: absolute;left: 35.4%;top:30%;
     -webkit-transform:scale(1.35);
        -moz-transform:scale(1.35);
          -o-transform:scale(1.35);
	   	 -ms-transform:scale(1.35);
	         transform:scale(1.35);
}

.arrow_dancer{width: 50px;height: 100px;position: absolute;left:15%;top:33%;opacity: 0.2;
	 -webkit-transform: rotate(-46deg);
	    -moz-transform: rotate(-46deg);
	      -o-transform: rotate(-46deg);
	     -ms-transform: rotate(-46deg);
	         transform: rotate(-46deg);
-webkit-transition:opacity 0.4s ease 0s;
	 -o-transition:opacity 0.4s ease 0s;
   -moz-transition:opacity 0.4s ease 0s;
	-ms-transition:opacity 0.4s ease 0s;
		transition:opacity 0.4s ease 0s;}
.arrow_dancer:hover{opacity: 1;}

.arrow_dancer_2{width: 50px;height: 100px;position: absolute;left:79.5%;top:33%;opacity: 0.2;
	 -webkit-transform: rotate(46deg);
	      -o-transform: rotate(46deg);
	    -moz-transform: rotate(46deg);
	     -ms-transform: rotate(46deg);
	         transform: rotate(46deg);
-webkit-transition:opacity 0.4s ease 0s;
   -moz-transition:opacity 0.4s ease 0s;
	 -o-transition:opacity 0.4s ease 0s;
	-ms-transition:opacity 0.4s ease 0s;
		transition:opacity 0.4s ease 0s;}
.arrow_dancer_2:hover{opacity: 1;}

  /*comon to all dancers*/
.dancers{background: rgb(255,184,0); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,184,0,1) 0%, rgba(255,184,0,1) 69%, rgba(232,148,0,1) 82%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,184,0,1)), color-stop(69%,rgba(255,184,0,1)), color-stop(82%,rgba(232,148,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(255,184,0,1) 0%,rgba(255,184,0,1) 69%,rgba(232,148,0,1) 82%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(255,184,0,1) 0%,rgba(255,184,0,1) 69%,rgba(232,148,0,1) 82%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(255,184,0,1) 0%,rgba(255,184,0,1) 69%,rgba(232,148,0,1) 82%); /* IE10+ */
background: linear-gradient(135deg, rgba(255,184,0,1) 0%,rgba(255,184,0,1) 69%,rgba(232,148,0,1) 82%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb800', endColorstr='#e89400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.details{background: #404040;}
.container_dancer:hover .dancers{background: black;}
.container_dancer:hover .details{background: #ffb800;}


/* . . . . . . . . . . . . . . . . . . . . . */

	/* F I R S T . D A N C E R */

/* . . . . . . . . . . . . . . . . . . . . . */

.head1{width: 50px;height: 50px;border-radius: 50px;position: absolute;left: 40%;top:5%;z-index: 2;
-webkit-animation:head_one 234.375ms 0 ease-in-out infinite alternate;
   -moz-animation:head_one 234.375ms 0 ease-in-out infinite alternate;
     -o-animation:head_one 234.375ms 0 ease-in-out infinite alternate;
    -ms-animation:head_one 234.375ms 0 ease-in-out infinite alternate;
    	animation:head_one 234.375ms 0 ease-in-out infinite alternate;}
.eyes1{width: 10px; height: 4px;position: relative;top:40%;left:8%;border-radius: 2px;}

.neck1{width: 12px;height: 37px;border-radius: 10px;position: absolute;left: 47.1%;top:13%;z-index: 1;
-webkit-animation:neck_one 234.375ms 0 ease-in-out infinite alternate;
   -moz-animation:neck_one 234.375ms 0 ease-in-out infinite alternate;
     -o-animation:neck_one 234.375ms 0 ease-in-out infinite alternate;
    -ms-animation:neck_one 234.375ms 0 ease-in-out infinite alternate;
    	animation:neck_one 234.375ms 0 ease-in-out infinite alternate;}
.back1{width: 13px; height: 100px;position: absolute;top: 17%;left: 46.8%;border-radius: 10px;z-index: 1;
-webkit-animation:back_one 234.375ms 0 ease-in-out infinite alternate;
   -moz-animation:back_one 234.375ms 0 ease-in-out infinite alternate;
     -o-animation:back_one 234.375ms 0 ease-in-out infinite alternate;
    -ms-animation:back_one 234.375ms 0 ease-in-out infinite alternate;
    	animation:back_one 234.375ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
 	      -o-transform-origin: 50% 0%;
	   	 -ms-transform-origin: 50% 0%;
	   		 transform-origin: 50% 0%;}

.arm_a_left1{width: 13px; height: 40px;position: absolute;top: 17%;left: 47.4%;border-radius: 10px;
-webkit-animation:arm_a_left_one 468.75ms 0 ease-in-out infinite alternate;
     -o-animation:arm_a_left_one 468.75ms 0 ease-in-out infinite alternate;
   -moz-animation:arm_a_left_one 468.75ms 0 ease-in-out infinite alternate;
    -ms-animation:arm_a_left_one 468.75ms 0 ease-in-out infinite alternate;
    	animation:arm_a_left_one 468.75ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 2%;
 	      -o-transform-origin: 50% 2%;
 	    -moz-transform-origin: 50% 2%;
	   	 -ms-transform-origin: 50% 2%;
	         transform-origin: 50% 2%;}
	         /* ici */
.arm_b_left1{width: 13px; height: 50px;position: relative;top: 88%;left: 40.4%;border-radius: 10px;
-webkit-animation:arm_b_left_one 468.75ms 0 ease-in-out infinite alternate;
     -o-animation:arm_b_left_one 468.75ms 0 ease-in-out infinite alternate;
    -ms-animation:arm_b_left_one 468.75ms 0 ease-in-out infinite alternate;
    -moz-animation:arm_b_left_one 468.75ms 0 ease-in-out infinite alternate;
    	animation:arm_b_left_one 468.75ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 0%;
 	      -o-transform-origin: 50% 0%;
 	    -moz-transform-origin: 50% 0%;
	   	 -ms-transform-origin: 50% 0%;
	   	     transform-origin: 50% 0%;
	 -webkit-transform: rotate(100deg);
	      -o-transform: rotate(100deg);
	    -moz-transform: rotate(100deg);
	  		 transform: rotate(100deg);}
.handleft1{width: 20px;height: 20px;position: relative;border-radius: 20px;top: 70%;left: -30%;}

.arm_a_right1{width: 13px; height: 40px;position: absolute;top: 17%;left: 47.4%;border-radius: 10px;background:#B77400;
-webkit-animation:arm_a_right_one 468.75ms 0 ease-in-out infinite alternate;
     -o-animation:arm_a_right_one 468.75ms 0 ease-in-out infinite alternate;
   -moz-animation:arm_a_right_one 468.75ms 0 ease-in-out infinite alternate;
    -ms-animation:arm_a_right_one 468.75ms 0 ease-in-out infinite alternate;
    	animation:arm_a_right_one 468.75ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 2%;
 	      -o-transform-origin: 50% 2%;
 	    -moz-transform-origin: 50% 2%;
	   	 -ms-transform-origin: 50% 2%;
	         transform-origin: 50% 2%;
	 -webkit-transform: rotate(45deg);
	      -o-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	  		 transform: rotate(45deg);}
.arm_b_right1{width: 13px; height: 50px;position: relative;top: 88%;left: 40.4%;border-radius: 10px;background: #B77400;
-webkit-animation:arm_b_right_one 468.75ms 0 ease-in-out infinite alternate;
     -o-animation:arm_b_right_one 468.75ms 0 ease-in-out infinite alternate;
   -moz-animation:arm_b_right_one 468.75ms 0 ease-in-out infinite alternate;
    -ms-animation:arm_b_right_one 468.75ms 0 ease-in-out infinite alternate;
    	animation:arm_b_right_one 468.75ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 0%;
 	      -o-transform-origin: 50% 0%;
 	    -moz-transform-origin: 50% 0%;
	   	 -ms-transform-origin: 50% 0%;
	   	     transform-origin: 50% 0%;
	 -webkit-transform: rotate(100deg);
	      -o-transform: rotate(100deg);
	    -moz-transform: rotate(100deg);
	  		 transform: rotate(100deg);}
.hand_right1{width: 20px;height: 20px;position: relative;border-radius: 20px;top: 70%;left: -30%;background: #B77400;}

.hips1{width: 22px;height: 22px; position: relative;border-radius: 22px;top: 80%;left: -30%;}

.thigh_left1{width:13px;height:65px;border-radius:20px;position: absolute;z-index:2;top: 35%;left: 44%;
-webkit-animation:thigh_left_one 234.375ms 0 ease-in-out infinite alternate;
     -o-animation:thigh_left_one 234.375ms 0 ease-in-out infinite alternate;
   -moz-animation:thigh_left_one 234.375ms 0 ease-in-out infinite alternate;
    -ms-animation:thigh_left_one 234.375ms 0 ease-in-out infinite alternate;
    	animation:thigh_left_one 234.375ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 0%;
 	      -o-transform-origin: 50% 0%;
 	    -moz-transform-origin: 50% 0%;
	   	 -ms-transform-origin: 50% 0%;
	   	     transform-origin: 50% 0%;}
.leg_left1{width:13px;height:65px;border-radius:20px;position: absolute;z-index:2;top: 45%;left: 40%;
-webkit-animation:leg_left_one 234.375ms 0 ease-in-out infinite alternate;
     -o-animation:leg_left_one 234.375ms 0 ease-in-out infinite alternate;
   -moz-animation:leg_left_one 234.375ms 0 ease-in-out infinite alternate;
    -ms-animation:leg_left_one 234.375ms 0 ease-in-out infinite alternate;
    	animation:leg_left_one 234.375ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 100%;
 	    -moz-transform-origin: 50% 100%;
 	      -o-transform-origin: 50% 100%;
	   	 -ms-transform-origin: 50% 100%;
	   	     transform-origin: 50% 100%;}

.thigh_right1{width:13px;height:62px;border-radius:20px;position: absolute;z-index:0;top: 35%;left: 44%;background: #B77400;
-webkit-animation:thigh_right_one 234.375ms 0 ease-in-out infinite alternate;
     -o-animation:thigh_right_one 234.375ms 0 ease-in-out infinite alternate;
   -moz-animation:thigh_right_one 234.375ms 0 ease-in-out infinite alternate;
    -ms-animation:thigh_right_one 234.375ms 0 ease-in-out infinite alternate;
    	animation:thigh_right_one 234.375ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 0%;
 	      -o-transform-origin: 50% 0%;
 	    -moz-transform-origin: 50% 0%;
	   	 -ms-transform-origin: 50% 0%;
	   	     transform-origin: 50% 0%;}
.leg_right1{width:13px;height:65px;border-radius:20px;position: absolute;z-index:0;top: 44.8%;left: 44%;background: #B77400;
-webkit-animation:leg_right_one 234.375ms 0 ease-in-out infinite alternate;
     -o-animation:leg_right_one 234.375ms 0 ease-in-out infinite alternate;
   -moz-animation:leg_right_one 234.375ms 0 ease-in-out infinite alternate;
    -ms-animation:leg_right_one 234.375ms 0 ease-in-out infinite alternate;
    	animation:leg_right_one 234.375ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 100%;
 	      -o-transform-origin: 50% 100%;
 	    -moz-transform-origin: 50% 100%;
	   	 -ms-transform-origin: 50% 100%;
	   	     transform-origin: 50% 100%;}

/* keyframes */

@-webkit-keyframes head_one{
	0% {transform: rotate(17deg);top:5%;}
  100% {transform: rotate(-17deg);top:6%;}
}
@-o-keyframes head_one{
	0% {transform: rotate(17deg);top:5%;}
  100% {transform: rotate(-17deg);top:6%;}
}
@-moz-keyframes head_one{
	0% {transform: rotate(17deg);top:5%;}
  100% {transform: rotate(-17deg);top:6%;}
}
@keyframes head_one{
	0% {transform: rotate(17deg);top:5%;}
  100% {transform: rotate(-17deg);top:6%;}
}

@-webkit-keyframes neck_one{
	0% {transform: rotate(3deg);}
  100% {transform: rotate(10deg);}
}
@-o-keyframes neck_one{
	0% {transform: rotate(3deg);}
  100% {transform: rotate(10deg);}
}
@-moz-keyframes neck_one{
	0% {transform: rotate(3deg);}
  100% {transform: rotate(10deg);}
}
@keyframes neck_one{
	0% {transform: rotate(3deg);}
  100% {transform: rotate(10deg);}
}

@-webkit-keyframes back_one{
	0% {transform: rotate(3deg);}
  100% {transform: rotate(5deg);}
}
@-o-keyframes back_one{
	0% {transform: rotate(3deg);}
  100% {transform: rotate(5deg);}
}
@-moz-keyframes back_one{
	0% {transform: rotate(3deg);}
  100% {transform: rotate(5deg);}
}
@keyframes back_one{
	0% {transform: rotate(3deg);}
  100% {transform: rotate(5deg);}
}

@-webkit-keyframes arm_a_left_one{
	0% {transform: rotate(25deg);}
  100% {transform: rotate(45deg);}
}
@-o-keyframes arm_a_left_one{
	0% {transform: rotate(25deg);}
  100% {transform: rotate(45deg);}
}
@-moz-keyframes arm_a_left_one{
	0% {transform: rotate(25deg);}
  100% {transform: rotate(45deg);}
}
@keyframes arm_a_left_one{
	0% {transform: rotate(25deg);}
  100% {transform: rotate(45deg);}
}

@-webkit-keyframes arm_b_left_one{
	0% {transform: rotate(90deg);}
  100% {transform: rotate(100deg);}
}
@-o-keyframes arm_b_left_one{
	0% {transform: rotate(90deg);}
  100% {transform: rotate(100deg);}
}
@-moz-keyframes arm_b_left_one{
	0% {transform: rotate(90deg);}
  100% {transform: rotate(100deg);}
}
@keyframes arm_b_left_one{
	0% {transform: rotate(90deg);}
  100% {transform: rotate(100deg);}
}

@-webkit-keyframes arm_a_right_one{
	0% {transform: rotate(45deg);}
  100% {transform: rotate(25deg);}
}
@-o-keyframes arm_a_right_one{
	0% {transform: rotate(45deg);}
  100% {transform: rotate(25deg);}
}
@-moz-keyframes arm_a_right_one{
	0% {transform: rotate(45deg);}
  100% {transform: rotate(25deg);}
}
@keyframes arm_a_right_one{
	0% {transform: rotate(45deg);}
  100% {transform: rotate(25deg);}
}

@-webkit-keyframes arm_b_right_one{
	0% {transform: rotate(100deg);}
  100% {transform: rotate(90deg);}
}
@-o-keyframes arm_b_right_one{
	0% {transform: rotate(100deg);}
  100% {transform: rotate(90deg);}
}
@-moz-keyframes arm_b_right_one{
	0% {transform: rotate(100deg);}
  100% {transform: rotate(90deg);}
}
@keyframes arm_b_right_one{
	0% {transform: rotate(100deg);}
  100% {transform: rotate(90deg);}
}

@-webkit-keyframes thigh_left_one{
	0% {transform: rotate(15deg);left: 45%;}
  100% {transform: rotate(22deg);left: 44%;}
}
@-o-keyframes thigh_left_one{
	0% {transform: rotate(15deg);left: 45%;}
  100% {transform: rotate(22deg);left: 44%;}
}
@-moz-keyframes thigh_left_one{
	0% {transform: rotate(15deg);left: 45%;}
  100% {transform: rotate(22deg);left: 44%;}
}
@keyframes thigh_left_one{
	0% {transform: rotate(15deg);left: 45%;}
  100% {transform: rotate(22deg);left: 44%;}
}

@-webkit-keyframes leg_left_one{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(-9deg);}
}
@-o-keyframes leg_left_one{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(-9deg);}
}
@-moz-keyframes leg_left_one{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(-9deg);}
}
@keyframes leg_left_one{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(-9deg);}
}

@-webkit-keyframes thigh_right_one{
	0% {transform: rotate(6deg);left: 45.9%;}
  100% {transform: rotate(12deg);left: 45.2%;}
}
@-o-keyframes thigh_right_one{
	0% {transform: rotate(6deg);left: 46%;}
  100% {transform: rotate(8deg);left: 45%;}
}
@-moz-keyframes thigh_right_one{
	0% {transform: rotate(6deg);left: 46%;}
  100% {transform: rotate(8deg);left: 45%;}
}
@keyframes thigh_right_one{
	0% {transform: rotate(6deg);left: 46%;}
  100% {transform: rotate(8deg);left: 45%;}
}

@-webkit-keyframes leg_right_one{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(-7deg);}
}
@-o-keyframes leg_right_one{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(-4deg);}
}
@-moz-keyframes leg_right_one{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(-4deg);}
}
@keyframes leg_right_one{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(-4deg);}
}


/* . . . . . . . . . . . . . . . . . . . . . */

	/* S E C O N D . D A N C E R */

/* . . . . . . . . . . . . . . . . . . . . . */

.body2{
background: rgb(232,148,0); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(232,148,0,1) 18%, rgba(255,184,0,1) 47%, rgba(255,184,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(18%,rgba(232,148,0,1)), color-stop(47%,rgba(255,184,0,1)), color-stop(100%,rgba(255,184,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, rgba(232,148,0,1) 18%,rgba(255,184,0,1) 47%,rgba(255,184,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, rgba(232,148,0,1) 18%,rgba(255,184,0,1) 47%,rgba(255,184,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(232,148,0,1) 18%,rgba(255,184,0,1) 47%,rgba(255,184,0,1) 100%); /* IE10+ */
background: linear-gradient(45deg, rgba(232,148,0,1) 18%,rgba(255,184,0,1) 47%,rgba(255,184,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89400', endColorstr='#ffb800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* top : head, eyes, neck, back */
.head2{width: 50px;height: 50px;border-radius: 50px;position: absolute;left: 43%;top:5%;z-index: 2;
-webkit-animation:head_two 117.1875ms 0 ease-in-out infinite alternate;
   -moz-animation:head_two 117.1875ms 0 ease-in-out infinite alternate;
     -o-animation:head_two 117.1875ms 0 ease-in-out infinite alternate;
    -ms-animation:head_two 117.1875ms 0 ease-in-out infinite alternate;
    	animation:head_two 117.1875ms 0 ease-in-out infinite alternate;
     -webkit-transform: rotate(12deg);
	      -o-transform: rotate(12deg);
	  		 transform: rotate(12deg);}
.eyes2{width: 10px; height: 4px;position: relative;top:40%;left:74%;border-radius: 2px;}

.neck2{width: 12px;height: 37px;border-radius: 10px;position: absolute;left: 45.6%;top:13%;z-index: 1;
-webkit-animation:neck_two 117.1875ms 0 ease-in-out infinite alternate;
   -moz-animation:neck_two 117.1875ms 0 ease-in-out infinite alternate;
     -o-animation:neck_two 117.1875ms 0 ease-in-out infinite alternate;
    -ms-animation:neck_two 117.1875ms 0 ease-in-out infinite alternate;
    	animation:neck_two 117.1875ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 95%;
 	      -o-transform-origin: 50% 95%;
 	    -moz-transform-origin: 50% 95%;
	   	 -ms-transform-origin: 50% 95%;
	   	     transform-origin: 50% 95%;
     -webkit-transform: rotate(12deg);
	      -o-transform: rotate(12deg);
	    -moz-transform: rotate(12deg);
	  		 transform: rotate(12deg);}
.back2{width: 13px; height: 100px;position: absolute;top: 17%;left: 45.28%;border-radius: 10px;z-index: 1;
-webkit-animation:back_two 117.1875ms 0 ease-in-out infinite alternate;
   -moz-animation:back_two 117.1875ms 0 ease-in-out infinite alternate;
     -o-animation:back_two 117.1875ms 0 ease-in-out infinite alternate;
    -ms-animation:back_two 117.1875ms 0 ease-in-out infinite alternate;
    	animation:back_two 117.1875ms 0 ease-in-out infinite alternate;
     -webkit-transform: rotate(5deg);
	      -o-transform: rotate(5deg);
	    -moz-transform: rotate(5deg);
	  		 transform: rotate(5deg);}
/* top : arms, hands */
.arm_a_left2_b{position: absolute;top: 17%;left: 46.7%;z-index: 2;
-webkit-animation:arm_a_left_two_b 117.1875ms 0 ease-in-out infinite alternate;
     -o-animation:arm_a_left_two_b 117.1875ms 0 ease-in-out infinite alternate;
   -moz-animation:arm_a_left_two_b 117.1875ms 0 ease-in-out infinite alternate;
    -ms-animation:arm_a_left_two_b 117.1875ms 0 ease-in-out infinite alternate;
    	animation:arm_a_left_two_b 117.1875ms 0 ease-in-out infinite alternate;
}
.arm_a_left2{width: 13px; height: 50px;position: absolute;top: 17%;left: 47%;border-radius: 10px;z-index: 2;
-webkit-animation:arm_a_left_two 468.75ms 0 ease-in-out infinite alternate;
     -o-animation:arm_a_left_two 468.75ms 0 ease-in-out infinite alternate;
   -moz-animation:arm_a_left_two 468.75ms 0 ease-in-out infinite alternate;  
    -ms-animation:arm_a_left_two 468.75ms 0 ease-in-out infinite alternate;
    	animation:arm_a_left_two 468.75ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 2%;
 	      -o-transform-origin: 50% 2%;
 	    -moz-transform-origin: 50% 2%;
	   	 -ms-transform-origin: 50% 2%;
	         transform-origin: 50% 2%;}
.arm_b_left2{width: 13px; height: 65px;position: relative;top: 80%;left: 2.4%;border-radius: 10px;
-webkit-animation:arm_b_left_two 468.75ms 0 ease-in-out infinite alternate;
     -o-animation:arm_b_left_two 468.75ms 0 ease-in-out infinite alternate;
   -moz-animation:arm_b_left_two 468.75ms 0 ease-in-out infinite alternate;
    -ms-animation:arm_b_left_two 468.75ms 0 ease-in-out infinite alternate;
    	animation:arm_b_left_two 468.75ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 5%;
 	      -o-transform-origin: 50% 5%;
 	    -moz-transform-origin: 50% 5%;
	   	 -ms-transform-origin: 50% 5%;
	   	     transform-origin: 50% 5%;}
.handleft2{width: 20px;height: 20px;position: relative;border-radius: 20px;top: 70%;left: -23%;}

.arm_a_right2_b{position: absolute;top: 17%;left: 46.7%;z-index: 0;
-webkit-animation:arm_a_right_two_b 117.1875ms 0 ease-in-out infinite alternate;
     -o-animation:arm_a_right_two_b 117.1875ms 0 ease-in-out infinite alternate;
   -moz-animation:arm_a_right_two_b 117.1875ms 0 ease-in-out infinite alternate;
    -ms-animation:arm_a_right_two_b 117.1875ms 0 ease-in-out infinite alternate;
    	animation:arm_a_right_two_b 117.1875ms 0 ease-in-out infinite alternate;
}
.arm_a_right2{width: 13px; height: 50px;position: absolute;top: 17%;left: 47%;border-radius: 10px;background:#B77400;z-index: 0;
-webkit-animation:arm_a_right_two 468.75ms 0 ease-in-out infinite alternate;
     -o-animation:arm_a_right_two 468.75ms 0 ease-in-out infinite alternate;
   -moz-animation:arm_a_right_two 468.75ms 0 ease-in-out infinite alternate;
    -ms-animation:arm_a_right_two 468.75ms 0 ease-in-out infinite alternate;
    	animation:arm_a_right_two 468.75ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 2%;
 	      -o-transform-origin: 50% 2%;
 	    -moz-transform-origin: 50% 2%;
	   	 -ms-transform-origin: 50% 2%;
	         transform-origin: 50% 2%;}
.arm_b_right2{width: 13px; height: 65px;position: relative;border-radius: 10px;background: #B77400;top: 80%;left: -4.6%;
-webkit-animation:arm_b_right_two 468.75ms 0 ease-in-out infinite alternate;
     -o-animation:arm_b_right_two 468.75ms 0 ease-in-out infinite alternate;
   -moz-animation:arm_b_right_two 468.75ms 0 ease-in-out infinite alternate;
    -ms-animation:arm_b_right_two 468.75ms 0 ease-in-out infinite alternate;
    	animation:arm_b_right_two 468.75ms 0 ease-in-out infinite alternate;
     -webkit-transform-origin: 50% 0%;
 	      -o-transform-origin: 50% 0%;
 	    -moz-transform-origin: 50% 0%;
	   	 -ms-transform-origin: 50% 0%;
	   	     transform-origin: 50% 0%;}
.hand_right2{width: 20px;height: 20px;position: relative;border-radius: 20px;top: 70%;left: -30%;background: #B77400;}

/* bottom : hips, thighs, legs */
.bottom2{width: 300px;height: 500px;position: relative;top: -100%;
-webkit-animation:bottom_two 117.1875ms 0 ease-in-out infinite alternate;
   -moz-animation:bottom_two 117.1875ms 0 ease-in-out infinite alternate;
     -o-animation:bottom_two 117.1875ms 0 ease-in-out infinite alternate;
    -ms-animation:bottom_two 117.1875ms 0 ease-in-out infinite alternate;
    	animation:bottom_two 117.1875ms 0 ease-in-out infinite alternate;
}
.hips2{width: 22px;height: 22px; position: relative;border-radius: 22px;top: 80%;left: -33%;}

.thigh_left2{width:13px;height:65px;border-radius:20px;position: absolute;z-index:2;top: 36.5%;left: 44%;
-webkit-animation:thigh_left_two 937.5ms 468.75ms ease-in-out infinite normal;
     -o-animation:thigh_left_two 937.5ms 468.75ms ease-in-out infinite normal;
   -moz-animation:thigh_left_two 937.5ms 468.75ms ease-in-out infinite normal;
    -ms-animation:thigh_left_two 937.5ms 468.75ms ease-in-out infinite normal;
    	animation:thigh_left_two 937.5ms 468.75ms ease-in-out infinite normal;
     -webkit-transform-origin: 50% 0%;
 	      -o-transform-origin: 50% 0%;
 	    -moz-transform-origin: 50% 0%;
	   	 -ms-transform-origin: 50% 0%;
	   	     transform-origin: 50% 0%;}
.leg_left2{width:13px;height:70px;border-radius:20px;position: absolute;z-index:2;top: 79%;left:2%;
-webkit-animation:leg_left_two 937.5ms 468.75ms ease-in-out infinite normal;
     -o-animation:leg_left_two 937.5ms 468.75ms ease-in-out infinite normal;
   -moz-animation:leg_left_two 937.5ms 468.75ms ease-in-out infinite normal;
    -ms-animation:leg_left_two 937.5ms 468.75ms ease-in-out infinite normal;
    	animation:leg_left_two 937.5ms 468.75ms ease-in-out infinite normal;
     -webkit-transform-origin: 50% 10%;
 	      -o-transform-origin: 50% 10%;
 	    -moz-transform-origin: 50% 10%;
	   	 -ms-transform-origin: 50% 10%;
	   	     transform-origin: 50% 10%;}

.thigh_right2{width:13px;height:65px;border-radius:20px;position: absolute;z-index:0;top: 36.5%;left: 44%;
-webkit-animation:thigh_right_two 937.5ms 0 ease-in-out infinite normal;
     -o-animation:thigh_right_two 937.5ms 0 ease-in-out infinite normal;
   -moz-animation:thigh_right_two 937.5ms 0 ease-in-out infinite normal;
    -ms-animation:thigh_right_two 937.5ms 0 ease-in-out infinite normal;
    	animation:thigh_right_two 937.5ms 0 ease-in-out infinite normal;
     -webkit-transform-origin: 50% 0%;
 	      -o-transform-origin: 50% 0%;
 	    -moz-transform-origin: 50% 0%;
	   	 -ms-transform-origin: 50% 0%;
	   	     transform-origin: 50% 0%;}
.leg_right2{width:13px;height:65px;border-radius:20px;position: absolute;z-index:0;top: 79%;left:2%;
-webkit-animation:leg_right_two 937.5ms 0 ease-in-out infinite normal;
     -o-animation:leg_right_two 937.5ms 0 ease-in-out infinite normal;
   -moz-animation:leg_right_two 937.5ms 0 ease-in-out infinite normal;
    -ms-animation:leg_right_two 937.5ms 0 ease-in-out infinite normal;
    	animation:leg_right_two 937.5ms 0 ease-in-out infinite normal;
     -webkit-transform-origin: 50% 10%;
 	      -o-transform-origin: 50% 10%;
 	    -moz-transform-origin: 50% 10%;
	   	 -ms-transform-origin: 50% 10%;
	   	     transform-origin: 50% 10%;}


/* keyframes */

	/* top */
@-webkit-keyframes head_two{
	0% {top:5%;}
  100% {top:6%;}
}
@-o-keyframes head_two{
	0% {top:5%;}
  100% {top:6%;}
}
@-moz-keyframes head_two{
	0% {top:5%;}
  100% {top:6%;}
}
@keyframes head_two{
	0% {top:5%;}
  100% {top:6%;}
}

@-webkit-keyframes neck_two{
	0% {top:13%;}
  100% {top:14%;}
}
@-o-keyframes neck_two{
	0% {top:13%;}
  100% {top:14%;}
}
@-moz-keyframes neck_two{
	0% {top:13%;}
  100% {top:14%;}
}
@keyframes neck_two{
	0% {top:13%;}
  100% {top:14%;}
}

@-webkit-keyframes back_two{
	0% {top:17%;}
  100% {top:18%;}
}
@-o-keyframes back_two{
	0% {top:17%;}
  100% {top:18%;}
}
@-moz-keyframes back_two{
	0% {top:17%;}
  100% {top:18%;}
}
@keyframes back_two{
	0% {top:17%;}
  100% {top:18%;}
}

@-webkit-keyframes arm_a_left_two_b{
	0% {top: 17%;}
  100% {top: 18%;}
}
@-o-keyframes arm_a_left_two_b{
	0% {top: 17%;}
  100% {top: 18%;}
}
@-moz-keyframes arm_a_left_two_b{
	0% {top: 17%;}
  100% {top: 18%;}
}
@keyframes arm_a_left_two_b{
	0% {top: 17%;}
  100% {top: 18%;}
}
@-webkit-keyframes arm_a_left_two{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(25deg);}
}
@-o-keyframes arm_a_left_two{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(25deg);}
}
@-moz-keyframes arm_a_left_two{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(25deg);}
}
@keyframes arm_a_left_two{
	0% {transform: rotate(0deg);}
  100% {transform: rotate(25deg);}
}

@-webkit-keyframes arm_b_left_two{
	0% {transform: rotate(-40deg);}
  100% {transform: rotate(7deg);}
}
@-o-keyframes arm_b_left_two{
	0% {transform: rotate(-40deg);}
  100% {transform: rotate(7deg);}
}
@-moz-keyframes arm_b_left_two{
	0% {transform: rotate(-40deg);}
  100% {transform: rotate(7deg);}
}
@keyframes arm_b_left_two{
	0% {transform: rotate(-40deg);}
  100% {transform: rotate(7deg);}
}

@-webkit-keyframes arm_a_right_two_b{
	0% {top: 17%;}
  100% {top: 18%;}
}
@-o-keyframes arm_a_right_two_b{
	0% {top: 17%;}
  100% {top: 18%;}
}
@-moz-keyframes arm_a_right_two_b{
	0% {top: 17%;}
  100% {top: 18%;}
}
@keyframes arm_a_right_two_b{
	0% {top: 17%;}
  100% {top: 18%;}
}
@-webkit-keyframes arm_a_right_two{
	0% {transform: rotate(30deg);}
  100% {transform: rotate(27deg);}
}
@-o-keyframes arm_a_right_two{
	0% {transform: rotate(30deg);}
  100% {transform: rotate(27deg);}
}
@-moz-keyframes arm_a_right_two{
	0% {transform: rotate(30deg);}
  100% {transform: rotate(27deg);}
}
@keyframes arm_a_right_two{
	0% {transform: rotate(30deg);}
  100% {transform: rotate(27deg);}
}

@-webkit-keyframes arm_b_right_two{
	0% {transform: rotate(-15deg);}
  100% {transform: rotate(-45deg);}
}
@-o-keyframes arm_b_right_two{
	0% {transform: rotate(-15deg);}
  100% {transform: rotate(-45deg);}
}
@-moz-keyframes arm_b_right_two{
	0% {transform: rotate(-15deg);}
  100% {transform: rotate(-45deg);}
}
@keyframes arm_b_right_two{
	0% {transform: rotate(-15deg);}
  100% {transform: rotate(-45deg);}
}
	/*bottom*/
@-webkit-keyframes bottom_two{
	0% {top:-101%;}
  100% {top:-100%;}
}
@-o-keyframes bottom_two{
	0% {top:-101%;}
  100% {top:-100%;}
}
@-moz-keyframes bottom_two{
	0% {top:-101%;}
  100% {top:-100%;}
}
@keyframes bottom_two{
	0% {top:-101%;}
  100% {top:-100%;}
}

@-webkit-keyframes thigh_left_two{
     0% {transform: rotate(-50deg);}
     5% {transform: rotate(-40deg);}
    15% {transform: rotate(-40deg);}
    17% {transform: rotate(-40deg);}
	30% {transform: rotate(-40deg);}
	30% {transform: rotate(-10deg);}
	35% {transform: rotate(-10deg);}
    55% {transform: rotate(30deg);}
	60% {transform: rotate(30deg);}
	75% {transform: rotate(30deg);}
   100% {transform: rotate(-50deg);}	
}
@-o-keyframes thigh_left_two{
     0% {transform: rotate(-50deg);}
     5% {transform: rotate(-40deg);}
    15% {transform: rotate(-40deg);}
    17% {transform: rotate(-40deg);}
	30% {transform: rotate(-40deg);}
	30% {transform: rotate(-10deg);}
	35% {transform: rotate(-10deg);}
    55% {transform: rotate(30deg);}
	60% {transform: rotate(30deg);}
	75% {transform: rotate(30deg);}
   100% {transform: rotate(-50deg);}	
}
@-moz-keyframes thigh_left_two{
     0% {transform: rotate(-50deg);}
     5% {transform: rotate(-40deg);}
    15% {transform: rotate(-40deg);}
    17% {transform: rotate(-40deg);}
	30% {transform: rotate(-40deg);}
	30% {transform: rotate(-10deg);}
	35% {transform: rotate(-10deg);}
    55% {transform: rotate(30deg);}
	60% {transform: rotate(30deg);}
	75% {transform: rotate(30deg);}
   100% {transform: rotate(-50deg);}	
}
@keyframes thigh_left_two{
     0% {transform: rotate(-50deg);}
     5% {transform: rotate(-40deg);}
    15% {transform: rotate(-40deg);}
    17% {transform: rotate(-40deg);}
	30% {transform: rotate(-40deg);}
	30% {transform: rotate(-10deg);}
	35% {transform: rotate(-10deg);}
    55% {transform: rotate(30deg);}
	60% {transform: rotate(30deg);}
	75% {transform: rotate(30deg);}
   100% {transform: rotate(-50deg);}	
}

@-webkit-keyframes leg_left_two{
     0% {transform: rotate(0deg);}
	10% {transform: rotate(0deg);}
	17% {transform: rotate(73deg);}
    55% {transform: rotate(0deg);}
	60% {transform: rotate(0deg);}
	90% {transform: rotate(90deg);}
   100% {transform: rotate(117deg);}
}
@-o-keyframes leg_left_two{
     0% {transform: rotate(0deg);}
	10% {transform: rotate(0deg);}
	17% {transform: rotate(73deg);}
    55% {transform: rotate(0deg);}
	60% {transform: rotate(0deg);}
	90% {transform: rotate(90deg);}
   100% {transform: rotate(117deg);}
}
@-moz-keyframes leg_left_two{
     0% {transform: rotate(0deg);}
	10% {transform: rotate(0deg);}
	17% {transform: rotate(73deg);}
    55% {transform: rotate(0deg);}
	60% {transform: rotate(0deg);}
	90% {transform: rotate(90deg);}
   100% {transform: rotate(117deg);}
}
@keyframes leg_left_two{
     0% {transform: rotate(0deg);}
	10% {transform: rotate(0deg);}
	17% {transform: rotate(73deg);}
    55% {transform: rotate(0deg);}
	60% {transform: rotate(0deg);}
	90% {transform: rotate(90deg);}
   100% {transform: rotate(117deg);}
}


@-webkit-keyframes thigh_right_two{
     0% {transform: rotate(-50deg);}
     5% {transform: rotate(-40deg);}
    15% {transform: rotate(-40deg);}
    17% {transform: rotate(-40deg);}
	30% {transform: rotate(-40deg);}
	30% {transform: rotate(-10deg);}
	35% {transform: rotate(-10deg);}
    55% {transform: rotate(30deg);}
	60% {transform: rotate(30deg);}
	75% {transform: rotate(30deg);}
   100% {transform: rotate(-50deg);}	
}
@-o-keyframes thigh_right_two{
     0% {transform: rotate(-50deg);}
     5% {transform: rotate(-40deg);}
    15% {transform: rotate(-40deg);}
    17% {transform: rotate(-40deg);}
	30% {transform: rotate(-40deg);}
	30% {transform: rotate(-10deg);}
	35% {transform: rotate(-10deg);}
    55% {transform: rotate(30deg);}
	60% {transform: rotate(30deg);}
	75% {transform: rotate(30deg);}
   100% {transform: rotate(-50deg);}	
}
@-moz-keyframes thigh_right_two{
     0% {transform: rotate(-50deg);}
     5% {transform: rotate(-40deg);}
    15% {transform: rotate(-40deg);}
    17% {transform: rotate(-40deg);}
	30% {transform: rotate(-40deg);}
	30% {transform: rotate(-10deg);}
	35% {transform: rotate(-10deg);}
    55% {transform: rotate(30deg);}
	60% {transform: rotate(30deg);}
	75% {transform: rotate(30deg);}
   100% {transform: rotate(-50deg);}	
}
@keyframes thigh_right_two{
     0% {transform: rotate(-50deg);}
     5% {transform: rotate(-40deg);}
    15% {transform: rotate(-40deg);}
    17% {transform: rotate(-40deg);}
	30% {transform: rotate(-40deg);}
	30% {transform: rotate(-10deg);}
	35% {transform: rotate(-10deg);}
    55% {transform: rotate(30deg);}
	60% {transform: rotate(30deg);}
	75% {transform: rotate(30deg);}
   100% {transform: rotate(-50deg);}	
}

@-webkit-keyframes leg_right_two{
     0% {transform: rotate(0deg);}
     5% {transform: rotate();}
	10% {transform: rotate(0deg);}
	11% {transform: rotate();}
    16% {transform: rotate();}
	17% {transform: rotate(73deg);}
    55% {transform: rotate(0deg);}
	60% {transform: rotate(0deg);}
	90% {transform: rotate(90deg);}
   100% {transform: rotate(117deg);}
}
@-o-keyframes leg_right_two{
     0% {transform: rotate(0deg);}
     5% {transform: rotate();}
	10% {transform: rotate(0deg);}
	11% {transform: rotate();}
    16% {transform: rotate();}
	17% {transform: rotate(73deg);}
    55% {transform: rotate(0deg);}
	60% {transform: rotate(0deg);}
	90% {transform: rotate(90deg);}
   100% {transform: rotate(117deg);}
}
@-moz-keyframes leg_right_two{
     0% {transform: rotate(0deg);}
     5% {transform: rotate();}
	10% {transform: rotate(0deg);}
	11% {transform: rotate();}
    16% {transform: rotate();}
	17% {transform: rotate(73deg);}
    55% {transform: rotate(0deg);}
	60% {transform: rotate(0deg);}
	90% {transform: rotate(90deg);}
   100% {transform: rotate(117deg);}
}
@keyframes leg_right_two{
     0% {transform: rotate(0deg);}
     5% {transform: rotate();}
	10% {transform: rotate(0deg);}
	11% {transform: rotate();}
    16% {transform: rotate();}
	17% {transform: rotate(73deg);}
    55% {transform: rotate(0deg);}
	60% {transform: rotate(0deg);}
	90% {transform: rotate(90deg);}
   100% {transform: rotate(117deg);}
}



.ground{
	width: 100%;
	height: 30px;
	background-color: #101010;
overflow: hidden;}

.info{
	padding-top: 2px;
	width: 400px;
	height: 30px;
	margin: auto;
	font-size: 20px;
	text-align: center;
	color: #ffb800;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
}

/* F O O T E R */
.footer_audio{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0%;
	background-color: #ffb800;
	z-index: 102;
}

audio {width:300px;height:30px;position: absolute;left:0%;bottom:0%;float: left;}
.title{width: 100%;height:30px;float: left;margin-left: 310px;}


/* D I S P L A Y */
.dance1{display: block;}
.dance2{display: none;}
.info1{display: block;}
.info2{display: none;}