			</div>
		</div>

		<footer class="text-center">
			<hr>
			<p>My supa blog made @ hetic with Silex</p>  	
	  	</footer>

	</div>

	<script src="{{app.request.basepath}}/src/js/jquery-1.11.3.min.js"></script>
	<script src="{{app.request.basepath}}/src/js/bootstrap.min.js"></script>
</body>
</html>