*
{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', 'Helvetica', 'sans-serif';
}

header
{
	background-color: #000;
	height: 80px;
	width: 100%;
}

.title
{
	margin-left: 30px;
	line-height: 80px;
	float: left;
	color: #FFF;
	text-transform: uppercase;
}

.menu
{
	float: right;
	text-decoration: none;
	list-style-type: none;
	margin-right: 20px;
}
.menu>li
{
	display: inline-block;
	color: white;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 80px;
}


h2,h3
{
	margin: 50px auto 50px auto;
}

body
{
	background-color: #d35400;
	color: rgba(240,240,240,1);
}

/*////////// CONTENT 1 //////////*/

.container
{
	clear: both;
	height: 1300px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

#text
{
	margin: 20px;
	width: 100%;
	height: 50px;
	background-color: rgba(24,24,24,0.2);
	text-align: center;
	border: none;
	color: rgba(240,240,240,1);
	font-weight: bold;
	font-size: 24px;
}

textarea:focus, input:focus, button:focus{
    outline: 0;
}

.button
{
	margin-top: 50px;
	margin-bottom: 50px;
}

.mc, .tf
{
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	color: #FFF;
	border: none;
	background-color: #42497c;
	margin: 10px;
	width: 300px;
	height: 50px;
	font-size: 16px;
}

.button_submit
{
	border-radius: 3px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	color: #FFF;
	border: none;
	background-color: #42497c;
	margin: 10px;
	width: 160px;
	height: 40px;
	font-size: 16px;
}

.answer
{
	width: 20%;
	height: 30px;
	margin: 10px;
	background-color: rgba(24,24,24,0.1);
	border: none;
	text-align: center;
	color: rgba(240,240,240,1);
}

form
{
	width: 100%;
	margin: auto;
}

.question_name
{
	width: 100%;
	height: 50px;
	border: none;
	background-color: rgba(24,24,24,0.1);
	text-align: center;
	color: rgba(240,240,240,1);
	font-weight: bold;
	font-size: 24px;
	margin: 20px 0 20px 0;
}

#mc, #tf
{
	display: none;
}

#link
{
	margin-top: 20px;
	width: 100%;
	height: 50px;
	background-color: rgba(24,24,24,0.1);
	border: none;
	margin-bottom: 30px;
}
/*////////// CONTENT 2 //////////*/

.content
{
	width: 100%;
	height: 1400px;
	text-align: center;
}

.bloc
{
	width: 20%;
	margin: 20px;
	height: 300px;
	text-align: center;
	margin: 100px auto;
	display: inline-block;
}

.bloc>img
{
	width: 150px;
	height: 150px;
	margin: auto;
}

.submit
{
	margin-top: 30px;
}


/*///////// CONTENT 3 /////////*/

/*////////// FOOTER ///////////*/
footer
{
	background-color: rgba(25,25,25,1);
	width: 100%;
	height: 40px;
	color: #FFF;
	text-align: center;
	line-height: 40px;

}