body {background:#eee;font-size:14px;font-family:Helvetica,Arial;padding:0 0 200px 0;}
.transition {
	width:200px;
	height:200px;
	background:#b0b;
	margin:0 0 20px 0;
	transition:all 1s;
	opacity:1;
}

.transition-1:hover,
.transition-2:hover{
	width:400px;
}

.transition-2{
	transition-delay:1s;
}

.transition-3:hover{
	opacity:0;
}

.transition-4:hover{
	background:#00B4BB;
}

.container{
	position:relative;
	width:600px;
	height:400px;
	background:#0f0;
	margin:0 0 20px 0;
}

.transition-5{
	position:absolute;
	background:#FF9600;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-100px;
}

.container:hover .transition-5{
	left:100%;
}

.transition-6:hover{
	border-radius:100px;
}

.animation {
	position:relative;
	width:200px;
	height:200px;
	background:#ff8600;
	margin:0 0 20px 0;
	-webkit-animation:awesome_stuff 5s ease 0s infinite alternate;
	   -moz-animation:awesome_stuff 5s ease 0s infinite alternate;
	     -o-animation:awesome_stuff 5s ease 0s infinite alternate;
	        animation:awesome_stuff 5s ease 0s infinite alternate;

	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
	     -o-animation-play-state:paused;
	        animation-play-state:paused;
}

.animation:hover{
	-webkit-animation-play-state:running;
	   -moz-animation-play-state:running;
	     -o-animation-play-state:running;
	        animation-play-state:running;
}

@-webkit-keyframes awesome_stuff{
	0%   {left:0;width:200px;}
	50%  {left:200px;}
	75%  {left:100px;}
	100% {left:400px;width:400px;}
}

@-moz-keyframes awesome_stuff{
	0%   {left:0;width:200px;}
	50%  {left:200px;}
	75%  {left:100px;}
	100% {left:400px;width:400px;}
}

@-o-keyframes awesome_stuff{
	0%   {left:0;width:200px;}
	50%  {left:200px;}
	75%  {left:100px;}
	100% {left:400px;width:400px;}
}

@keyframes awesome_stuff{
	0%   {left:0;width:200px;}
	50%  {left:200px;}
	75%  {left:100px;}
	100% {left:400px;width:400px;}
}














