@font-face {
    font-family: Segoeuil;
    src: url(./segoeuil.ttf);
}
.form{
    font-family: Segoeuil;
	position:absolute;
	width:600px;
	height:120px;
	text-align:center;
	top:50%;
	margin-top : -100px;;
	left:50%;
	margin-left: -300px;
	border : 1px solid black;
	background-color:EEEEEE;
}
