header
{
	background-color: #182335;
	width: 100%;
}

a
{
	text-decoration: none;
	color: white;
}

/*///////// CSS POUR MON HEADER ////////*/

#myHeader
{
	width: 1020px;
	height: 60px;
	margin: 0 auto;
}

#logo
{
	height: 80%;
	padding-top: 5px;
	float: left;
}
#nameLogo
{
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	float:left;
	padding-top: 18px;
}
nav
{
	font-size: 20px;
	color: #FFF;
	border: 1px white solid;
	float: right;
	padding-top: 5px;
}
ul>li
{
	text-align: center;
	text-decoration: none;
	float: right;
	padding-top: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-right: 15px;
}

#separator
{
	background-color: #2F3F58;
	width: 100%;
	height: 10px;
	clear: both;
}

a:hover
{
	border-bottom: 3px white solid;
}
/*/////////// FIN DU CSS DE MON HEADER /////////*/
/*///////////// DEBUT DE MON PLAYER ////////////*/
#player
{
	width: 1020px;
	margin: 0 auto;
}

#video
{
	
	width:1020px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	display: block;
}

.bar
{
	width: 100%;
	height: 10px;
	background-color: #CA6C62;
	position: relative;
}

.playedBar
{
	transition:width 0.1s;
	-moz-transition:width 0.1s; /* Firefox 4 */
	-webkit-transition:width 0.1s; /* Safari and Chrome */
	-o-transition:width 0.1s;
	position: absolute fixed;
	width: 0%;
	height: 10px;
	background-color: #602620;
}

.cursorPlay
{
	transition:width 0.1s;
	-moz-transition:width 0.1s; /* Firefox 4 */
	-webkit-transition:width 0.1s; /* Safari and Chrome */
	-o-transition:width 0.1s;
	position: absolute;
	margin-left: -5px;
	margin-top: -5px;
	width: 15px;
	height: 15px;
	border-radius: 20px;
	border: 1px black solid;
	background-color: #FFF;
	top: 0;
}


.cursorTime
{
	transition:width 0.1s;
	-moz-transition:width 0.1s; /* Firefox 4 */
	-webkit-transition:width 0.1s; /* Safari and Chrome */
	-o-transition:width 0.1s;
	position: absolute;
	margin-left: -5px;
	margin-top: -30px;
	width: 35px;
	height: 20px;
	border-radius: 3px;
	border: 1px black solid;
	color: white;
	background-color: #424242;
	top: 0;
	display:none;
	text-align: center;
	font-family: 'Roboto Condensed';
}

.bar:hover > .cursorTime
{
	display:block;
}

.inline-button
{ 	
	background-color: #424242;
	display: inline-block; 
	width: 100%;
	height: 30px;
	clear: both;
	position: relative;
}

.toggle, .volume, .volume-down, .volume-up, .restart
 {
 	background-color: #424242;
 	width: 50px;
 	height: 30px;
 	float: left;
 	border-right: 1px solid #666666;
 }

.infos, .fullscreen
 {
 	background-color: #424242;
 	width: 50px;
 	height: 30px;
 	float: right;
 	border-right: 1px solid #666666;
 }

 #play_btn, #volume, #downVolume, #upVolume, #restart, #fullscreen, #infos
 {
 	margin: auto;
 	display: inherit;
 	padding-top: 6px;
 }


#timeDuration
{
	float:left;
	padding-top: 6px;
	margin-left: 20px;
	font-family: 'Roboto Condensed';
	color: #FFF;
}
 #totalDuration
 {
 	float:left;
 	padding-top: 6px;
	font-family: 'Roboto Condensed';
	color: #666;
 }
.stats
{
	width: 1020px;
	height: 40px;
	display: inline-block;
	clear: both;
	display: none;
	border : 1px black solid;
}

#percentDuration, #message
{
	float: left;
	margin-right: 20px;
}
/*------------ FIN DU PLAYER --------------*/