/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Début*/

body { background-color:#ececec ; font-family:'Lato', sans-serif ; color:#747474 ; }
a { color:#bf96cc ; }
.navigation { height:55px ; background-color:#fafafa ; padding:5px 10px ; font-size:14px ; border-bottom: 2px solid #e4e4e4 ; }
.navigation img { display:inline-block ; vertical-align:middle ; width:100px ; }
.navigation li { display:inline-block ; margin-left:30px ; }
.navigation ul { display:inline-block ; }
.content { margin:auto ; text-align:center ; margin-top:120px ; }
.content img { border:5px solid #bf96cc ; }
.reponses{ display:inline-block ; margin-right:50px ; font-size:20px ; }
.reponses img { margin-top:15px ; }
.text { width:600px; margin:auto ; margin-bottom:15px ; }
.result { font-size:16px ; }
.total { font-weight:700 ; font-size:22px ; color:#bf96cc ; margin-top:10px ; }
.footer { height:15px ; width:100% ; position:absolute ; bottom:0 ; font-size:10px ; }