body {background: #111; font-family:Helvetca,Arial; font-size: 48px; }


.sky {
	background: #25f;
}


/* visage du personnage, suivi de ses yeux, bouche, visage, cheveux et moustache */
.face {
	position: relative;
	width: 75px;
	height: 75px;
	background: #B89;
}

.eye1 {
	position: relative;
	top: 15px;
	left: 15px;
	width: 5px;
	height: 5px;
	background: #000;
	-webkit-animation: blink 5s ease-in-out infinite 0 running;
	border-radius: 3px;

	-moz-animation: blink 5s ease-in-out infinite 0 running;
	-o-animation: blink 5s ease-in-out infinite 0 running;
	-ms-animation: blink 5s ease-in-out infinite 0 running;
}

.eye2 {
	position: absolute;
	top: 15px;
	left: 50px;
	width: 5px;
	height: 5px;
	background: #000;
	-webkit-animation: blink 5s ease-in-out infinite 0s running;	
	border-radius: 3px;

	-moz-animation: blink 5s ease-in-out infinite 0s running;
	-o-animation: blink 5s ease-in-out infinite 0s running;
	-ms-animation: blink 5s ease-in-out infinite 0s running;
}

.mouth {
	position: relative;
	top: 55px;
	left: 20px;
	width: 30px;
	height: 5px;
	background: #fff;	
	border-radius: 15px;	
}

.head {
	position: relative;
	top: 300px;
	left: 500px;
	width: 75px;
	height: 100px;
	-webkit-animation: floating 5s ease-in-out infinite 0s;

	-moz-animation: floating 5s ease-in-out infinite 0s;
	-o-animation: floating 5s ease-in-out infinite 0s;
	-ms-animation: floating 5s ease-in-out infinite 0s;
}

.hair {
	position: relative;
	width: 75px;
	height: 25px;
	background: #6B5430;
}

.stach1 {

	position: relative;
	top: 45px;
	left: 20px;
	width: 13px;
	height: 3px;
	background: #6B5430;
 	-webkit-animation: stachmove1 2s ease-in-out infinite 0s running;
	-webkit-animation-direction: alternate;	

	-moz-animation: stachmove1 2s ease-in-out infinite 0s running;
	-o-animation: stachmove1 2s ease-in-out infinite 0s running;
	-ms-animation: stachmove1 2s ease-in-out infinite 0s running;

	-moz-animation-direction: alternate;
	-o-animation-direction: alternate;
	-ms-animation-direction: alternate;
}

/*animation moustache de gauche */
@-webkit-keyframes stachmove1 {
	to {transform: rotate(-15deg);}
}

@-moz-keyframes stachmove1 {
	to {transform: rotate(-15deg);}
}

@-ms-keyframes stachmove1 {
	to {transform: rotate(-15deg);}
}

@-o-keyframes stachmove1 {
	to {transform: rotate(-15deg);}
}

.stach2 {
	position: relative;
	top: 42px;
	left: 37px;
	width: 13px;
	height: 3px;
	background: #6B5430;
	-webkit-animation: stachmove2 2s ease-in-out infinite 0s running;
	-webkit-animation-direction: alternate;	

	-moz-animation: stachmove2 2s ease-in-out infinite 0s running;
	-o-animation: stachmove2 2s ease-in-out infinite 0s running;
	-ms-animation: stachmove2 2s ease-in-out infinite 0s running;

	-moz-animation-direction: alternate;	
	-o-animation-direction: alternate;	
	-ms-animation-direction: alternate;	
}

/*animation moustache de droite */
@-webkit-keyframes stachmove2 {
	to {transform: rotate(15deg);}
}

@-moz-keyframes stachmove2{
	to {transform: rotate(15deg);}
}

@-ms-keyframes stachmove2 {
	to {transform: rotate(15deg);}
}

@-o-keyframes stachmove2 {
	to {transform: rotate(15deg);}
}

@keyframes stachmove2{
	to {transform: rotate(15deg);}
}

/*le haut du corps, avec son col V et ses boutons de chemise */
.body {
	position: relative;
	top: 300px;
	left: 500px;
	width: 75px;
	height: 125px;
	background: #0A9642;
	-webkit-animation: floating 5s ease-in-out infinite 0s;

	-moz-animation: floating 5s ease-in-out infinite 0s;
	-o-animation: floating 5s ease-in-out infinite 0s;
	-ms-animation: floating 5s ease-in-out infinite 0s;
}

@-webkit-keyframes floating {
  0% {-webkit-transform: translate(0, 0px);}
 50% {-webkit-transform: translate(0, -20px);}
 100% {-webkit-transform: translate(0, 0px);}
}

@-moz-keyframes floating {
  0% {-webkit-transform: translate(0, 0px);}
 50% {-webkit-transform: translate(0, -20px);}
 100% {-webkit-transform: translate(0, 0px);}
}

@-ms-keyframes floating {
  0% {-webkit-transform: translate(0, 0px);}
 50% {-webkit-transform: translate(0, -20px);}
 100% {-webkit-transform: translate(0, 0px);}
}

@-o-keyframes floating {
  0% {-webkit-transform: translate(0, 0px);}
 50% {-webkit-transform: translate(0, -20px);}
 100% {-webkit-transform: translate(0, 0px);}
}

.neck {
	position: relative;
	left: 18px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #B89;
}

.shirt_button1 {
	position: relative;
	background: #000;
	border-radius: 3px;	
	top: 2px;
	left: 35px;
	width: 5px;
	height: 5px;
}

.shirt_button2 {
	position: relative;
	background: #000;
	border-radius: 3px;	
	top: 12px;
	left: 35px;
	width: 5px;
	height: 5px;
}

.shirt_button3 {
	position: relative;
	background: #000;
	border-radius: 3px;	
	top: 22px;
	left: 35px;
	width: 5px;
	height: 5px;
}

/*Les vagues suivi de leur animations  */
.waves-back {
    width: 1800px;
    background-image: url(wavest.png);
    background-repeat: repeat-x;
    z-index: 2;
    position: absolute;
    top: 150px;
    left: 35pc;
    -webkit-animation: waves-back-animation 3s infinite ease-in-out;

    -moz-animation: waves-back-animation 3s infinite ease-in-out;
	-o-animation: waves-back-animation 3s infinite ease-in-out;
	-ms-animation: waves-back-animation 3s infinite ease-in-out;
}
.waves-front {
    width: 1800px;
    background-image: url(wavesp.png);
    background-repeat: repeat-x;
    z-index: 3;
    position: absolute;
    top: 170px;
    -webkit-animation: waves-front-animation 2s infinite ease-in-out; 

    -moz-animation: waves-front-animation 2s infinite ease-in-out;
	-o-animation: waves-front-animation 2s infinite ease-in-out;
	-ms-animation: waves-front-animation 2s infinite ease-in-out;
}

@-webkit-keyframes waves-back-animation {
    0%   {bottom: 20px; left: -20px;}
    25%  {bottom: 8px; left: -22px;}
    65%  {bottom: 12px; left: -36px;}
    100% {bottom: 20px; left: -20px;}
}

@-webkit-keyframes waves-front-animation {
    0%   {bottom: -70px; left: -30px;}
    25%  {bottom: -68px; left: -32px;}
    65%  {bottom: -50px; left: -34px;}
    100% {bottom: -69px; left: -30px;}
}


@-moz-keyframes waves-back-animation {
    0%   {bottom: 20px; left: -20px;}
    25%  {bottom: 8px; left: -22px;}
    65%  {bottom: 12px; left: -36px;}
    100% {bottom: 20px; left: -20px;}
}

@-ms-keyframes waves-back-animation {
    0%   {bottom: 20px; left: -20px;}
    25%  {bottom: 8px; left: -22px;}
    65%  {bottom: 12px; left: -36px;}
    100% {bottom: 20px; left: -20px;}
}

@-o-keyframes waves-back-animation {
    0%   {bottom: 20px; left: -20px;}
    25%  {bottom: 8px; left: -22px;}
    65%  {bottom: 12px; left: -36px;}
    100% {bottom: 20px; left: -20px;}
}

@-moz-keyframes waves-front-animation {
    0%   {bottom: -70px; left: -30px;}
    25%  {bottom: -68px; left: -32px;}
    65%  {bottom: -50px; left: -34px;}
    100% {bottom: -69px; left: -30px;}
}

@-ms-keyframes waves-front-animation {
    0%   {bottom: -70px; left: -30px;}
    25%  {bottom: -68px; left: -32px;}
    65%  {bottom: -50px; left: -34px;}
    100% {bottom: -69px; left: -30px;}
}

@-o-keyframes waves-front-animation {
    0%   {bottom: -70px; left: -30px;}
    25%  {bottom: -68px; left: -32px;}
    65%  {bottom: -50px; left: -34px;}
    100% {bottom: -69px; left: -30px;}
}

/*Espace dédié aux bulles et avant destiné à tout le reste mais quelques soucis ont été rencontrés :( */
.sea {
	width: 1800px;
	top: 170px;
	background: #99cccc;
	height: 900px;
	margin-left: -50px;
	z-index: 1;
}

.bubble1 {
  	position: absolute;
  	top: 220px;
  	left: 542px;
  	margin-top: 160px;
  	width: 8px;
  	height: 8px;
  	background-image: url("bubble1.png");
  	background-repeat: no-repeat;
  	z-index: 4;
  	-webkit-animation: bubble1 3s linear infinite 0.5s;

  	-moz-animation: bubble1 3s linear infinite 0.5s;
	-o-animation: bubble1 3s linear infinite 0.5s;
	-ms-animation: bubble1 3s linear infinite 0.5s;
}

.bubble2 {
  	position: absolute;
  	top: 225px;
  	left: 525px;
  	margin-top: 160px;
  	width: 16px;
  	height: 16px;
  	background-image: url("bubble2.png");
  	background-repeat: no-repeat;
  	z-index: 4;
  	-webkit-animation: bubble1 3s linear infinite 0s;
  	-moz-animation: bubble1 3s linear infinite 0s;
	-o-animation: bubble1 3s linear infinite 0s;
	-ms-animation: bubble1 3s linear infinite 0s;
}

.bubble3 {
	position: absolute;
  	top: 230px;
  	left: 525px;
  	margin-top: 160px;
  	width: 8px;
  	height: 8px;
  	background-image: url("bubble2.png");
  	background-repeat: no-repeat;
  	z-index: 4;
  	-webkit-animation: bubble1 2s linear infinite 1s;

  	-moz-animation: bubble1 2s linear infinite 1s;
	-o-animation: bubble1 2s linear infinite 1s;
	-ms-animation: bubble1 2s linear infinite 1s;
}

.bubble4 {
  	position: absolute;
  	top: 228px;
  	left: 560px;
  	margin-top: 160px;
  	width: 8px;
  	height: 8px;
  	background-image: url("bubble1.png");
  	background-repeat: no-repeat;
  	z-index: 4;
  	-webkit-animation: bubble1 3s linear infinite 2s;

  	-moz-animation: bubble1 3s linear infinite 2s;
	-o-animation: bubble1 3s linear infinite 2s;
	-ms-animation: bubble1 3s linear infinite 2s;
}

/* Animation des bulles, elle tournent, dévient, deviennent invisibles et changent de taille */
@-webkit-keyframes bubble1 {
  0% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);}
  100% { opacity: 0; -webkit-transform: translate(0px, -270px) rotate(360deg) scale(0.6);}
}

@-moz-keyframes bubble1 {
  0% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);}
  100% { opacity: 0; -webkit-transform: translate(0px, -270px) rotate(360deg) scale(0.6);}
}

@-ms-keyframes bubble1 {
  0% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);}
  100% { opacity: 0; -webkit-transform: translate(0px, -270px) rotate(360deg) scale(0.6);}
}

@-o-keyframes bubble1 {
  0% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);}
  100% { opacity: 0; -webkit-transform: translate(0px, -270px) rotate(360deg) scale(0.6);}
}

@-webkit-keyframes bubble2 {
  0% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);}
  100% { opacity: 0; -webkit-transform: translate(0px, -270px) rotate(360deg) scale(3);}
}

@-moz-keyframes bubble2 {
  0% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);}
  100% { opacity: 0; -webkit-transform: translate(0px, -270px) rotate(360deg) scale(3);}
}

@-ms-keyframes bubble2 {
  0% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);}
  100% { opacity: 0; -webkit-transform: translate(0px, -270px) rotate(360deg) scale(3);}
}

@-o-keyframes bubble2 {
  0% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);}
  100% { opacity: 0; -webkit-transform: translate(0px, -270px) rotate(360deg) scale(3);}
}

/*Bas du corps du personnage avec leurs animations respectives */
.bottom-part {
	position: absolute;
	top: 525px;
	left: 508px;
	-webkit-animation: floating 5s ease-in-out infinite 0s;

	-moz-animation: floating 5s ease-in-out infinite 0s;
	-o-animation: floating 5s ease-in-out infinite 0s;
	-ms-animation: floating 5s ease-in-out infinite 0s;
}

.leg1 {
	top: -7px;
	width: 35px;
	height: 125px;
	background: #786A52;
	-webkit-animation: leg1-animation 5s ease-in-out infinite 0s;
	-webkit-animation-direction: alternate;

	-moz-animation: leg1-animation 5s ease-in-out infinite 0s;
	-o-animation: leg1-animation 5s ease-in-out infinite 0s;
	-ms-animation: leg1-animation 5s ease-in-out infinite 0s;

	-moz-animation-direction: alternate;
	-o-animation-direction: alternate;
	-ms-animation-direction: alternate;
}

.leg2 {
	position: absolute;
	top: 0px;
	left: 40px;
	width: 35px;
	height: 125px;
	background: #786A52;
	-webkit-animation: leg2-animation 5s ease-in-out infinite 0s;
	-webkit-animation-direction: alternate;

	-moz-animation: leg2-animation 5s ease-in-out infinite 0s;
	-o-animation: leg2-animation 5s ease-in-out infinite 0s;
	-ms-animation: leg2-animation 5s ease-in-out infinite 0s;

	-moz-animation-direction: alternate;
	-o-animation-direction: alternate;
	-ms-animation-direction: alternate;
}

@-webkit-keyframes leg1-animation{
	0%   {transform: rotateY(0deg)  rotateX(0deg);}
	100% {transform:translateX(-10px) rotateY(30deg) rotateX(-30deg);}
}

@-moz-keyframes leg1-animation{
	0%   {transform: rotateY(0deg)  rotateX(0deg);}
	100% {transform:translateX(-10px) rotateY(30deg) rotateX(-30deg);}
}

@-ms-keyframes leg1-animation{
	0%   {transform: rotateY(0deg)  rotateX(0deg);}
	100% {transform:translateX(-10px) rotateY(30deg) rotateX(-30deg);}
}

@-o-keyframes leg1-animation{
	0%   {transform: rotateY(0deg)  rotateX(0deg);}
	100% {transform:translateX(-10px) rotateY(30deg) rotateX(-30deg);}
}

@-webkit-keyframes leg2-animation{
	0%   {transform: rotateY(0deg)  rotateX(0deg);}
	100% {transform:translateX(10px) rotateY(-30deg) rotateX(-30deg);}
}

@-moz-keyframes leg2-animation{
	0%   {transform: rotateY(0deg)  rotateX(0deg);}
	100% {transform:translateX(10px) rotateY(-30deg) rotateX(-30deg);}
}

@-ms-keyframes leg2-animation{
	0%   {transform: rotateY(0deg)  rotateX(0deg);}
	100% {transform:translateX(10px) rotateY(-30deg) rotateX(-30deg);}
}

@-o-keyframes leg2-animation{
	0%   {transform: rotateY(0deg)  rotateX(0deg);}
	100% {transform:translateX(10px) rotateY(-30deg) rotateX(-30deg);}
}

/*Les bras et leurs animations  */
.arms {
	position: absolute;
	top: 350px;
	left: 300px;
	width: 800px;
	height: 125px;
	//background: #0A9642;
	-webkit-animation: floating 5s ease-in-out infinite 0s;
	-moz-animation: floating 5s ease-in-out infinite 0s;
	-o-animation: floating 5s ease-in-out infinite 0s;
	-ms-animation: floating 5s ease-in-out infinite 0s;
}

.arm1 {
	position: relative;
	left: 180px;
	top: 60px;
	width: 30px;
	height: 130px;
	background: #0A9642;
	-webkit-animation: arm1-animation 5s ease-in-out infinite 0s;
	-moz-animation: arm1-animation 5s ease-in-out infinite 0s;
	-o-animation: arm1-animation 5s ease-in-out infinite 0s;
	-ms-animation: arm1-animation 5s ease-in-out infinite 0s;
}

.arm2 {
	position: absolute;
	left: 280px;
	top: 60px;
	width: 30px;
	height: 130px;
	background: #0A9642;
	-webkit-animation: arm2-animation 5s ease-in-out infinite 0s;
	-moz-animation: arm2-animation 5s ease-in-out infinite 0s;
	-o-animation: arm2-animation 5s ease-in-out infinite 0s;
	-ms-animation: arm2-animation 5s ease-in-out infinite 0s;
}

@-webkit-keyframes arm1-animation{
	0%   {transform: rotateZ(0deg) translateX(0px);}
	50%   {transform: rotateZ(20deg) translateX(-10px);}
	100% {transform: rotateZ(0deg) translateX(0px);}
}


@-moz-keyframes arm1-animation{
	0%   {transform: rotateZ(0deg) translateX(0px);}
	50%   {transform: rotateZ(20deg) translateX(-10px);}
	100% {transform: rotateZ(0deg) translateX(0px);}
}

@-ms-keyframes arm1-animation{
	0%   {transform: rotateZ(0deg) translateX(0px);}
	50%   {transform: rotateZ(20deg) translateX(-10px);}
	100% {transform: rotateZ(0deg) translateX(0px);}
}

@-o-keyframes arm1-animation{
	0%   {transform: rotateZ(0deg) translateX(0px);}
	50%   {transform: rotateZ(20deg) translateX(-10px);}
	100% {transform: rotateZ(0deg) translateX(0px);}
}

@-webkit-keyframes arm2-animation{
	0%   {transform: rotateZ(0deg) translateX(0px);}
	50%   {transform: rotateZ(-20deg) translateX(10px);}
	100% {transform: rotateZ(0deg) translateX(0px);}
}

@-moz-keyframes arm2-animation{
	0%   {transform: rotateZ(0deg) translateX(0px);}
	50%   {transform: rotateZ(-20deg) translateX(10px);}
	100% {transform: rotateZ(0deg) translateX(0px);}
}

@-ms-keyframes arm2-animation{
	0%   {transform: rotateZ(0deg) translateX(0px);}
	50%   {transform: rotateZ(-20deg) translateX(10px);}
	100% {transform: rotateZ(0deg) translateX(0px);}
}

@-o-keyframes arm2-animation{
	0%   {transform: rotateZ(0deg) translateX(0px);}
	50%   {transform: rotateZ(-20deg) translateX(10px);}
	100% {transform: rotateZ(0deg) translateX(0px);}
}

/*Le requin, le bain de sang et le poisson qui défile sur l'écran  */
.shark {
	position: absolute;
	top: 228px;
	left: 600px;
	width: 589px;
	height: 331px;
	background-image: url("shark.png");
	background-repeat: no-repeat;
	z-index: 5;
    -webkit-animation: floating 3s ease-in-out infinite 0s;
    -moz-animation: floating 3s ease-in-out infinite 0s;
	-o-animation: floating 3s ease-in-out infinite 0s;
	-ms-animation: floating 3s ease-in-out infinite 0s;
}

.blood {
	opacity: 0;
	position: absolute;
	top: 300px;
	left: 470px;
	width: 250px;
	height: 300px;
	background-image: url("bloodbath.png");
	background-repeat: no-repeat;
    -webkit-animation: floating 3s ease-in-out infinite 0s;
	-moz-animation: floating 3s ease-in-out infinite 0s;
	-o-animation: floating 3s ease-in-out infinite 0s;
	-ms-animation: floating 3s ease-in-out infinite 0s;
}

.shark:hover + .blood{
	opacity: 0.5;
	-webkit-animation: shake-blood 0.3s ease-in-out infinite 0s;
	-moz-animation: shake-blood 0.3s ease-in-out infinite 0s;
	-o-animation: shake-blood 0.3s ease-in-out infinite 0s;
	-ms-animation: shake-blood 0.3s ease-in-out infinite 0s;
}

.shark:hover {
	-webkit-animation: shake-shark 1s ease-in-out infinite 0s;

	-moz-animation: shake-shark 1s ease-in-out infinite 0s;
	-o-animation: shake-shark 1s ease-in-out infinite 0s;
	-ms-animation: shake-shark 1s ease-in-out infinite 0s;
}

@-webkit-keyframes shake-blood{
	0%   {transform: translate(0);}
	50%   {transform: translate(-20px,0);}
	100% {transform: translate(0);}
}

@-moz-keyframes shake-blood{
	0%   {transform: translate(0);}
	50%   {transform: translate(-20px,0);}
	100% {transform: translate(0);}
}

@-ms-keyframes shake-blood{
	0%   {transform: translate(0);}
	50%   {transform: translate(-20px,0);}
	100% {transform: translate(0);}
}

@-o-keyframes shake-blood{
	0%   {transform: translate(0);}
	50%   {transform: translate(-20px,0);}
	100% {transform: translate(0);}
}


@-webkit-keyframes shake-shark{
	0%   {transform: translate(0px);}
	50%   {transform: translate(-40px,0);}
	100% {transform: translate(0);}
}

@-moz-keyframes shake-shark{
	0%   {transform: translate(0px);}
	50%   {transform: translate(-40px,0);}
	100% {transform: translate(0);}
}

@-ms-keyframes shake-shark{
	0%   {transform: translate(0px);}
	50%   {transform: translate(-40px,0);}
	100% {transform: translate(0);}
}

@-o-keyframes shake-shark{
	0%   {transform: translate(0px);}
	50%   {transform: translate(-40px,0);}
	100% {transform: translate(0);}
}


.fish1 {
	position: absolute;
	top: 650px;
	left: 1600px;
	width: 200px;
	height: 300px;
	background-image: url("fish1.png");
	background-repeat: no-repeat;
	z-index: 5;
    -webkit-animation: floating 10s ease-in-out infinite 0s;
    -webkit-animation: cross-sea 30s ease-in-out infinite 0s;
    -moz-animation: floating 10s ease-in-out infinite 0s;
    -o-animation: floating 10s ease-in-out infinite 0s;
    animation-timing-function: floating 10s ease-in-out infinite 0s;
}

@-webkit-keyframes cross-sea{
 0% {transform: translate(0,0);}
 100% {transform: translate(-2000px,0);}
}

@-moz-keyframes cross-sea{
 0% {transform: translate(0,0);}
 100% {transform: translate(-2000px,0);}
}

@-ms-keyframes cross-sea{
 0% {transform: translate(0,0);}
 100% {transform: translate(-2000px,0);}
}

@-o-keyframes cross-sea{
 0% {transform: translate(0,0);}
 100% {transform: translate(-2000px,0);}
}

/* Pour le clignement des yeux */
@-webkit-keyframes blink {
	0%   {opacity: 1;}
	95%   {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes blink {
	0%   {opacity: 1;}
	95%   {opacity: 1;}
	100% {opacity: 0;}
}

@-ms-keyframes blink {
	0%   {opacity: 1;}
	95%   {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes blink {
	0%   {opacity: 1;}
	95%   {opacity: 1;}
	100% {opacity: 0;}
}
