label{
	float : left;
	width :250px;
}

.terms{
	float : none;
}

select{
	margin-bottom: 10px; 
}

input{
	margin-bottom: 10px; 
}

body {
    background: url('../img/wp.png') no-repeat center center fixed;
    background-size:cover;
    font-family: Helvetica;
    margin-left: 50px;
    margin-top: 50px;
}

.login{
	float : left;
	width : 80px;
}

.remember{
	float : none;
}
