.fullscreen
{
	color: white;
}

*
{
	border: 1px ridge grey;
	margin: 0;
	padding: 0;
}



#wrapper
{
	background: black;
}

#info
{
	background: black;
}

h1
{
	color: white;
	font-size: 400%;
	text-align: center;
	background-color: black;
	font-weight: bold;
}

#player
{
	width: 55%;
	height: 40%;
	margin: auto;
	position: absolute;
	right: 25%;
	bottom: 30%;
}

#info,#controls
{
	background: white;
	width: 100%;
	text-align: center;
	font-size: 500%;
	position: absolute;
	bottom: 0px;
}

#duration
{
	float: right;
}

#play_pause img
{
	display: none;
}

#play_pause.play #pause
{
	display: block;
}

#play_pause.pause #play
{
	display: block;
}

#bar
{
	background: #e2e2e2;
	height: 10px;
	width: 100%;
}

#bar_inner
{
	background: #2fe6ca;
	height: 100%;
	width: 0;
}

#volume
{
	background: #e2e2e2;
	display: inline-block;
	height: 10px;
	width: 100px;
}

#volume_bar
{
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#volume_inner
{
	background: #7db9e8;
	background: -moz-linear-gradient(left,  #7db9e8 -1%, #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(-1%,#7db9e8), color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #7db9e8 -1%,#7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #7db9e8 -1%,#7db9e8 0%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #7db9e8 -1%,#7db9e8 0%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to right,  #7db9e8 -1%,#7db9e8 0%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
	height: 100%;
	width: 100px;
}

.fullscreen #player
{
	background: black;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0%;
	top: 0;
	width: 100%;
}

.fullscreen #controls
{
	background: #fff;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
}

.fullscreen #infos
{
	background: #fff;
	bottom: 45px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
}