body {font-family:Ghostbusters,Helvetica,arial;font-size: 25;}

/* semble ne pas fonctionner
@font-face{
	font-family: 'Ghostbusters';
	src : police('GHOSTBUS.ttf') format('truetype');
}
*/


	h1{
    	text-align: center;
    	font-size: 40px;
	}

	canvas{
	  	display: block;
	  	margin: auto;
	}

