*{
	padding: 0; 
	margin: 0; 
}

body{
	background:#f7f8fa; 
	font: 14px "Avenir";  
	color: #464646; 

}

.ok{
  color:#464646;
  width:615px;
  height:35px;
  margin-bottom:15px;
  text-align:center;
  line-height:35px;
  background:#f9f9f9;
  border: solid 1px #DFDFDF;
}

.erreurid{
  color:#f55;
  width:615px;
  height:35px;
  margin-bottom:15px;
  text-align:center;
  line-height:35px;
  background:#f9f9f9;
  border: solid 1px #DFDFDF;
}

#login{
  float:right;
}

#login a{
  color:#464646;
  text-decoration:underline;
}

#login a:hover{
  color:#777;
  text-decoration:none;
}

p{
	margin: 10px 0px 10px 0px;
  font-family: Avenir;
}

.error{
  color:#f55;
}

label{
  display:block;
  margin-top:5px;
}

#header h3{
	color: #FFFFF3; 
	padding: 10px; 
	font-weight: normal;
}


#wrap{
	background: #FFFFFF; 
	width: 615px; 
	margin-left:100px; 
	margin-top: 50px; 
	padding: 10px; 
	border: 1px solid #DFDFDF; 
	text-align: center;
  margin: 100px auto;  
}

#wrap h3{
	font: bold 22px Avenir; 
}


form{
	margin-top: 10px; 
}

form .submit_button{
	background: #F9F9F9; 
	border: 1px solid #DFDFDF; 
	margin:auto;
  display:block;
  margin-top:20px;
}

input{
	font: normal 16px Avenir; 
	border: 1px solid #DFDFDF; 
	padding: 8px; 
  margin-top:5px;
}


#captcha{
  margin-top:10px; 
  margin-left:37%; 
  font-size:35px; 
  border:solid #ccc 1px; 
  padding:5px; 
  width:150px; 
  text-align:center;
}

::-webkit-input-placeholder {
   text-align: center;
}

::-moz-placeholder {
   text-align: center;  
}
