body {
	position:absolute;
	top:0;
	left:0;

	font-family: helvetica, arial;

	height:100vh;
	width:100vw;

	margin:0;

	font-weight:200;

	background-color:#FAFAFA;
	text-align:center;
}

a{
	text-decoration:none;
}

.header {
	margin-top:2vh;
	margin-left:auto;
	margin-right:auto;

	font-family: 'Roboto', serif;
	font-size:38px;
	color:#000;

	/*vertical-align:middle;*/

	text-align:center;

	/*background-color:#F44336;*/
}

h1{
	font-size:50px;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	margin-left:auto;
	margin-right:auto;
	padding-right:5px;
	overflow:hidden;

	border:2px solid #EF5350;
}

h1 span{
	background-color:#EF5350;
	color: #FFF;
	padding:5px;
}

h2{
	margin-top:1%;
	margin-right:1%;

	font-family: 'Roboto', helvetica;

	font-size:24px;

	width:100vw;
	text-align:center;
}

.name {
	font-size:32px;
	font-family: 'Roboto', serif;

	padding:20px;

	color:#FFF;
	text-decoration: none;

}
.choice {
	display:inline-block;
	width:65vw;
}
ul {
	margin-left:auto;
	margin-right:auto;

}

.choice ul li {
	display:inline-block;
	text-align:center;
	overflow:hidden;
	margin: 3%;

	width:355px;

	color:#FFF;
	
	
	background-color:#EF5350;

}

input[type="radio"] {
    display: none;
}

.button {
	padding:20px;

	display:inline-block;

	text-align:center;
	color:white;

	background-color:#EF5350;
}


label:hover {
	cursor:pointer;
}

.call_button {
	font-family: 'Roboto';
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	text-decoration:none;
	display:inline-block;
}

.result {
	color:#F44336;
	margin-top:10px;
	font-family:'Roboto';
	font-weight:100;

	margin-bottom:40px;
	

}

.score {
	font-size:16px;
	
	text-align:left;
	width:1%;

	margin-left:7.5%;
	
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	margin-top:0;
	margin-bottom:0;
	overflow:hidden;
	background-color:rgba(244, 67, 54, 1);

}

.score:hover {
	
}
.score span{
	margin-right:20px;
	float:right;
}

.votes {
	font-family: 'Roboto';
	margin-top:20px;
	margin-bottom : 20px;
}

.shadow-0 {
    border: 1px solid #eee;
}
.shadow-1 {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.shadow-2 {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.shadow-3 {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.shadow-4 {
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}
.shadow-5 {
    box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1290px) {

	.choice{
		width:100vw;
	}


}