html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
overflow:hidden;
	
}

body{
	font-family: helvetica;
	background: #202020;
	font-family: 'PT Sans', sans-serif;

}



.background{
	height: 100%;
	width: 100%;
	background-image: url('https://41.media.tumblr.com/70b316dbce911bedd8aaf3f613e4d165/tumblr_ne361rQr6w1t5oqqgo2_1280.jpg');
	background-size: cover;
	position: absolute;
	background-position: 50% 50%;

}

.before{
	background-color: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;
}

.formulaire{
	position: absolute;
	top: 50%;
right: 40%;
-webkit-animation: intro 1s ease-out ;
-moz-animation: intro 1s ease-out ;
animation: intro 1s ease-out ;
}

@-webkit-keyframes intro {
    from {top: 60%; opacity:0;}
    to {top: 50%; opacity: 1;}
} 


h1{
font-size: 50px;
position: absolute;
top: 40%;
color: white;
text-align: center;
width: 100%;
-webkit-animation: intro_titre 1s ease-out ;
-moz-animation: intro_titre 1s ease-out ;
animation: intro_titre 1s ease-out ;
}

@-webkit-keyframes intro_titre {
    from {top: 45%}
    to {top: 40%;}
} 




form input{
	padding: 11px 34px 11px 34px;
margin: 0;
border: 0;
background: 0;
font: 16px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: #FFBDF2;
border-radius: 2px;
text-align: center;
}

form input:first-child{
	border-bottom: 1px rgb(215, 164, 164) solid;

}

.checkbox{
	color: white;
	display: block;
}

.submit{
	width: 261px;
	background: #529ECC;
	font-weight: bold;
	color: white;
}

.login {
position: absolute;
background-color: #fff;
color: #444;
height: 32px;
margin-top: 10px;
right: 8%;
padding: 7px 14px;
text-decoration: none;
border-radius: 9px;
cursor: pointer;
font-family: 'Open Sans Condensed', sans-serif;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.forgot{
	position: absolute;
top: 59%;
bottom: 0;
left: 56%;
text-align: center;
line-height: 15px;
color: #e7eff7;
font-weight: bold;
font-size: 11px;
text-shadow: none;
font-size: 11px;
cursor: pointer;
text-decoration: none;
height: 15px;
width: 15px;
background: #BABABA;
border-radius: 50%;
-webkit-animation: intro_forgot 1.5s ease-in  ;
-moz-animation: intro_forgot 1.5s ease-in  ;
animation: intro_forgot 1.5s ease-in  ;
}

@-webkit-keyframes intro_forgot {
    0% {opacity:0;}
    100% {opacity:0;}
} 


.error{
	text-align: center;
padding: 14px 15px;
font-size: 14px;
font-family: Helvetica,sans-serif;
line-height: 16px;
color: #fff;
background: #000;
background: rgba(0,0,0,0.33);
position: absolute;
top: 79%;
left: 44%;
}