*{
	outline:none;
	box-sizing: border-box;
}

body,html{
	width: 100%;
	height:100%;
}

.intro_img,.register_img{
	background-size: cover;
	height: 100%;
	width:66%;
	display: inline-block;
	vertical-align: top;
}

.register_img{
	background-image: url(../img/animal_3.jpg);
}

.intro_img{
	background-image: url(../img/animal_1.jpg);
}


.contain_form{
	display: inline-block;
	vertical-align: top;
	padding-left: 100px;
	padding-top: 100px;
}

#welcoming{
	font-family:'Slabo 27px', serif;
	font-size: 2.5em;
	margin-bottom: 150px;
	line-height: 1.5;
}

::-webkit-input-placeholder {
   color: #BDC3C7;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   border: none;
   border: none;

}

:-moz-placeholder { /* Firefox 18- */
   color: #000000;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;  
}

:-ms-input-placeholder {  
   color: #000000;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
}

input[type='text'],input[type='password'],input[type='checkbox'],input[type='email']{
	border:none;
	border-bottom: solid 1px #000000;
	margin-bottom: 33px;
}

form{
	font-family: 'Open Sans', sans-serif;
}

input[type='submit']{
	border: solid 1px #000000;
	background-color: #ffffff;
	font-size: 15px;
	height: 33px;
	width: 80px;
}

input[type='reset']{
	border: dotted 1px #BDC3C7;
	background-color: #ffffff;
	font-size: 15px;
	height: 33px;
	color: #BDC3C7;
}

.errors_fields{
	display: inline-block;
	color: #E74C3C;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
}

.remember_box{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #34495E;
	font-size: 12px;
	font-style: italic;
}

.btn_signup{
	border:none;
	color: #ffffff;
	background-color: #000000;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 20 px;
	height: 33px;
	width: 80px;
}

.not_register{
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.intro_img:hover{

	background-color: #ffffff;
}

.label{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #000000;
	font-size: 15px;
}

.btn_deconnect{
	border:none;
	color: #ffffff;
	background-color: #E74C3C;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	height: 33px;
}

.member_content{
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 25px;
	margin-bottom: 150px;
}

.member_container{
	margin-left:100px;
	margin-top: 200px;
}