/*

The Story of E.T.

A Project made by Louis AMIOT - 2014.

All rights for the music go to Universal Music Studios.

*/



/*

GENERAL

*/

body {
	font-family: 'Verdana';
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

/* 

THE INTRODUCTION

*/ 

.introduction {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 30000;
	background-color: #000;
	color: #fff;
	font-family: 'Arial', serif;
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	-webkit-animation: fadeOut 2s linear 2s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: fadeOut 2s linear 2s;
	-moz-animation-fill-mode: forwards;
	-o-animation: fadeOut 2s linear 2s;
	-o-animation-fill-mode: forwards;
	animation: fadeOut 2s linear 2s;
	animation-fill-mode: forwards;
}

.introduction div {
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -144px;
	margin-left: -183px;
}

.introduction span {
	display: block;
	text-align: center;
	font-size: 200px;
}

/*

THE END

*/


.end {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 30000;
	background-color: #000;
	color: #fff;
	font-family: 'Arial', serif;
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	opacity: 0;
	-webkit-animation: fadeIn 2s linear 55s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: fadeIn 2s linear 55s;
	-moz-animation-fill-mode: forwards;
	-o-animation: fadeIn 2s linear 55s;
	-o-animation-fill-mode: forwards;
	animation: fadeIn 2s linear 55s;
	animation-fill-mode: forwards;
}

.end div {
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -98px;
	margin-left: -280px;
	cursor: pointer;
}

.end div:hover {
	color:#d5c08d;
}

.end span {
	display: block;
	text-align: center;
	font-size: 120px;
}

/*

 THE CANVAS

*/

.canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #888d84;
	-webkit-animation: zoom 15s linear 18s;
	-moz-animation: zoom 15s linear 18s;
	-o-animation: zoom 15s linear 18s;
	animation: zoom 15s linear 18s;
}

.sky {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #03002d;
	-webkit-animation: sky 8s linear 5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: sky 8s linear 5s;
	-moz-animation-fill-mode: forwards;
	-o-animation: sky 8s linear 5s;
	-o-animation-fill-mode: forwards;
	animation: sky 8s linear 5s;
	animation-fill-mode: forwards;
}

.sun {
	position: absolute;
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(235,219,0,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(235,219,0,1)));
	background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(235,219,0,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(235,219,0,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(235,219,0,1) 100%);
	background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(235,219,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#ebdb00', GradientType=1 );
	border-radius: 50%;
	width: 100px;
	height: 100px;
	top: 30%;
	left: 0%;
	-webkit-animation: sun 8s linear 5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: sun 8s linear 5s;
	-moz-animation-fill-mode: forwards;
	-o-animation: sun 8s linear 5s;
	-o-animation-fill-mode: forwards;
	animation: sun 8s linear 5s;
	animation-fill-mode: forwards;
}

.stars {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(medias/stars.png);
	background-repeat: repeat;
	-webkit-animation: stars 8s linear 5s;
	-moz-animation: stars 8s linear 5s;
	-o-animation: stars 8s linear 5s;
	animation: stars 8s linear 5s;
}

.mountains1 {
	position: absolute;
	width:120%;
	height:200px;
	background-image: url(medias/mountains1.png);
	background-repeat: repeat-x;
	bottom:0px;
	left:-10%;
	-webkit-animation: mountains1 8s linear;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: mountains1 8s linear;
	-moz-animation-fill-mode: forwards;	
	-o-animation: mountains1 8s linear;
	-o-animation-fill-mode: forwards;
	animation: mountains1 8s linear;
	animation-fill-mode: forwards;
}

.mountains2 {
	position: absolute;
	width:120%;
	height: 200px;
	background-image: url(medias/mountains2.png);
	background-repeat: repeat-x;
	bottom:0px;
	-webkit-animation: mountains2 8s linear;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: mountains1 8s linear;
	-moz-animation-fill-mode: forwards;
	-o-animation: mountains1 8s linear;
	-o-animation-fill-mode: forwards;
	animation: mountains1 8s linear;
	animation-fill-mode: forwards;
	z-index:102;
}

.soucoupe {
	position: absolute;
	width: 154px;
	height: 68px;
	background-image: url(medias/soucoupe_volante.png);
	left:50%;
	margin-left: -77px;
	z-index:104;
	top:-68px;
	-webkit-animation: landing 42s linear 14s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: landing 42s linear 14s;
	-moz-animation-fill-mode: forwards;
	-o-animation: landing 42s linear 14s;
	-o-animation-fill-mode: forwards;
	animation: landing 42s linear 14s;
	animation-fill-mode: forwards;
}

.et {
	position: absolute;
	opacity: 0;
	width: 40px;
	height:50px;
	background-image: url(medias/et2.png);
	z-index: 103;
	top:120%;
	left:50%;
	margin-left: -20px;
	-webkit-animation: et 28s linear 23s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: et 28s linear 23s;
	-moz-animation-fill-mode: forwards;
	-o-animation: et 28s linear 23s;
	-o-animation-fill-mode: forwards;
	animation: et 28s linear 23s;
	animation-fill-mode: forwards;
}

.description {
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	right: 5px;
	top: 5px;
	width: 250px;
	height: 60px;
	z-index: 200;
	padding: 10px;
	opacity: 0;
}

.one {
	-webkit-animation: description 10s linear 2s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: description 10s linear 2s;
	-moz-animation-fill-mode: forwards;
	-o-animation: description 10s linear 2s;
	-o-animation-fill-mode: forwards;
	animation: description 10s linear 2s;
	animation-fill-mode: forwards;
}

.two {
	-webkit-animation: description 10s linear 12s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: description 10s linear 12s;
	-moz-animation-fill-mode: forwards;
	-o-animation: description 10s linear 12s;
	-o-animation-fill-mode: forwards;
	animation: description 10s linear 12s;
	animation-fill-mode: forwards;
}

.three {
	-webkit-animation: description 8s linear 22s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: description 8s linear 22s;
	-moz-animation-fill-mode: forwards;
	-o-animation: description 8s linear 22s;
	-o-animation-fill-mode: forwards;
	animation: description 8s linear 22s;
	animation-fill-mode: forwards;
}

.four {
	-webkit-animation: description 16s linear 30s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: description 16s linear 30s;
	-moz-animation-fill-mode: forwards;
	-o-animation: description 16s linear 30s;
	-o-animation-fill-mode: forwards;
	animation: description 16s linear 30s;
	animation-fill-mode: forwards;
}

.five {
	-webkit-animation: description 4s linear 46s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: description 4s linear 46s;
	-moz-animation-fill-mode: forwards;
	-o-animation: description 4s linear 46s;
	-o-animation-fill-mode: forwards;
	animation: description 4s linear 46s;
	animation-fill-mode: forwards;
}

.six {
	-webkit-animation: description 8s linear 50s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: description 8s linear 50s;
	-moz-animation-fill-mode: forwards;
	-o-animation: description 8s linear 50s;
	-o-animation-fill-mode: forwards;
	animation: description 8s linear 50s;
	animation-fill-mode: forwards;
}

.people {
	position: absolute;
	width: 100px;
	height: 50px;
	z-index:2000;
	background-image: url(medias/people.png);
	top: 75%;
	left:50%;
	margin-left:-50px;	
	z-index: 101;
	opacity:0;
	-webkit-animation: people 20s linear 33s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: people 20s linear 33s;
	-moz-animation-fill-mode: forwards;
	-o-animation: people 20s linear 33s;
	-o-animation-fill-mode: forwards;
	animation: people 20s linear 33s;
	animation-fill-mode: forwards;
}


/*

THE ANIMATIONS


*/

@-webkit-keyframes sun {
	0%	{ top: 30%;	left: 0%; opacity:0; }
	12% { top: 20%; left:12%; }
	25% { top: 10%;	left: 25%;opacity:1; }
	38% { top: 2%; left:38%; }
	50% { top: -2%; left: 50%; }
	62% { top:2%; left:62%; }
	75% { top: 10%; left: 75%;opacity:1;}
	88% { top: 20%; left: 88%;}
	100% { top: 30%; left: 100%;opacity:0;}
}

@-webkit-keyframes sky {
	0% {background-color: #03002d;}
	25% {background-color: #74abff;}
	50% {background-color: #b7e9ff;}
	75% {background-color: #74abff;}
	100% {background-color: #03002d;}
}

@-webkit-keyframes stars {
	0% {opacity:1;}
	25%{opacity:0;}
	75%{opacity:0;}
	100%{opacity:1;}
}

@-webkit-keyframes mountains1 {
	0% {left:-10%;}
	100% {left:0%;}
}

@-webkit-keyframes mountains2 {
	0% {left:0%;}
	100% {left:-10%;}
}

@-webkit-keyframes zoom {
	0% {-webkit-transform:scale(1) perspective(0px);}
	20% {-webkit-transform:scale(2) perspective(800px) translateY(-100px);}
	80% {-webkit-transform:scale(2) perspective(800px) translateY(-100px);}
	100% {-webkit-transform:scale(1) perspective(0px);}
}

@-webkit-keyframes landing {
	0% {left:50%;top:-68px;}
	15% {top:75%;}
	40% {top:75%;}
	50% {top:-68px;}
	75% {top:-68px;}
	85% {top:75%;}
	88% {top:75%;}
	92% {top:5%;-webkit-transform: rotate(0deg);}
	93% {left:50%;top:5%;-webkit-transform: rotate(20deg);}
	100% {left:110%;}
}

@-webkit-keyframes et {
	0% {top:75%;left:50%;-webkit-transform: rotate(20deg);opacity:1;}
	1% {-webkit-transform: rotate(-20deg);}
	2% {-webkit-transform: rotate(20deg);}
	3% {-webkit-transform: rotate(-20deg);}
	4% {-webkit-transform: rotate(20deg);}
	5% {-webkit-transform: rotate(-20deg);}
	6% {-webkit-transform: rotate(20deg);}
	7% {-webkit-transform: rotate(-20deg);}
	8% {-webkit-transform: rotate(20deg);}
	9% {-webkit-transform: rotate(-20deg);}
	10% {top:75%;left:40%;z-index:105; -webkit-transform: rotate(20deg);}
	11% {-webkit-transform: rotate(-20deg);}
	12% {-webkit-transform: rotate(20deg);}
	13% {-webkit-transform: rotate(-20deg);}
	14% {-webkit-transform: rotate(20deg);}
	15% {-webkit-transform: rotate(-20deg);}
	16% {-webkit-transform: rotate(20deg);}
	17% {-webkit-transform: rotate(-20deg);}
	18% {-webkit-transform: rotate(20deg);}
	19% {-webkit-transform: rotate(-20deg);}
	20% {top:75%;left:50%;z-index:101;opacity:1;z-index:105;-webkit-transform: rotate(0deg);}
	30% {left:50%;}
	50% {left:10%;}
	60%{left:70%;}
	70% {left:90%;}
	80% {left:20%;}
	99% {top:75%;left:50%;z-index:101;opacity:1;z-index:105;}
	100% {top:75%;left:50%;z-index:101;opacity:0;z-index:101;}
}

@-webkit-keyframes people {
	0% {left:105%;opacity:1;}
	10% {left:50%;}
	25% {left:5%;}
	50% {left:80%;}
	60% {left:50%;}
	70% {left:25%;}
	80% {left:0%;}
	90% {left: 30%;}
	95% {left: 40%;}
	100% {left:50%;opacity:1;}
}

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity:0;}
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity:1;}
}


@-webkit-keyframes description {
	0% {opacity: 0;}
	1% {opacity: 1;}
	99% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes sun {
	0%	{ top: 30%;	left: 0%; opacity:0; }
	12% { top: 20%; left:12%; }
	25% { top: 10%;	left: 25%;opacity:1; }
	38% { top: 2%; left:38%; }
	50% { top: -2%; left: 50%; }
	62% { top:2%; left:62%; }
	75% { top: 10%; left: 75%;opacity:1;}
	88% { top: 20%; left: 88%;}
	100% { top: 30%; left: 100%;opacity:0;}
}

@-moz-keyframes sky {
	0% {background-color: #03002d;}
	25% {background-color: #74abff;}
	50% {background-color: #b7e9ff;}
	75% {background-color: #74abff;}
	100% {background-color: #03002d;}
}

@-moz-keyframes stars {
	0% {opacity:1;}
	25%{opacity:0;}
	75%{opacity:0;}
	100%{opacity:1;}
}

@-moz-keyframes mountains1 {
	0% {left:-10%;}
	100% {left:0%;}
}

@-moz-keyframes mountains2 {
	0% {left:0%;}
	100% {left:-10%;}
}

@-moz-keyframes zoom {
	0% {-moz-transform:scale(1) perspective(0px);}
	20% {-moz-transform:scale(2) perspective(800px) translateY(-100px);}
	80% {-moz-transform:scale(2) perspective(800px) translateY(-100px);}
	100% {-moz-transform:scale(1) perspective(0px);}
}

@-moz-keyframes landing {
	0% {left:50%;top:-68px;}
	15% {top:75%;}
	40% {top:75%;}
	50% {top:-68px;}
	75% {top:-68px;}
	85% {top:75%;}
	88% {top:75%;}
	92% {top:5%;-moz-transform: rotate(0deg);}
	93% {left:50%;top:5%;-moz-transform: rotate(20deg);}
	100% {left:110%;}
}

@-moz-keyframes et {
	0% {top:75%;left:50%;-moz-transform: rotate(20deg);opacity:1;}
	1% {-moz-transform: rotate(-20deg);}
	2% {-moz-transform: rotate(20deg);}
	3% {-moz-transform: rotate(-20deg);}
	4% {-moz-transform: rotate(20deg);}
	5% {-moz-transform: rotate(-20deg);}
	6% {-moz-transform: rotate(20deg);}
	7% {-moz-transform: rotate(-20deg);}
	8% {-moz-transform: rotate(20deg);}
	9% {-moz-transform: rotate(-20deg);}
	10% {top:75%;left:40%;z-index:105; -moz-transform: rotate(20deg);}
	11% {-moz-transform: rotate(-20deg);}
	12% {-moz-transform: rotate(20deg);}
	13% {-moz-transform: rotate(-20deg);}
	14% {-moz-transform: rotate(20deg);}
	15% {-moz-transform: rotate(-20deg);}
	16% {-moz-transform: rotate(20deg);}
	17% {-moz-transform: rotate(-20deg);}
	18% {-moz-transform: rotate(20deg);}
	19% {-moz-transform: rotate(-20deg);}
	20% {top:75%;left:50%;z-index:101;opacity:1;z-index:105;-moz-transform: rotate(0deg);}
	30% {left:50%;}
	50% {left:10%;}
	60%{left:70%;}
	70% {left:90%;}
	80% {left:20%;}
	99% {top:75%;left:50%;z-index:101;opacity:1;z-index:105;}
	100% {top:75%;left:50%;z-index:101;opacity:0;z-index:101;}
}

@-moz-keyframes people {
	0% {left:105%;opacity:1;}
	10% {left:50%;}
	25% {left:5%;}
	50% {left:80%;}
	60% {left:50%;}
	70% {left:25%;}
	80% {left:0%;}
	90% {left: 30%;}
	95% {left: 40%;}
	100% {left:50%;opacity:1;}
}

@-moz-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity:0;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity:1;}
}


@-moz-keyframes description {
	0% {opacity: 0;}
	1% {opacity: 1;}
	99% {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes sun {
	0%	{ top: 30%;	left: 0%; opacity:0; }
	12% { top: 20%; left:12%; }
	25% { top: 10%;	left: 25%;opacity:1; }
	38% { top: 2%; left:38%; }
	50% { top: -2%; left: 50%; }
	62% { top:2%; left:62%; }
	75% { top: 10%; left: 75%;opacity:1;}
	88% { top: 20%; left: 88%;}
	100% { top: 30%; left: 100%;opacity:0;}
}

@-o-keyframes sky {
	0% {background-color: #03002d;}
	25% {background-color: #74abff;}
	50% {background-color: #b7e9ff;}
	75% {background-color: #74abff;}
	100% {background-color: #03002d;}
}

@-o-keyframes stars {
	0% {opacity:1;}
	25%{opacity:0;}
	75%{opacity:0;}
	100%{opacity:1;}
}

@-o-keyframes mountains1 {
	0% {left:-10%;}
	100% {left:0%;}
}

@-o-keyframes mountains2 {
	0% {left:0%;}
	100% {left:-10%;}
}

@-o-keyframes zoom {
	0% {-o-transform:scale(1) perspective(0px);}
	20% {-o-transform:scale(2) perspective(800px) translateY(-100px);}
	80% {-o-transform:scale(2) perspective(800px) translateY(-100px);}
	100% {-o-transform:scale(1) perspective(0px);}
}

@-o-keyframes landing {
	0% {left:50%;top:-68px;}
	15% {top:75%;}
	40% {top:75%;}
	50% {top:-68px;}
	75% {top:-68px;}
	85% {top:75%;}
	88% {top:75%;}
	92% {top:5%;-o-transform: rotate(0deg);}
	93% {left:50%;top:5%;-o-transform: rotate(20deg);}
	100% {left:110%;}
}

@-o-keyframes et {
	0% {top:75%;left:50%;-o-transform: rotate(20deg);opacity:1;}
	1% {-o-transform: rotate(-20deg);}
	2% {-o-transform: rotate(20deg);}
	3% {-o-transform: rotate(-20deg);}
	4% {-o-transform: rotate(20deg);}
	5% {-o-transform: rotate(-20deg);}
	6% {-o-transform: rotate(20deg);}
	7% {-o-transform: rotate(-20deg);}
	8% {-o-transform: rotate(20deg);}
	9% {-o-transform: rotate(-20deg);}
	10% {top:75%;left:40%;z-index:105; -o-transform: rotate(20deg);}
	11% {-o-transform: rotate(-20deg);}
	12% {-o-transform: rotate(20deg);}
	13% {-o-transform: rotate(-20deg);}
	14% {-o-transform: rotate(20deg);}
	15% {-o-transform: rotate(-20deg);}
	16% {-o-transform: rotate(20deg);}
	17% {-o-transform: rotate(-20deg);}
	18% {-o-transform: rotate(20deg);}
	19% {-o-transform: rotate(-20deg);}
	20% {top:75%;left:50%;z-index:101;opacity:1;z-index:105;-o-transform: rotate(0deg);}
	30% {left:50%;}
	50% {left:10%;}
	60%{left:70%;}
	70% {left:90%;}
	80% {left:20%;}
	99% {top:75%;left:50%;z-index:101;opacity:1;z-index:105;}
	100% {top:75%;left:50%;z-index:101;opacity:0;z-index:101;}
}

@-o-keyframes people {
	0% {left:105%;opacity:1;}
	10% {left:50%;}
	25% {left:5%;}
	50% {left:80%;}
	60% {left:50%;}
	70% {left:25%;}
	80% {left:0%;}
	90% {left: 30%;}
	95% {left: 40%;}
	100% {left:50%;opacity:1;}
}

@-o-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity:0;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity:1;}
}


@-o-keyframes description {
	0% {opacity: 0;}
	1% {opacity: 1;}
	99% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes sun {
	0%	{ top: 30%;	left: 0%; opacity:0; }
	12% { top: 20%; left:12%; }
	25% { top: 10%;	left: 25%;opacity:1; }
	38% { top: 2%; left:38%; }
	50% { top: -2%; left: 50%; }
	62% { top:2%; left:62%; }
	75% { top: 10%; left: 75%;opacity:1;}
	88% { top: 20%; left: 88%;}
	100% { top: 30%; left: 100%;opacity:0;}
}

@keyframes sky {
	0% {background-color: #03002d;}
	25% {background-color: #74abff;}
	50% {background-color: #b7e9ff;}
	75% {background-color: #74abff;}
	100% {background-color: #03002d;}
}

@keyframes stars {
	0% {opacity:1;}
	25%{opacity:0;}
	75%{opacity:0;}
	100%{opacity:1;}
}

@keyframes mountains1 {
	0% {left:-10%;}
	100% {left:0%;}
}

@keyframes mountains2 {
	0% {left:0%;}
	100% {left:-10%;}
}

@keyframes zoom {
	0% {transform:scale(1) perspective(0px);}
	20% {transform:scale(2) perspective(800px) translateY(-100px);}
	80% {transform:scale(2) perspective(800px) translateY(-100px);}
	100% {transform:scale(1) perspective(0px);}
}

@keyframes landing {
	0% {left:50%;top:-68px;}
	15% {top:75%;}
	40% {top:75%;}
	50% {top:-68px;}
	75% {top:-68px;}
	85% {top:75%;}
	88% {top:75%;}
	92% {top:5%;transform: rotate(0deg);}
	93% {left:50%;top:5%;transform: rotate(20deg);}
	100% {left:110%;}
}

@keyframes et {
	0% {top:75%;left:50%;transform: rotate(20deg);opacity:1;}
	1% {transform: rotate(-20deg);}
	2% {transform: rotate(20deg);}
	3% {transform: rotate(-20deg);}
	4% {transform: rotate(20deg);}
	5% {transform: rotate(-20deg);}
	6% {transform: rotate(20deg);}
	7% {transform: rotate(-20deg);}
	8% {transform: rotate(20deg);}
	9% {transform: rotate(-20deg);}
	10% {top:75%;left:40%;z-index:105; transform: rotate(20deg);}
	11% {transform: rotate(-20deg);}
	12% {transform: rotate(20deg);}
	13% {transform: rotate(-20deg);}
	14% {transform: rotate(20deg);}
	15% {transform: rotate(-20deg);}
	16% {transform: rotate(20deg);}
	17% {transform: rotate(-20deg);}
	18% {transform: rotate(20deg);}
	19% {transform: rotate(-20deg);}
	20% {top:75%;left:50%;z-index:101;opacity:1;z-index:105;transform: rotate(0deg);}
	30% {left:50%;}
	50% {left:10%;}
	60%{left:70%;}
	70% {left:90%;}
	80% {left:20%;}
	99% {top:75%;left:50%;z-index:101;opacity:1;z-index:105;}
	100% {top:75%;left:50%;z-index:101;opacity:0;z-index:101;}
}

@keyframes people {
	0% {left:105%;opacity:1;}
	10% {left:50%;}
	25% {left:5%;}
	50% {left:80%;}
	60% {left:50%;}
	70% {left:25%;}
	80% {left:0%;}
	90% {left: 30%;}
	95% {left: 40%;}
	100% {left:50%;opacity:1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity:0;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity:1;}
}


@keyframes description {
	0% {opacity: 0;}
	1% {opacity: 1;}
	99% {opacity: 1;}
	100% {opacity: 0;}
}