body{background:#6ecfff;font-size: 14px;font-family: Helvetica,Arial;position: fixed}

/*


       VOITURE



*/


.voiture{
	position:absolute;
	margin:5px 0 0 0;
}

.capot{
	position: absolute;
	height:75px;
	width: 400px;
	background: red;
	margin:auto;
	margin: 575px 0 0 600px;
	border-radius: 125px;
}
.bas{
	position:absolute;
	height: 50px;
	width: 400px;
	margin: 615px 0px 0px 600px;
	background: red;
}

.placeroue{
	position: absolute;
	height: 80px;
	width: 80px;
	border-radius:45px;
	background: #7D7966;
	-webkit-animation:tourne 500ms linear infinite;
	-webkit-transform-origin:50% 50%;
}

@-webkit-keyframes tourne {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}


.roue{
	background: #808080;
	height: 62px;
	width: 62px;
	border-radius: 35px;
	position: absolute;
	margin:4px 0 0 4px;
}
.pneu{
	height: 70px;
	width: 70px;
	border-radius: 40px;
	background: #333333;
	position: absolute;
	margin: 5px 0 0 5px;
}

.avant{
	margin:625px 0 0 650px;
}
.arriere{
	margin:625px 0 0 860px;
}
.axe{
	width: 15px;
	height: 15px;
	background:#333333;
	margin:23px 0 0 23px;
}

.phareAV{
	margin:-5px 0 0 -5px;
    width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 12.5px 0 12.5px 21.7px;
	border-color: transparent transparent transparent #ffc800;
}

.phareAR{
	margin: -25px 0 0 383px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 12.5px 21.7px 12.5px 0;
	border-color: transparent #ffc800 transparent transparent;
}

.toit{
	position: absolute;
	width: 240px;
	height: 100px;
	background: red;
	border-radius:75px;
	margin:-50px 0 0 90px;
}

.fenetre{
	position: absolute;
	width: 215px;
	height: 75px;
	background: #7D7966;
	border-radius: 75px;
	margin:10px 0 0 10px;
}

.fenetrebas{
	position: absolute;
	width: 240px;
	height: 75px;
	background: red;
	margin:40px 0 0 0; 
}

.montant{
	position: absolute;
	width: 20px;
	height: 75px;
	background:red;
	margin:-40px 0 0 90px;
}

/*



             ROUTE



*/



.road{
	position: absolute;
	width: 2000px;
	height: 200px;
	background:#7D7966;
	-webkit-transform:skewX(-50deg);
	margin: 20px 0 0 0;
	
}

.bitume{
	position: absolute;
	width: 2000px;
	height: 240px;
	background:#25241E;
	margin: 500px 0px 0px -200px;
}

.lignes{
	position: absolute;
	background: #f6f6f6;
	width: 2800px;
	height: 20px;
	margin:80px 0 0 200px;
	-webkit-animation:defilement 4s linear infinite;
}



.coupe{
	position: 	absolute;
	height: 20px;
	width: 40px;
	background:#7D7966;
}

.un{
	margin-left: 0px;
}
.deux{
	margin-left: 100px;
}
.trois{
	margin-left: 200px;
}
.quatre{
	margin-left: 300px;
}
.cinq{
	margin-left: 400px;
}
.sixe{
	margin-left: 500px;
}
.sept{
	margin-left: 600px;
}
.huit{
	margin-left: 700px;
}
.neuf{
	margin-left: 800px;
}
.dix{
	margin-left: 900px;
}
.onze{
	margin-left: 1000px;
}
.douze{
	margin-left: 1100px;
}
.treize{
	margin-left: 1200px;
}
.fourteen{
	margin-left: 1300px;
}
.fifteen{
	margin-left: 1400px;
}
.sixteen{
	margin-left: 1500px;
}
.seventeen{
	margin-left: 1600px;
}
.heighteen{
	margin-left: 1700px;
}
.neineteen{
	margin-left: 1800px;
}
.one{
	margin-left: 1900px;
}
.two{
	margin-left: 2000px;
}
.three{
	margin-left: 2100px;
}
.four{
	margin-left: 2200px;
}
.five{
	margin-left: 2300px;
}
.six{
	margin-left: 2400px;
}
.seven{
	margin-left: 2500px;
}
.height{
	margin-left: 2600px;
}
.nine{
	margin-left: 2700px;
}
.teen{
	margin-left: 2800px;
}

/*


        MONTAGNES ET DESERT



*/


.PP{
	background: #EDC9AF;
	width: 1700px;
	height: 1000px;
	margin: 250px 0 0 -20px;
}

@-webkit-keyframes paysage{
	0%{margin-left: -1600px;}
	100%{margin-left: 1700px;}
}

@-webkit-keyframes defilement{
	0%{margin-left: -1000px;}
	100%{margin-left: 0px;}
}


.def3{
	position:absolute;
	margin-top: 250px;
	-webkit-animation:paysage 15s linear infinite;
}

.montagne{
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 187.5px 324.8px 187.5px;
	border-color: transparent transparent #78514f transparent;
}

.neige{
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 30px 52.0px 30px;
	border-color: transparent transparent #fff transparent;
	margin: 0 0 0 -30px;
}
.detail{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius:5px;
	background: #fff;
}

.n1{
	margin: 49px 0 0 -30px;
}
.n2{
	margin: 49px 0 0 -22px;
}
.n3{
	margin: 49px 0 0 -13px;
}
.n4{
	margin: 49px 0 0 -4px;
}
.n5{
	margin: 49px 0 0 4px;
}
.n6{
	margin: 49px 0 0 12px;
}
.n7{
	margin: 49px 0 0 20px;
}

.m1{
	margin: -225px 0 0 50px;
}
.m2{
	margin: -225px 0 0 200px;
}
.m3{
	margin: -225px 0 0 500px;
}
.m4{
	margin: -240px 0 0 1000px;
}
.m5{
	margin: -240px 0 0 1200px;
}


.gris{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 125px 216.5px 125px;
	border-color: transparent transparent #877e84 transparent;
	margin: 0 0 0 -125px;
}

.change{
	color: white;
	text-align: center;
	font-size: 10px;
	position:absolute;
	width: 30px;
	height: 30px;
	border-radius:15px;
	background:#000;
	border: 1px solid red;	
	margin: 590px 0 0 785px;
}

.change:hover{	
	border:1px solid #fff;
}


/*



        SOLEIL




*/
#soleil{
	position: absolute;
	margin: -185px 0 0 1000px;
	max-width: 25%;
	max-height: 25%;
}



.rond{
	position: absolute;
	margin: 200px 0 0 200px;
	width: 150px;
	height: 150px;
	background: #FFFB00;
	border-radius: 75px;
	border: 5px solid #FFC400;
}

.yeux{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #000;
}

.gauche{
	margin: 35px 0 0 35px;
}
.droit{
	margin: 35px 0 0 85px;
}

.cache{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #FFFB00;
}

.ca1{
	margin: 7px 0 0 0;
}
.ca2{
	margin: 7px 0 0 0;
}

.bouche{
	position: absolute;
	width: 60px;
	height: 50px;
	border-radius: 30px;
	background: #000;
	margin: 70px 0 0 45px;
}
.sourire{
	position: absolute;
	width: 64px;
	height: 50px;
	border-radius: 30px;
	background: #FFFB00;
	margin: -7px 0 0 -2px;
}

.rayon{
	position: absolute;
	width: 20px;
	height: 50px;
	background: #FFFB00; 
}	

.rayonall{
	position: absolute;
	width: 250px;
	height: 250px;
	-webkit-animation: rotation 2s linear infinite alternate;
	-webkit-transform-origin:110% 110%;
}

@-webkit-keyframes rotation{
	from{
		-webkit-transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(20deg);
	}
}

.r1{
	margin: 290px 0 0 140px;
	-webkit-transform:rotate(-90deg);
	-webkit-transform-origin:0 0;
}

.r2{
	margin: 140px 0 0 270px;
}

.r3{
	margin: 370px 0 0 270px;
}

.r4{
	margin: 290px 0 0 370px;
	-webkit-transform:rotate(-90deg);
	-webkit-transform-origin:0 0;
}

.r5{
	margin: 155px 0 0 345px;
	-webkit-transform:rotate(30deg);
	-webkit-transform-origin:0 0;
}

.r6{
	margin: 200px 0 0 400px;
	-webkit-transform:rotate(60deg);
	-webkit-transform-origin:0 0;
}

.r7{
	margin: 340px 0 0 350px;
	-webkit-transform:rotate(-60deg);
	-webkit-transform-origin:0 0;
}

.r8{
	margin: 370px 0 0 315px;
	-webkit-transform:rotate(-30deg);
	-webkit-transform-origin:0 0;
}

.r9{
	margin: 355px 0 0 225px;
	-webkit-transform:rotate(30deg);
	-webkit-transform-origin:0 0;
}

.r10{
	margin: 320px 0 0 195px;
	-webkit-transform:rotate(60deg);
	-webkit-transform-origin:0 0;
}

.r11{
	margin: 160px 0 0 200px;
	-webkit-transform:rotate(-30deg);
	-webkit-transform-origin:0 0;
}

.r12{
	margin: 215px 0 0 150px;
	-webkit-transform:rotate(-60deg);
	-webkit-transform-origin:0 0;
}

/*


    NUAGE


*/

.cloud{
	position: absolute;
	margin: 50px 0 0 500px;
	opacity:0.9;
	-webkit-animation: nuagedefile 15s linear infinite;
}

@-webkit-keyframes nuagedefile{
	0%{margin: 50px 0 0 -200px;}
	100%{margin: 50px 0 0 1800px;}
}

.cloud2{
	position: absolute;
	margin: 50px 0 0 -200px;
	opacity:0.7;
	-webkit-animation: nuagedefiler 15s linear infinite;
	-webkit-animation-delay:5s;
}

@-webkit-keyframes nuagedefiler{
	0%{margin: 100px 0 0 -200px;}
	100%{margin: 100px 0 0 1800px;}
}


.cloud3{
	position: absolute;
	margin: 20px 0 0 -200px;
	opacity:0.5;
	-webkit-animation: nuagedefilez 15s linear infinite;
	-webkit-animation-delay:10s;
}

@-webkit-keyframes nuagedefilez{
	0%{margin: 10px 0 0 -200px;}
	100%{margin: 10px 0 0 1800px;}
}

.clo{	
	position: absolute;
	background: #fff;
}

.cl1{
	margin: 50px 0 0 -10px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.cl2{
	margin: 30px 0 0 20px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.cl3{
	margin: 0 0 0 20px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
}
.cl4{
	margin: 0 0 0 80px;		
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.cl5{
	margin: 30px 0 0 70px;
	width: 90px;
	height: 90px;
	border-radius: 45px;
}


/*



               OUVERTURE



*/


.left{
	position: absolute;
	width: 800px;
	height: 1000px;
	background: #A8ACA8;
	margin: -10px 0 0 -10px;
	-webkit-animation:openleft 2s ease normal forwards;
	-webkit-animation-delay:1s;
}

@-webkit-keyframes openleft{
	0%{margin: -10px 0 0 -10px}
	100%{margin: -10px 0 0 -810px}
}

.right{
	position: absolute;
	width: 800px;
	height: 1000px;
	background: #A8ACA8;
	margin: -10px 0 0 790px;
	-webkit-animation:openright 2s ease normal forwards;
	-webkit-animation-delay:1s;
}

@-webkit-keyframes openright{
	0%{margin: -10px 0 0 800px}
	100%{margin: -10px 0 0 1600px}
}
/*



     changement plui




*/


.change:hover + #soleil{
	-webkit-transition:opacity 1s linear;
	opacity: 0;

}

.transition3{
	-webkit-transition:all 2s ease;
	-webkit-transition-delay:0.25s;
}

.transition2{
	-webkit-transition:all 2s ease;

}
.transition1{
	-webkit-transition:all 2s ease;
	-webkit-transition-delay:0.5s;
}
.clop{
	position: absolute;
	background: #666666;
}

.cloud4{
	position: absolute;
	margin: -150px 0 0 500px;
	opacity: 0.95;
}
.cloud5{
	position: absolute;
	margin: -150px 0 0 655px;
	opacity: 0.93;
}
.cloud6{
	position: absolute;
	margin: -150px 0 0 830px;
	opacity: 0.90;
}


/*


      PLUIE



*/


.pluie1{
	opacity: 0;
	margin: -60px 0 0 -100px;
}

.pluie2{
	opacity: 0;
	margin: -60px 0 0 75px;
}

.pluie3{
	opacity: 0;
	margin: -60px 0 0 -250px;
}


.transition10{
	-webkit-transition:opacity 1s linear;
	-webkit-transition-delay:1s;
}

.goute{
	opacity: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	margin: 400px 0 0 800px;
	-webkit-animation:anim-plui 2s linear infinite;
}
@-webkit-keyframes anim-plui{
	0%{opacity: 0;}
	10%{opacity: 1;margin: 400px 0 0 800px;}
	90%{opacity: 1;margin: 600px 0 0 800px;}
	100%{opacity: 0;margin:600px 0 0 800px;}
}
.gouteH{
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 5px 10px 5px;
border-color: transparent transparent #076591 transparent;

}

.gouteB{
	margin: -5px 0 0 0;
	width: 10px;
	height:10px;
	border-radius: 5px;
	background: #076591;
}

.gout2{
	opacity: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	margin: 390px 0 0 825px;
	-webkit-animation:anim-pluie 2s linear infinite;
}

@-webkit-keyframes anim-pluie{
	0%{opacity: 0;}
	10%{opacity: 1;margin: 390px 0 0 825px;}
	90%{opacity: 1;margin: 590px 0 0 825px;}
	100%{opacity: 0;margin:590px 0 0 825px;}
}

.g1{
	-webkit-animation-delay:1s;
}

.g2{
	-webkit-animation-delay:1.5s;
}

.g3{
	-webkit-animation-delay:0.6s;
}

.g4{
	-webkit-animation-delay:1.3s;
}

.goute3.go5{
	-webkit-animation-delay:1.3s;
}

.goute3.g2{
	-webkit-animation-delay:0.6s;
}

.goute3{
	opacity: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	margin: 410px 0 0 850px;
	-webkit-animation:anim-pluiz 2s linear infinite;
}

@-webkit-keyframes anim-pluiz{
	0%{opacity: 0;}
	10%{opacity: 1;margin: 410px 0 0 850px;}
	90%{opacity: 1;margin: 610px 0 0 850px;}
	100%{opacity: 0;margin:610px 0 0 850px;}
}