body {
	font-family:Helvetica,Arial;
	font-size:14px;
	width:100%;
	height:100%;
	display:-webkit-box;
	background-color:rgba(29,35,40,0.88);
	overflow:hidden
}

html {
	background:url(truedetective.jpg) no-repeat center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%;
	height:100%
}

#menu {
	width:25%;
	height:100%;
	background-color:rgba(29,35,40,0.9)
}

button {
	margin-top:5px;
	margin-bottom:5px
}

#player {
	width:75%;
	height:100%
}

video {
	width:70%;
	-webkit-transition:1s all;
	-o-transition:1s all;
	transition:1s all
}

.separator {
	background-color:#f98156;
	width:30px;
	height:5px;
	margin-left:20px;
	margin-bottom:5px
}

#menu .separator {
	margin-top:20px
}

#serie,.saison,li,h2,h5,#saison_selected,#episode_selected,#watch,#add_serie {
	letter-spacing:-1px;
	font-family:'Open Sans',sans-serif;
	font-weight:800;
	text-transform:uppercase;
	font-size:24px;
	margin-left:20px
}

li {
	margin-left:30px
}

#serie,h2,#line {
	color:#f98156
}

.saison {
	color:#fff
}

li {
	font-size:20px;
	color:#212930;
	margin-top:3px;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	transition:.5s ease-in-out
}

ul {
	margin-bottom:20px
}

h1 {
	letter-spacing:1px;
	font-family:'Open Sans',sans-serif;
	font-weight:800;
	text-transform:uppercase;
	font-size:8px;
	margin-left:20px;
	color:#fff;
	margin-bottom:20px
}

#menu img,#selection img {
	width:90px;
	margin-left:20px;
	margin-top:20px
}

#selection h1,#selection img {
	margin-left:126px
}

#line {
	height:1px;
	width:120px;
	margin-left:20px;
	margin-top:20px
}

.hover-animate {
	color:#fff!important
}

#dashboard {
	width:200px;
	height:180px;
	background-color:#fff;
	position:absolute;
	text-align:initial
}

#sound {
	display:-webkit-inline-box;
	overflow:hidden;
	width:19px
}

#dashboard,#video,#sound {
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	transition:.5s ease-in-out
}

#container {
	text-align:center;
	margin-top:5%;
	-webkit-transition:.5s ease-in-out opacity;
	-moz-transition:.5s ease-in-out opacity;
	-o-transition:.5s ease-in-out opacity;
	transition:.5s ease-in-out opacity
}

#dashboard_title {
	letter-spacing:1px;
	font-family:'Open Sans',sans-serif;
	font-weight:800;
	text-transform:uppercase;
	padding-left:10%;
	padding-top:10%;
	color:#212930
}

#dashboard_subtitle {
	letter-spacing:1px;
	font-family:'Open Sans',sans-serif;
	font-weight:400;
	font-style:italic;
	text-transform:uppercase;
	padding-left:10%;
	color:#ccc
}

#current_time {
	letter-spacing:1px;
	font-family:'Open Sans',sans-serif;
	font-weight:800;
	text-transform:uppercase;
	font-size:55px;
	color:#212930
}

#container_current_time {
	width:100%;
	text-align:-webkit-center;
	margin-top:16px
}

#timeline_container {
	text-align:-webkit-center;
	width:100%;
	margin-top:12px
}

#timeline_full {
	width:80%;
	height:2px;
	background-color:#eaeaea
}

#timeline_controller {
	width:80%;
	height:6px;
	background-color:rgba(0,0,0,0);
	margin-top:-4px
}

#timeline_initial {
	width:80%;
	height:2px;
	background-color:#212930;
	margin-top:-2px;
	float:left;
	margin-left:10%
}

#controller {
	width:100%;
	height:30px;
	margin-top:18px;
	display:-webkit-inline-box;
	margin-left:10%
}

.opacity {
	opacity:0
}

.hide {
	display:none
}

h5,#watch,#add_serie {
	color:#fff
}

#saison_selected,#episode_selected {
	text-align:-webkit-center;
	border:solid 1px #f98156;
	width:40px;
	height:40px;
	color:#f98156;
	line-height:35px;
	margin-top:-8px;
	margin-left:6px
}

#selection {
	margin:35%;
	width:345px;
	-webkit-transition:.5s ease-in-out opacity;
	-moz-transition:.5s ease-in-out opacity;
	-o-transition:.5s ease-in-out opacity;
	transition:.5s ease-in-out opacity
}

#choix {
	display:-webkit-inline-box;
	margin-bottom:17px;
	margin-top:15px
}

#watch,#add_serie {
	background-color:#f98156;
	text-align:-webkit-center;
	margin-top:27px!important;
	width:188px;
	height:42px;
	line-height:39px;
	margin:auto
}

#add_serie {
	margin-top:10px!important
}

#selection h1 {
	letter-spacing:6px
}

#prev_season img,#next_season img {
	width:15px!important;
	position:absolute
}

#prev_season img {
	margin-left:19px!important;
	margin-top:-24px!important
}

#next_season {
	margin-left:-107px;
	margin-top:-14px
}

#prev_episode img,#next_episode img {
	width:15px!important;
	position:absolute
}

#prev_episode img {
	margin-left:19px!important;
	margin-top:-24px!important
}

#next_episode {
	margin-left:-107px;
	margin-top:-14px
}

#add {
	color:#f98156;
	text-transform:uppercase;
	border:solid 1px #f98156;
	width:43px;
	height:16px;
	line-height:16px;
	margin-left:5px;
	margin-top:4px;
	font-size:9px;
	-webkit-transition:.3s ease-in-out all;
	-moz-transition:.3s ease-in-out opacity all;
	-o-transition:.3s ease-in-out opacity all;
	transition:.3s ease-in-out all
}

#add:hover {
	color:#1d2328;
	background-color:#f98156
}

#myseries {
	display:-webkit-inline-box;
	text-align:center
}

#search {
	-webkit-transition:.5s ease-in-out opacity;
	-moz-transition:.5s ease-in-out opacity;
	-o-transition:.5s ease-in-out opacity;
	transition:.5s ease-in-out opacity
}

input[type="text"] {
	display:block;
	margin:auto;
	width:45%;
	font-family:sans-serif;
	font-size:25px!important;
	appearance:none;
	box-shadow:none;
	border-radius:none;
	font-family:'Open Sans',sans-serif;
	font-weight:800;
	text-transform:uppercase;
	font-size:8px;
	color:#f98156;
	background-color:rgba(0,0,0,0.2);
	padding:0 20px;
	border:0
}

input[type="text"]:focus {
	outline:none;
	font-family:'Open Sans',sans-serif;
	font-weight:800;
	text-transform:uppercase;
	font-size:8px;
	margin:auto
}

#value_changed {
	width:200px;
	height:38px;
	background-color:#fff;
	position:absolute;
	display:-webkit-inline-box;
	opacity:0
}

#parametre,#value {
	letter-spacing:1px;
	font-family:'Open Sans',sans-serif;
	text-transform:uppercase;
	padding-top:6.5%
}

#parametre {
	font-weight:800;
	padding-left:10%;
	color:#212930
}

#value {
	font-weight:100;
	padding-left:4%;
	color:#f98156
}

/*ANIMATION TO SHOW & HIDE A SECTION*/

.popup {
	-webkit-animation:popup 3s;
	-moz-animation:popup 3s;
	-o-animation:popup 3s;
	animation:popup 3s
}

@-webkit-keyframes popup {
	0% {opacity:0}
	10% {opacity:1}
	90% {opacity:1}
	100% {opacity:0}
}

@-moz-keyframes popup {
	0% {opacity:0}
	10% {opacity:1}
	90% {opacity:1}
	100% {opacity:0}
}

@-o-keyframes popup {
	0% {opacity:0}
	10% {opacity:1}
	90% {opacity:1}
	100% {opacity:0}
}

@keyframes popup {
	0% {opacity:0}
	10% {opacity:1}
	90% {opacity:1}
	100% {opacity:0}
}

