html {
	background: #eeeeee;
}

body {
	margin: 25px 50px;
}

h1 {
	text-align: center;
}

a {
	color : #000000;
}

form {
	margin-top: 25px;
}

fieldset {
	margin-bottom : 25px;
	border-style : solid;
	border-color : #000000;
	border-width : 2px 0 0 2px;
	border-radius : 10px 0 0 0;
}

fieldset legend {
	padding : 0 25px;
	font-variant : small-caps;
	font-size : 16pt;
}

fieldset label {
	float : left;
	width : 170px;
	font-weight: bold;
}

fieldset input {
	width : 170px;
	text-align : center;
}

form input[type="submit"] {
	margin-left : 80%;
	width : 20%;
	font-size : 18pt;
	cursor : pointer;
}

form select {
	width : 170px;
}

form span {
	font-size : 11pt;
	color : red;
	font-variant: small-caps;
	margin-left: 12.5px;
}

.not-valid {
	color : red;
	font-variant : small-caps;
}

hr {
	width : 50%;
	margin-left : 0;
}


p.infos-login {
	margin-bottom: 25px;
}

p.infos-login span {
	float : right;
}

p.infos-login span a {
	text-decoration : none;
}

p.infos-login span a:hover {
	text-decoration : underline;
}