@import 'config';


/* 
	BUTTONS
*/


.btn{
	
	display: inline-block;
	position:relative;
	margin-left:2rem;
	height:4rem;
	border-radius:2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-size:1rem;
	padding:1.3rem 3rem;
	border:2px solid $opposite;
	color:$opposite;
	text-align:center;
	overflow: hidden;
	transition:all 0.3s ease;

	span{
		
		display: block;
		transition:all 0.3s ease;

	}

	&:first-child{

		margin-left:0;

	}

	&:before{
		
		display: block;
		position:absolute;
		top:1.3rem;
		right:-3rem;
		font-size:1rem;
		font-weight:light;
		font-family: "FontAwesome";
		transition:all 0.3s ease;
		

	}

	&.btn-submit:before{

		content: "\f067";

	}

	&:hover{

		span{

			transform:translateX(-1.3rem);

		}

		&:before{

			transform:translateX(-4.8rem);

		}

	}

	&.loading, &.success, &.failed{

		span{

			transform:translateX(-1.3rem);

		}

		&:before{

			transform:translateX(-4.8rem);

		}

	}

	&.loading:before{

		content: "\f110";
		right:1.5rem;
		transform-origin:center;
		-webkit-animation: fa-spin 2s infinite linear;
  		animation: fa-spin 2s infinite linear;

	}

	&.success:before{

		content: "\f00c";

	}

	&.failed:before{

		content: "\f00d";

	}

	&.btn-next{

		border:2px solid $success;
		color:$success;

		&:before{

			content: "\f178";

		}

	}

	&.btn-vote:before{

		content: "\f0a6";

	}


}




/* 
	INPUTS
*/


.input{

	position:relative;

	input, textarea{

		position:relative;
		z-index:50;
		top:2rem;
		margin-bottom:5rem;
		width:100%;
		height:4rem;
		font-size:1rem;
		background-color:$dark;
		padding:1rem;
		color:$blanc;
		border:2px solid transparent;
		outline:none;
		transition:all 0.3s ease;

	}

	textarea{

		height:6rem;

	}

	label{

		position:absolute;
		z-index:100;
		top:3.5rem;
		left:1rem;
		width:100%;
		color:darken($dark, 50%);
		font-size:0.8rem;
		text-transform: uppercase;
		transition:all 0.3s ease;

	}

	span.error{
		
		position:relative;
		z-index:10;
		top:-2rem;
		font-size:0.8rem;
		color:$error;
		opacity:0;
		transform:translateY(-3rem);
		transition:all 0.3s ease;

	}


	&.input-filled{

		label{

			transform:translateY(-3.5rem);
			color:$opposite;

		}

		input, textarea{

			background-color:$blanc;
			border:2px solid $opposite;
			color:darken($dark, 30%);

		}

	}

	&.failed{

		input, textarea{

			border-color:$error;
			color:$error;
			background-color:$blanc;

		}

		label{

			color:$error;

		}

		span.error{

			opacity:1;
			transform:none;

		}

	}

}