*{
margin: 0;
padding: 0;

}

#go{
	display: block;
}


#content{
	/*display: none;*/
}
nav{
	width: 100%;
	background-color: #2a79b6;
	padding: 10px;
}

nav ul li{
	list-style: none;
	display: inline;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px;
	font-size: 20px;
	font-family: "helvetica";

}

nav .fa-search{
	margin-left: 56%;
}

.perso{
	position: absolute;
	left: 50%;

	
}

.perso img{
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
/*h1{
	font-family: helvetica;
	color: #fff;
	width: 100%;
	text-align: center;
	font-weight: 100;

}
*/
#films{
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 100px;
	background-color: #e5e4e4;
}

#films span{
	width: 20%;
	margin: 40px;
}
/*
#films span:first-child{
	margin-left: 5%;
}*/

#films span div {
	display: inline;
}

#films span img{
	width: 20%;
}

#films span a{
	text-decoration: none;
	color: #000;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-350%) translateY(-350%);
	-moz-transform: translateX(-350%) translateY(-350%);
	-ms-transform: translateX(-350%) translateY(-350%);
	-o-transform: translateX(-350%) translateY(-350%);
	transform: translateX(-350%) translateY(-350%);
}


.results{
	display: none;
}







