
/*Partie Selection des éléments du DOM */
body{
	overflow:hidden;
}

a{
	text-decoration:none;
	color:none;
}

.scene1 {
z-index:1;
width:100%;
height:100%;

position:relative;

/* Dégradé fond du ciel, généré automatiquement*/
background:        -moz-linear-gradient(top, rgba(203,166,140,0.8) 0%, rgba(52,152,219,0.8) 100%); /* FF3.6+ */
background: 		   -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,166,140,0.8)), color-stop(100%,rgba(52,152,219,0.8))); /* Chrome,Safari4+ */
background:     -webkit-linear-gradient(top, rgba(203,166,140,0.8) 0%,rgba(52,152,219,0.8) 100%); /* Chrome10+,Safari5.1+ */
background:          -o-linear-gradient(top, rgba(203,166,140,0.8) 0%,rgba(52,152,219,0.8) 100%); /* Opera 11.10+ */
background:         -ms-linear-gradient(top, rgba(203,166,140,0.8) 0%,rgba(52,152,219,0.8) 100%); /* IE10+ */
background:             linear-gradient(to bottom, rgba(203,166,140,0.8) 0%,rgba(52,152,219,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccba68c', endColorstr='#cc3498db',GradientType=0 ); /* IE6-9 */
/* Fin du code du dégradé*/

}

.pres {

	z-index:2;

	width:400px;
	height:200px;

	text-align:center;
	color:#909090;
	position:absolute;
	top:650px;
	left:730px;


	font-family: 'Covered By Your Grace', cursive;
	font-size:50px;

		-webkit-animation: presfad 13s linear;
		 -o-animation: presfad 13s linear;
			animation: presfad 13s linear;




	-webkit-animation-fill-mode: forwards;  /*cette fonction permet de stoper l'animation à son état final (elle ne se remet pas à son état initial en finissant)*/
		  o-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
}

.support {

	z-index:2;
	color:#909090;
	width:400px;
	height:200px;

	text-align:center;

	position:absolute;
	top:850px;
	left:730px;


	font-family: 'Covered By Your Grace', cursive;
	font-size:40px;
}

.footer {

	z-index:2;
	color:#696969;
	width:800px;
	height:200px;

	text-align:center;

	position:absolute;
	bottom:-170px;
	left:530px;


	font-family: 'Raleway', sans-serif;
	font-size:13px;
}


svg {
	width:100%;
	height:100%;

	z-index:1;

} /* cibler svg permet d'éviter d'avoir à lui donner une viewbox (taille en valeurs absolues), permet d'adapter (à peu près) le contenu à la page*/


.sun {

	width:250px;
	height:250px;
	border-radius: 150px;
	
	background-color: red;

	position:absolute;
	top:10px;
	right:0;

	-webkit-animation: sun 5s linear 0s;
		 -o-animation: sun 5s linear 0s;
			animation: sun 5s linear 0s;

	-webkit-animation-fill-mode: forwards;  /*cette fonction permet de stoper l'animation à son état final (elle ne se remet pas à son état initial en finissant)*/
		  o-animation-fill-mode: forwards;
			animation-fill-mode: forwards;


	/* Dégradé fond du soleil, généré automatiquement*/
	background: rgb(255,168,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	/* Fin du code du dégradé*/

}


.Nuage1 {

	-webkit-animation: premiernuage 8.5s linear 4.5s;
		 -o-animation: premiernuage 8.5s linear 4.5s;
			animation: premiernuage 8.5s linear 4.5s;

	transform:translate(-1400px,1027px) scale(1.5,1.5);

}

.Nuage2 {

	-webkit-animation: secondnuage 8.5s linear 4.5s;
		 -o-animation: secondnuage 8.5s linear 4.5s;
			animation: secondnuage 8.5s linear 4.5s;

	transform:translate(1500px,778px) scale(1.5,1.5);


}


.Rocky {

	transform:scale(1.3,1.3) translate(219px,-30px);


}

.Yeux{
	-webkit-animation: blink 4s linear infinite 13s;
		 -o-animation: blink 4s linear infinite 13s;
			animation: blink 4s linear infinite 13s;
}

.pupille {
	transform:translateY(5px);

	-webkit-animation: lookupy 5s linear 0s;
		 -o-animation: lookupy 5s linear 0s;
			animation: lookupy 5s linear 0s;
}





.Langue {

	transform:translate(75px,-72px) rotate(10deg);

	-webkit-animation: tongue 0.05s linear 150 4s alternate;
		 -o-animation: tongue 0.05s linear 150 4s alternate;
			animation: tongue 0.05s linear 150 4s alternate;

}


.GrosNuage {


	transform:scale(2,2) translate(-10px,-450px);

-webkit-animation: grosnuage 8.5s linear 4.5s;
	 -o-animation: grosnuage 8.5s linear 4.5s;
		animation: grosnuage 8.5s linear 4.5s;

-webkit-animation-fill-mode: forwards;
	  o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;

}

.Sol {

	transform:scale(2,2) translate(-61px,300px);

-webkit-animation: groundup 8.5s linear 4.5s;
	 -o-animation: groundup 8.5s linear 4.5s;
		animation: groundup 8.5s linear 4.5s;

-webkit-animation-fill-mode: forwards;
	  o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;


}

.txtfade{

	-webkit-animation: txtfad 1s linear 13s;
		 -o-animation: txtfad 1s linear 13s;
			animation: txtfad 1s linear 13s;

opacity:0;


	-webkit-animation-fill-mode: forwards;  /*cette fonction permet de stoper l'animation à son état final (elle ne se remet pas à son état initial en finissant)*/
		  o-animation-fill-mode: forwards;
			animation-fill-mode: forwards;


}



/* Fin de partie des éléments du DOM */



/* Partie Keyframes des animations */


 
@-webkit-keyframes sun { /*animation du soleil*/

	0%{top:10px; right:0px; width:250px; height:250px;}
	90%{top:10px; right:0px; width:300px; height:300px;}
	100%{top:-300px;right:0px; transform:rotate(800deg);}


}

@-webkit-keyframes lookupy { /*Animation des yeux de Rocky */

	0%{transform:translateY(5px);}
	25%{transform:translateY(12px);}
	30%{transform:translateY(12px);}
	31%{transforme:translateY(5px);}
	35%{transforme:translateY(5px);}
	80%{transforme:translateY(0px);}
	
}

@-webkit-keyframes tongue { /*Animation (irritante) de la langue de Rocky. */
	
	from{transform:translate(75px,-72px) rotate(10deg);}
	to{transform:translate(-63px,90px) rotate(-10deg);}
}

@-webkit-keyframes grosnuage{ /*animation du passage du gros nuage*/

	0%{transform:scale(2,2) translate(-10px,-450px);}
	10%{transform:scale(2,2) translate(-10px,-990px);}
	100%{transform:scale(2,2) translate(-10px,-990px);}
}

@-webkit-keyframes premiernuage { /*animation du passage du premier petit nuage*/
	0% {transform:translate(-1400px,1027px) scale(1.5,1.5);}
	30% {transform:translate(-1400px,1027px) scale(1.5,1.5);}
	40% {transform:translate(-1400px,-324px) scale(1.5,1.5);}
	100% {transform:translate(-1400px,-324px) scale(1.5,1.5);}
}

@-webkit-keyframes secondnuage { /*animation du passage du second petit nuage*/
	0% {transform:translate(1500px,778px) scale(1.5,1.5);}
	50% {transform:translate(1500px,778px) scale(1.5,1.5);}
	60% {transform:translate(1500px,-565px) scale(1.5,1.5);}
	100% {transform:translate(1500px,-565px) scale(1.5,1.5);}
}

@-webkit-keyframes groundup { /* animation du sol qui 'monte' sous Rocky*/
	0% {transform:scale(2,2) translate(-61px,300px);}
	70% {transform:scale(2,2) translate(-61px,300px);}
	75% {transform:scale(2,2) translate(-61px,-170px);}
	100% {transform:scale(2,2) translate(-61px,-170px);}

}

@-webkit-keyframes blink {
	0%{opacity:1;}
	46%{opacity:1;}
	47%{opacity:0;}
	50%{opacity:1;}
	91%{opacity:1;}
	93%{opacity:0;}
	96%{opacity:1;}
	97%{opacity:1;}
	100%{opacity:0;}
}

@-webkit-keyframes txtfad {
	0% {opacity:0;}
	92%{opacity:1;}
	100%{opacity:1;}
}

@-webkit-keyframes presfad {
	0% {top:750px; left:730px;}
	35%{top:750px; left:730px;opacity:1;}
	40%{top:-400px;opacity:1;}
	41%{opacity:0;}
	91%{opacity:0;}
	92%{top:650px;opacity:1;}
	100%{top:650px;opacity:1;}
}

