@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

.success {
	width:400px;
	background: #fff;
	padding: 20px 26px;
}

.succes p {
  color: #777;
  margin-bottom: 14px;
}

.success  p:last-child {
  margin-bottom: 0;
}

.success input {
  border-radius: 3px;
}

.success a {
	  text-decoration: none;
}

.success a input[type="submit"] {
  background: #33cc77;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 150px;
}

.success a input[type="submit"]:hover {
  background: #28ad63;
}

.errors {
	width:400px;
	background: #fff;
	padding: 20px 26px;
	border-radius:20px 20px 20px 20px;

}

.errors p {
  color: #f95252;
  margin-bottom: 14px;
}

.errors  p:last-child {
  margin-bottom: 0;
}

.error {
	color:red;
}

.error input {
	color:red;
	border: 1px solid red;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  background: #c0c0c0;
  color: #000;
  font: 100%/1.5em "Varela Round", sans-serif;
  margin: 0;
}

input {
  background-image: none;
  border: none;
  font: 100%/1.5em "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s;
          transition: all .3s;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#login {
	width:400px;
}

#login h2 {
  background: #f95252;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
}

#login fieldset {
  background: #fff;
  width:400px;
  border-radius: 0 0 20px 20px;
  border:0;
  padding: 20px 26px;
}

#login fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#login fieldset p:last-child {
  margin-bottom: 0;
}

#login fieldset input {
  border-radius: 3px;
}

#login fieldset input[type="text"], #login fieldset input[type="password"],#login fieldset input[type="number"] {
  background: #eee;
  color: #777;
  padding: 4px 10px;
  width: 100%;
}

#login fieldset input[type="submit"] {
  background: #33cc77;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

#login fieldset input[type="submit"]:hover {
  background: #28ad63;
}

.loginError {
	width:400px;
	background:#fff;
	padding: 20px 26px;
}

.loginError p {
	color: #f95252;
}

