/*Base CSS*/

body{font-family: Helvetica,arial;
	background:black;
}

/*Orbites contenant les pupilles*/

.anim {
	width: 200px;
	height: 200px;
	position: relative;
	margin: 200px 670px;
	background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0) 0%, 
	rgba(0,0,0,1) 19%, rgba(0,0,0,1) 23%, rgba(255,0,4,1) 55%); /* Firefox */

	background: -webkit-gradient(linear, left top, right bottom,
	color-stop(0%,rgba(0,0,0,0)), color-stop(19%,rgba(0,0,0,1)),
	color-stop(23%,rgba(0,0,0,1)), color-stop(55%,rgba(255,0,4,1))); /* Chrome/Safari */

	background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0) 0%,
	rgba(0,0,0,1) 19%,rgba(0,0,0,1) 23%,rgba(255,0,4,1) 55%); /* Chrome/Safari */

	background: -o-linear-gradient(-45deg,  rgba(0,0,0,0) 0%,
	rgba(0,0,0,1) 19%,rgba(0,0,0,1) 23%,rgba(255,0,4,1) 55%); /* Opera */

	background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0) 0%,
	rgba(0,0,0,1) 19%,rgba(0,0,0,1) 23%,rgba(255,0,4,1) 55%); /* IE10+ */

	background: linear-gradient(135deg,  rgba(0,0,0,0) 0%,
	rgba(0,0,0,1) 19%,rgba(0,0,0,1) 23%,rgba(255,0,4,1) 55%); /* W3C */
	border-top-left-radius : 190px 200px;
	border-bottom-right-radius : 190px 120px;

}

.anim-2 {
	width: 200px;
	height: 200px;
	margin: -400px 380px;
	position: relative;
	background:black;
	border-top-right-radius : 190px 200px;
	border-bottom-left-radius : 190px 120px;
	-webkit-transition:all 2s ease 0s; /* Chrome / Safari */
	   -moz-transition:all 2s ease 0s; /* Firefox */
		-ms-transition:all 2s ease 0s; /* IE10+ */
		 -o-transition:all 2s ease 0s; /* Opera */
			transition:all 2s ease 0s; /* General */
}

/*Pupille animée*/

.eye {
	width: 15px;
	height: 100px;
	left:50%;
	top:32%;
	position: absolute;
	background:black;
	border-top-left-radius : 200px 1200px;
	border-bottom-right-radius : 200px 1200px;
	border-top-right-radius : 200px 1200px;
	border-bottom-left-radius : 200px 1200px;
}

/*Pupille gauche transition couleur*/

.eye-2 {
	width: 15px;
	height: 100px;
	left:50%;
	top:32%;
	position: absolute;
	background:red;
	border-top-left-radius : 200px 1200px;
	border-bottom-right-radius : 200px 1200px;
	border-top-right-radius : 200px 1200px;
	border-bottom-left-radius : 200px 1200px;
	-webkit-transition:all 1s ease-out 0s; /* Chrome / Safari */
	   -moz-transition:all 1s ease-out 0s; /* Firefox */
		-ms-transition:all 1s ease-out 0s; /* IE10+ */
		 -o-transition:all 1s ease-out 0s; /* Opera */
			transition:all 1s ease-out 0s; /* General */
}

/*Bouche et transition de la bouche*/

.bouche{
	width:40px;
	height:50px;
	background: -moz-linear-gradient(top,  rgba(255,0,4,0) 0%, 
	rgba(255,0,4,0.8) 15%, rgba(255,0,4,1) 19%, rgba(255,0,4,1) 20%,
	rgba(0,0,0,1) 50%, rgba(255,0,4,1) 80%, rgba(255,0,4,1) 81%, 
	rgba(255,0,4,0.8) 85%, rgba(255,0,4,0) 100%); /* Firefox */

	background: -webkit-gradient(linear, left top, left bottom,
	color-stop(0%,rgba(255,0,4,0)), color-stop(15%,rgba(255,0,4,0.8)),
	color-stop(19%,rgba(255,0,4,1)), color-stop(20%,rgba(255,0,4,1)),
	color-stop(50%,rgba(0,0,0,1)), color-stop(80%,rgba(255,0,4,1)),
	color-stop(81%,rgba(255,0,4,1)), color-stop(85%,rgba(255,0,4,0.8)),
	color-stop(100%,rgba(255,0,4,0))); /* Chrome/Safari*/

	background: -webkit-linear-gradient(top,  rgba(255,0,4,0) 0%,
	rgba(255,0,4,0.8) 15%,rgba(255,0,4,1) 19%,rgba(255,0,4,1) 20%,
	rgba(0,0,0,1) 50%,rgba(255,0,4,1) 80%,rgba(255,0,4,1) 81%,
	rgba(255,0,4,0.8) 85%,rgba(255,0,4,0) 100%); /* Chrome/Safari */

	background: -o-linear-gradient(top,  rgba(255,0,4,0) 0%,
	rgba(255,0,4,0.8) 15%,rgba(255,0,4,1) 19%,rgba(255,0,4,1) 20%,
	rgba(0,0,0,1) 50%,rgba(255,0,4,1) 80%,rgba(255,0,4,1) 81%,
	rgba(255,0,4,0.8) 85%,rgba(255,0,4,0) 100%); /* Opera */

	background: -ms-linear-gradient(top,  rgba(255,0,4,0) 0%,
	rgba(255,0,4,0.8) 15%,rgba(255,0,4,1) 19%,rgba(255,0,4,1) 20%,
	rgba(0,0,0,1) 50%,rgba(255,0,4,1) 80%,rgba(255,0,4,1) 81%,
	rgba(255,0,4,0.8) 85%,rgba(255,0,4,0) 100%); /* IE10+ */

	background: linear-gradient(to bottom,  rgba(255,0,4,0) 0%,
	rgba(255,0,4,0.8) 15%,rgba(255,0,4,1) 19%,rgba(255,0,4,1) 20%,
	rgba(0,0,0,1) 50%,rgba(255,0,4,1) 80%,rgba(255,0,4,1) 81%,
	rgba(255,0,4,0.8) 85%,rgba(255,0,4,0) 100%); /* W3C */
	margin-top: 30%;
	margin-left: 29%;
	-webkit-transition:all 2s ease-out 0s; /* Chrome / Safari */
	   -moz-transition:all 2s ease-out 0s; /* Firefox */
		-ms-transition:all 2s ease-out 0s; /* IE10+ */
		 -o-transition:all 2s ease-out 0s; /* Opera */
			transition:all 2s ease-out 0s; /* General */
	border-radius: 100px;
	transform:translateX(140px);
}
.bouche:hover{
	width:400px;
	border-bottom-right-radius : 5000px 2000px;
	border-bottom-left-radius : 3500px 900px;
	transform:scaleY(1.5);
	right:10%;
}

/*Animation de la pupille*/

.eye{
	-webkit-animation : monanimation infinite 3s ease-out 0s; /* Chrome/Safari */
	   -moz-animation : monanimation infinite 3s ease-out 0s; /* Firefox */
	    -ms-animation : monanimation infinite 3s ease-out 0s; /* IE10+ */
		 -o-animation : monanimation infinite 3s ease-out 0s; /* Opera */
			animation : monanimation infinite 3s ease-out 0s; /* General */

	-webkit-animation-play-state:paused; /* Chrome/Safari */
	   -moz-animation-play-state:paused; /* Firefox */
		-ms-animation-play-state:paused; /* IE10+ */
		-o- animation-play-state:paused; /* Opera */
			animation-play-state:paused; /* General */
}

.anim:hover .eye{
	-webkit-animation : monanimation infinite 3s ease-out 0s; /* Chrome/Safari */
	   -moz-animation : monanimation infinite 3s ease-out 0s; /* Firefox */
	    -ms-animation : monanimation infinite 3s ease-out 0s; /* IE10+ */
		 -o-animation : monanimation infinite 3s ease-out 0s; /* Opera */
			animation : monanimation infinite 3s ease-out 0s; /* General */

	-webkit-animation-play-state:running; /* Chrome/Safari */
	   -moz-animation-play-state:running; /* Firefox */
		-ms-animation-play-state:running; /* IE10+ */
		-o- animation-play-state:running; /* Opera */
			animation-play-state:running; 

} 

/* Chrome/Safari */
@-webkit-keyframes monanimation{
	0% {left:50%;}
	25% {left:25%;top:40%;}
	50% {top:60%;}
	75% {left:90%;top:20%;}
	85% {left:70%;top:12%;}
	100% {left:50%;}
}

/* Firefox */
@-moz-keyframes monanimation{
	0% {left:50%;}
	25% {left:25%;top:40%;}
	50% {top:60%;}
	75% {left:90%;top:20%;}
	85% {left:70%;top:12%;}
	100% {left:50%;}
}

/* IE10+ */
@-ms-keyframes monanimation{
	0% {left:50%;}
	25% {left:25%;top:40%;}
	50% {top:60%;}
	75% {left:90%;top:20%;}
	85% {left:70%;top:12%;}
	100% {left:50%;}
}

/* Opera */
@-o-keyframes monanimation{
	0% {left:50%;}
	25% {left:25%;top:40%;}
	50% {top:60%;}
	75% {left:90%;top:20%;}
	85% {left:70%;top:12%;}
	100% {left:50%;}
}

/* General */
@keyframes monanimation{
	0% {left:50%;}
	25% {left:25%;top:40%;}
	50% {top:60%;}
	75% {left:90%;top:20%;}
	85% {left:70%;top:12%;}
	100% {left:50%;}
}

/*Transition de l'oeil gauche*/

.anim-2:hover .eye-2{
	background:black;
}

.anim-2:hover{
	background: -moz-linear-gradient(45deg,  rgba(255,0,4,1) 20%, 
		rgba(0,0,0,1) 88%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%); /* Firefox */

	background: -webkit-gradient(linear, left bottom, right top,
	 color-stop(20%,rgba(255,0,4,1)), color-stop(88%,rgba(0,0,0,1)), 
	 color-stop(90%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome/Safari */

	background: -webkit-linear-gradient(45deg,  rgba(255,0,4,1) 20%,
		rgba(0,0,0,1) 88%,rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%); /* Chrome/Safari */

	background: -o-linear-gradient(45deg,  rgba(255,0,4,1) 20%,
		rgba(0,0,0,1) 88%,rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%); /* Opera */

	background: -ms-linear-gradient(45deg,  rgba(255,0,4,1) 20%,
		rgba(0,0,0,1) 88%,rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%); /* IE10+ */

	background: linear-gradient(45deg,  rgba(255,0,4,1) 20%,
		rgba(0,0,0,1) 88%,rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%); /* W3C */
}
