body{
	background: #34495e;
	font-size: 14px;
	font-family: helvetica;

}
/*=====================LUNE======================================*/
.all{
	width: 600px;
	height: 100%;
	margin: auto;
	
	

}
.container{
	
	width: 400px;
	height: 100px;
	margin: auto;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction:alternate;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	

}


.head{
	width: 400px;
	height: 400px;
	margin: auto; 
	border-radius: 100%;
	background-color: #1abc9c;
	box-shadow: 10px 20px 2px #16a085;

	

	
}
.container-1{
	padding: 115px;

	
}
.eye1{
	width: 40px;
	height: 50px;
	background-color:black;
	float: left;
	border-radius: 100%;
	-webkit-animation: close 0.7s linear 0.5s infinite alternate;
	
	
}
.eye2{
	width: 40px;
	height: 50px;
	background-color: black;
	float: left;
	margin-left: 80px;
	border-radius:100%;
	-webkit-animation: close_ 0.7s linear 0s infinite alternate;
	

	

}
.container-2{
	margin-left: 150px;

}
.mouth{
	-webkit-animation: mouth 0.3s linear 0s infinite alternate;
	width: 90px;
	height: 40px;
	border-radius: 20px 20px 100px 100px;
	background-color: black;
	



}
.teeth{
	margin-left: 13px;
	background-color: #eee;
	width: 30px;
	height:30px;
	float: left;
	border-right: solid 2px black; 
	
	
	
}
.teeth2{
	background-color: #eee;
	width: 30px;
	height:30px;
	float: left


}

/*======================ORANGE=====================================*/
.containerB{
	-webkit-animation: corpsB 2s linear 0s infinite alternate;
	left:0px;
	top:0px;
	width: 0px;
	height: 0px;
	position: relative;
	z-index: 3;
	

}

.headB{
	-webkit-animation: ecrasement 0.2s linear 0s infinite alternate;
	width: 80px;
	height: 80px;
	top: 550px;
	border-radius: 100%;
	background-color: #e67e22;
	box-shadow: 2px 5px 1px #d35400;
	position: absolute;


}

.container-1B{
	padding: 15px;	
}

.eye1B{
	width: 13px;
	height: 16px;
	background-color:black;
	float: right;
	border-radius: 100%;
	margin-right: 5px;
	-webkit-animation: closeb 1s linear 0s infinite alternate;

		
}

.eye2B{
	width: 13px;
	height: 16px;
	background-color: black;
	margin-left: 10px;
	border-radius:100%;
	-webkit-animation: closeb_ 1s linear 0s infinite alternate;
	
}

.container-2B{
	
	top: -5px;
	-webkit-animation: turnB 2s ease-out 0s infinite alternate;
}

.mouthB{
	margin-left: 30px;
	width: 10px;
	height: 10px;
	border-radius: 20px 20px 100px 100px;
	background-color: #e74c3c;

	
}
.ombre{
	width: 70px;
	height: 70px;
	background: #2e2e2e;
	position: relative;
	border-radius: 100px;
	top:459px;
	left: 7px;
	transform:rotateX(250deg);
	z-index: -1;
	
	
	


}

/*========================NUAGE-MONTAGNE===================================*/
.nuage{
	width: 128px;
	height: 128px;
	margin-top: 200px; 
	background-color: #ecf0f1;
	box-shadow: 10px 5px 2px #bdc3c7;
	border-radius: 100px;
	
	
}
.nuage1{ width: 128px;
	height: 128px;
	margin-top: -120px; 
	margin-left: 100px;
	background-color: #ecf0f1;
	box-shadow: 10px 5px 2px #bdc3c7;
	border-radius: 100px;
	
}

.nuage2{
	width: 128px;
	height: 128px;
	margin-top: -130px; 
	margin-left: 200px;
	background-color: #ecf0f1;
	box-shadow: 10px 5px 2px #bdc3c7;
	border-radius: 100px;

}
.pluie{
	-webkit-animation: descendre 2s linear 5s infinite;
	width: 10px;
	height: 10px;
	background-color:#eeeeee;
    left: 80px;
	position: relative;
	visibility: hidden;
	border-radius: 100%;
	
	

	
}
.pluie1{
	width: 10px;
	height: 10px;
	background-color:#eeeeee;
	position: absolute;
	left:110px;
	border-radius: 100%;
    -webkit-animation: descendre 3s linear 3.5s infinite;
	visibility: hidden;
	
}

.pluie2{
	width: 10px;
	height: 10px;
	background-color:#eeeeee;
	position: absolute;
	left:140px;
	-webkit-animation:descendre 2s linear 0s infinite;
	visibility: hidden;
	border-radius: 100%;
}

.pluie3{
	width: 10px;
	height: 10px;
	background-color:#eeeeee;
	position: absolute;
	left:170px;
	-webkit-animation:descendre 3s linear 1s infinite;
    visibility: hidden;
    border-radius: 100%;
	
}

.pluie4{

	width: 10px;
	height: 10px;
	background-color: #eeeeee;
	position: absolute;
	left:200px;
	-webkit-animation:descendre 2s linear 4s infinite;
	visibility: hidden;
	border-radius: 100%;
	
	
}
.pluie5{
	width: 10px;
	height: 10px;
	background-color: #eeeeee;
	position: absolute;
	left:230px;
	-webkit-animation:descendre 3s linear 2s infinite;
	visibility: hidden;
	border-radius: 100%;
	
}


.triangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 308.5px 534.3px 308.5px;
    border-color: transparent transparent #2c4f2f transparent;
    margin-left: -400px;
   
}

.triangle1{

    border-style: solid;
    border-width: 0 308.5px 534.3px 308.5px;
    border-color: transparent transparent #2f5432 transparent;
    margin-left: 70px;
    position: relative;


}

.triangle2{
    border-style: solid;
    border-width: 0 308.5px 534.3px 308.5px;
    border-color: transparent transparent #2c4f2f transparent;
    margin-top: -534px;
    margin-left:470px;

}




.terre{
	width: 800px;
	height:10px;
	margin: auto;
	background: #bdc3c7;
	position: relative;
	top:-3px;
	z-index: 0;

}
.neige{
	width: 100%;
	height:200px;
	background: #eeeeee;
	position: relative;
	top:-10px;
	z-index: -1;

}
/*=====================FUSEE======================================*/
.fusee{
	
	width: 83px;
	height: 175px;
	background: url('fusee.png');
	top:0px;
	margin-left:8px;
	
	
	

}
.container-fusee{
	
	border-radius: 25px;
	margin: auto;
	width: 100px;
	height: 200px;
	position: relative;
	right:600px;
	top:-312px;
	z-index: 2;
	box-shadow: 0px 0px 20px #c0392b;
	-webkit-animation: clignotement 1.5s ease-in infinite;

	
}


.container-fusee:hover .fusee{
	-webkit-animation:fly 10s linear 0s infinite ;

}
h1{

text-align: center;
margin-top:-475px;
color:#8E8E8E;
font-size: 70px;
z-index: 1;
position: relative;

}


/*============================================================*/
@-webkit-keyframes close{
	0%{transform:scale(0.5,0.5);}
	100%{transform:scale(1.2,0.8);}

}

@-webkit-keyframes close_{
    0%{transform:scale(0.5,0.5);}
	100%{transform:scale(1.2,0.8);}

}

@-webkit-keyframes mouth{
	0%{width: 90px; height: 40px;}
	50%{width: 90px; height: 55px;}
	100%{width: 90px; height: 10px;}

}

@-webkit-keyframes rotation {

	0%{transform:rotate(-70deg);}
	100%{transform:rotate(70deg);}
	
}
@-webkit-keyframes corpsB{
	0%{transform:translate(0px,0px);}
	10%{transform:translate(50px,-35px);}
	20%{transform:translate(100px,0px);}
	30%{transform:translate(150px,-35px);}
	40%{transform:translate(200px,0px);}
	50%{transform:translate(250px,-35px);}
	60%{transform:translate(300px,0px);}
	70%{transform:translate(350px,-35px);}
	80%{transform:translate(400px,0px);}
	90%{transform:translate(450px,-35px);}
    100%{transform:translate(500px,0px);}	

}
@-webkit-keyframes ecrasement{
	0%{height: 80px; width: 80px;}
	100%{height: 58px;}
}

@-webkit-keyframes turnB{
	0%{margin-left: 20px;}
	100%{margin-left: 0px;}
}
@-webkit-keyframes descendre{
	0%{transform:translateY(0px);visibility: hidden;}
	2%{transform:translateY(0px);visibility: visible;}
	100%{transform:translateY(420px);}

}

@-webkit-keyframes fly{
	0%{transform:translate(0px,0px);}
	
	20%{transform:translate(60px,-300px) rotate(50deg);}


	100%{transform:translate(1900px,-900px)rotate(50deg);}
}
@-webkit-keyframes clignotement{
	0%{ box-shadow: 0px 0px 12px #c0392b;}
	50%{box-shadow: 0px 0px 35px #e74c3c;}
	100%{box-shadow: 0px 0px 12px #c0392b;}
}

@-webkit-keyframes closeb{
	0%{height: 16px;}
	100%{height: 1px;}
}
@-webkit-keyframes closeb_{
	0%{height: 16px;}
	100%{height: 1px;}
}