*
{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', 'Helvetica', 'sans-serif';
}

header
{
	background-color: #000;
	height: 80px;
	width: 100%;
}

.title
{
	margin-left: 30px;
	line-height: 80px;
	float: left;
	color: #FFF;
	text-transform: uppercase;
}

.menu
{
	float: right;
	text-decoration: none;
	list-style-type: none;
	margin-right: 20px;
}
.menu>li
{
	display: inline-block;
	color: white;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 80px;
}

/*////////// CONTENT 1 //////////*/

.start
{
	clear: both;
	background-image: url(../img/start.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.start>h2{color: white;}
.start>h2, .content>h2
{
	font-size: 40px;
	padding-top: 20vh;
	margin-bottom: 100px;
	text-align: center;
}

.start>a>.button
{
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	color: #FFF;
	border: none;
	background-color: #42497c;
	margin: 200px auto;
	width: 300px;
	height: 50px;
	font-size: 16px;
	margin: 10px;
	cursor: pointer;
	line-height: 50px;
	text-decoration: none;
	display:inline-block;

}

/*////////// CONTENT 2 //////////*/

.content
{
	width: 100%;
	height: 100vh;
	text-align: center;
}

.bloc
{
	width: 22%;
	margin: 20px;
	height: 300px;
	text-align: center;
	margin: 100px auto;
	display: inline-block;
}

.bloc>img
{
	width: 150px;
	height: 150px;
	margin: auto;
}

/*///////// CONTENT 3 /////////*/

/*////////// FOOTER ///////////*/
footer
{
	background-color: rgba(25,25,25,1);
	width: 100%;
	height: 40px;
	color: #FFF;
	text-align: center;
	line-height: 40px;

}