body {
    height: 100%;
    background-color: rgba(44, 62, 80,1.0);
    overflow: hidden;
    
}

.loading { 
    width: 25%;
    height: 100%;
    position: absolute;
    top: -100%;
    
    
}

/*Rectangles*/
.first {
    left: 0;
    background: #16a085;
    animation: slide-in-top 10s 0.6s ease-in 1;
    -webkit-animation: slide-in-top 10s 0.6s ease-in 1;
    -moz-animation: slide-in-top 10s 0.6s ease-in 1;
    transition-delay: 4s;
    -webkit-transition-delay: 4s;
  
}

    
.second.loading {
  	right: 25%;
  	background: #f1c40f;
    animation: slide-in-top 10s 1.5s ease-in 1;
 	-webkit-animation: slide-in-top 10s 1.5s ease-in 1;
 	-moz-animation: slide-in-top 10s 1.5s ease-in 1;
    transition-delay: 4s;
    -webkit-transition-delay: 4s;

}

.third.loading {
  right: 0;
  background: #e74c3c;
  animation: slide-in-top 10s 2s ease-in 1;
  -webkit-animation: slide-in-top 10s 2s ease-in 1;
  -moz-animation: slide-in-top 10s 2s ease-in 1;
    transition-delay: 4s;
    -webkit-transition-delay: 4s;
 
    

}

.fourth.loading { 
   left: 25%;
   background: #f39c12;
   animation: slide-in-top 10s 1s ease-in 1;
   -webkit-animation: slide-in-top 10s 1s ease-in 1;
   -moz-animation: slide-in-top 10s 1s ease-in 1;
    transition-delay: 4s;
    -webkit-transition-delay: 4s;
 }

 /*Cercles*/ 

.circle {
	position: relative;
	height: 250px;
	width: 250px;
	border-radius: 100%;
  	background: rgba(236, 240, 241, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
    -webkit-animation: fading_out 3s 3s linear infinite;
    animation: fading_out 3s 3s linear infinite;
    transition-delay: 4s;
    -webkit-transition-delay: 4s;
   }


	/*Icones*/

	#loading{
		position: relative;
		left: 30%;
		top: 30%;
		
		
	}
	
	#loupe{
		position: relative;
		left: 30%;
		top: 30%;
			
	}

	#wifi{
		position: absolute;
		left: 30%;
		bottom: 30%;
		

	}

	#checkmark{
		position: absolute;
		left: 30%;
		bottom: 30%;
	}


	/*Icones Hover*/

	#loading:hover {
	animation:rotation 2s linear infinite;
	-webkit-animation:rotation 2s linear infinite;
   }
	
	#loupe:hover{
	animation:recherche 1s linear infinite;
	-webkit-animation:recherche 1s linear infinite;
	}

    #wifi:hover{
	animation:late-fade 1s ease-out infinite;
	-webkit-animation:late-fade 1s ease-out infinite;
    }

	#checkmark:hover {
	animation:checkmark 1.5s ease-out infinite;
	-webkit-animation:checkmark 1.5s ease-out infinite;
	}

   /*Keyframes*/    

@-webkit-keyframes slide-in-top {
 0% {
    top: -100%;
  }
  10% {
     top: 0;
  }
  80% {
    top: 0;
  }
  90% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes late-fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes late-fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes checkmark {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    width: 0;
    opacity: 1;
  }
  50% {
    width: 100px;
    opacity: 1;
  }
  99% {
    width: 100px;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes checkmark {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    width: 0;
    opacity: 1;
  }
  50% {
    width: 100px;
    opacity: 1;
  }
  99% {
    width: 100px;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes recherche {
  0% {
    transform: translate(0, 0);
  }
  25% {
     transform: translate(-10%, 10%);
  }
  50% {
     transform: translate(0%, 20%);
  }
  75% {
    transform: translate(10%, 10%);
  }
}

@-webkit-keyframes recherche {
  0% {
    transform: translate(0, 0);
  }
  25% {
     transform: translate(-10%, 10%);
  }
  50% {
     transform: translate(0%, 20%);
  }
  75% {
    transform: translate(10%, 10%);
  }
}

/*@-webkit-keyframes fading_out {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        margin-top: -100px;
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        margin-top: 100px; 
    }

}

@keyframes fading_out {
    0% {
        opacity: 0;
        transform: scale(3);
        margin-top: -100%;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        margin-top: 100%; 
    }
}
*/

