body {
font-size: 1.8em;
line-height: 1.875;
font-family: "Roboto", sans-serif;
font-weight: 400;
color: #555;
background-color: #eeeeee;
text-align: center;
}

.error {
font-size: 1.4rem;
color: #f44336;
display: block;
}