*
{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', 'Helvetica', 'sans-serif';
}

header
{
	background-color: #000;
	height: 80px;
	width: 100%;
}

.title
{
	margin-left: 30px;
	line-height: 80px;
	float: left;
	color: #FFF;
	text-transform: uppercase;
}

.menu
{
	float: right;
	text-decoration: none;
	list-style-type: none;
	margin-right: 20px;
}
.menu>li
{
	display: inline-block;
	color: white;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 80px;
}
body
{
	background-color: #d35400;
	color: rgba(240,240,240,1);
}
/*////////// CONTENT 1 //////////*/

.container
{
	clear: both;
	height: 1200px;
	width: 1024px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
}

.container > h2
{
	font-size: 40px;
	margin: 10vh auto 10vh auto;
	text-align: center;
	color: #FFF;
}


.nameQuiz > a
{
	text-decoration: none;
}
.button
{
	text-align: center;
	background-color: rgba(24,24,24,0.2);
	color: #FFF;
	border-radius: 3px;
	margin: 16px auto;
	width: 60%;
	height: 50px;
	font-size: 16px;
	text-decoration: none;
	line-height: 50px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.button:hover, a:hover
{
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	background-color: #42497c;
}

/*////////// CONTENT 2 //////////*/

.content
{
	width: 100%;
	height: 100vh;
	text-align: center;
}

.bloc
{
	width: 20%;
	margin: 20px;
	height: 300px;
	text-align: center;
	margin: 100px auto;
	display: inline-block;
}

a
{
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	line-height: 200px;
	background-color: rgba(20,20,20,0.1);
	border-radius: 3px;
	float: left;
	width: 40%;
	height: 200px;
	margin: 3%;
	text-decoration: none;
}
a > .answer
{
	
	color: rgba(240,240,240,1);
}
/*///////// CONTENT 3 /////////*/

/*////////// FOOTER ///////////*/
footer
{
	background-color: rgba(25,25,25,1);
	width: 100%;
	height: 40px;
	color: #FFF;
	text-align: center;
	line-height: 40px;

}