
body {background: #fff;font-size: 14px;font-family: 'Old Standard TT', serif;height:100%; }

.menu{
	position: fixed;
	width: 100%;
	height: 10%;
	background: #fff;
	box-shadow: 0px 2px 60px #000;
	z-index: 1000;
}

.logo{
	position: absolute; 
	z-index: 10;
	height: 43%;
	margin-left: 46%;
	margin-top: 1.3%;
	width :auto;
	
}

.list{
	position: absolute;
	margin-top: 5%;
	width: 100%;
}

.shortfilms{
	position: relative;
	float: left;
	display: inline-block;
	width: 33.33%;
	height: 45%;
	background: #000;
}

.poster{

	width: 100%;
	height: auto;
	z-index: 1;
}

.container_information{
	color: #fff;
	top: 0;
	position: absolute;
	z-index: 10;
	font-size: 250%;
	height: 100%;
	width: 100%;
}

.container_information, .shortfilms:hover>div {
    display: none;
}

.container_opacity{
	position: absolute;
	top:0;
	z-index: 11;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.65;
}
.information{
	margin-top: 50%;
  	vertical-align: middle;
	height: 100%;
	width: 100%;
	text-align: center;
	position: absolute;
	font-family: 'Old Standard TT', serif;
	font-weight: 400;
	z-index: 12;
	opacity: 1;
}

.shortfilms:hover>.container_information{
    display: block;
}

.number_like{
	position: absolute;
	z-index: 13;
	height: 13%;
	width:50%;
	background-color: #fff;
	text-align: center;
	padding-top: 5%;
	font-size: 130%;
	top: 87%;
	color: #000;
	margin-left: 50%;
}

.like{
	text-decoration: none;
	position: absolute;
	z-index: 13;
	height: 13%;
	width:50%;
	background-color: #fff;
	text-align: center;
	padding-top: 5%;
	font-size: 130%;
	top: 87%;
	color: #000;
}

.gradient{
	position: absolute;
	z-index: 9;
    top: 75%;
    width: 100%;
    height: 25%;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(255,0,0,0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9)); /* Standard syntax (must be last) */
        );
}

.gradient_bis{
	position: absolute;
	z-index: 9;
    top: 85%;
    width: 100%;
    height: 15%;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(255,0,0,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Standard syntax (must be last) */
        );
}

.box{
	position: absolute;
	float: left;
	width: 100%;
	height: 20%;
	top: 100%;
	background: purple;
}
.results{
	z-index: 15
	position: absolute;
	height: 50%;
	width: 100%;
	color: #fff;
	font-size: 300%;
	background-color:#196eae; 
}

.results_title{
	position: relative;
	float: left;
	height:100%;
	width: 50%;
	text-align: center;
	margin-top: 10%;
	font-size: 260%;
}
.results_score{
	display: inline-block;
	position: absolute;
	float: left;
	height:100%;
	width: 50%;
	text-align: center;
	margin-top: 10%;
	font-size: 260%;
}
.contain_podium{
	z-index:17;
	position: absolute;
	height: 50%;
	width: 100%;
	background-color: #e8a35e;
}

.toppissime{
	margin-top: 3%;
	font-size: 250%;
	text-align: center;
	height: 20%;
	width: 100%;
	color: #fff;
}
.podium{
	padding-top: 5%;
	position: relative;
	display: inline-block;
	float: left;
	font-size: 400%;
	text-align: center;
	height: 80%;
	width: 33.33%;
	color: #fff;
	
}