/********************************************
				GENERAL
********************************************/
@font-face{
    font-family : "Helvetica Neue";
    src : url('../fonts/helvetica-normal.ttf');
}
html, body {
	height:100%;
	margin:0; 
}
ul, li { 
	padding:0; margin:0; 
}
body { 
	overflow:hidden; 
	font-family:'Helvetica Neue';
	min-width:1280px; 
}


/********************************************
			  SMALL SCREEN 
********************************************/
#unsupported { 
	display:none !important; 
}


/********************************************
				BACKGROUND
********************************************/
#background {
	position:relative;
	width:100%;
	height:100%;
	background: url(../img/bg2.jpg) no-repeat center center fixed; 
	background-size: cover;
	-webkit-background-size: cover;
		-moz-background-size: cover;
			-o-background-size: cover;
}


/********************************************
					DOCK
********************************************/
#dock {
	z-index:99;
	height:76px;
	width:1200px;
	position:fixed;
	font-size:11px;
	bottom:0;
	left:50px;
	background-color:rgba(255,255,255,0.5);
	border-top-left-radius:6px;
	-webkit-border-top-left-radius:6px;
		-moz-border-top-left-radius:6px;
			-o-border-top-left-radius:6px;
				-ms-border-top-right-radius:6px;
	border-top-right-radius:6px;
	-webkit-border-top-right-radius:6px;
		-moz-border-top-right-radius:6px;
			-o-border-top-right-radius:6px;
				-ms-border-top-right-radius:6px;
}
#dock ul {
	margin-top:5px;
	margin-left:20px;
	margin-right:20px;
}
#dock ul li {
	list-style:none;
	float:left;
	width:60px;
	margin-right:13px;
}
#dock ul li:last-child {
	margin-right:0px;
}
#dock ul li img {
	width:100%;
	cursor:pointer;
}
#top-bar {
	top:0;
	position:fixed;
	z-index:2;
	height:22px;
	width:100%;
	color:#333;
	font-size:14px;
	background-color:rgba(255,255,255,0.9);
}
#top-bar li {
	margin-top:2px;
	float:left;
	margin-right:20px;
	list-style:none;
}
#top-bar img {
	height:18px;
}
#left-bar {
	float:left;
	margin-top:2px;
	margin-left:20px;
}
#right-bar {
	float:right;
}


/********************************************
				LAUNCHPAD
********************************************/
#launchpad {
	position:absolute;
	top:0;
	z-index:9;
	background-color:rgba(255,255,255,0.1);
	opacity:0;
	width:100%;
	max-width:100%;
	height:100%;
	padding-top:20px;
	text-shadow: 1px 1px 2px rgba(87, 87, 87, 1);
	transition:all .4s ease-out .1s;
	-webkit-transition:all .4s ease-out .1s; 
		-moz-transition:all .4s ease-out .1s;
			-o-transition:all .4s ease-out .1s;
				-ms-transition:all .4s ease-out .1s;
}
#launchpad-slide-1 {
	position:absolute;
	max-width:1200px;
	min-width:1200px;
	top:0;
	left:0;
	transform:translate(0px);
	transition:all .4s ease-out;
	-webkit-transition:all .6s ease-out; 
		-moz-transition:all .6s ease-out;
			-o-transition:all .6s ease-out;
				-ms-transition:all .6s ease-out;
}
#launchpad-slide-2 {
	position:absolute;
	max-width:1200px;
	min-width:1200px;
	top:0;
	left:0;
	transform:translate(1550px);
	transition:all .4s ease-out .1s;
	-webkit-transition:all .6s ease-out; 
		-moz-transition:all .6s ease-out;
			-o-transition:all .6s ease-out;
				-ms-transition:all .6s ease-out;
}
#launchpad-container {
	width:1200px;
	margin:auto;
	position:relative;
}
#launchpad ul li {
	list-style:none;
	float:left;
	width:180px;
	margin-right:24px;
	margin-top:50px;
	text-align:center;
	color:#fff;
}
#launchpad ul li:nth-child(6n) {
	margin-right:0px;
}
#launchpad ul li img {
	width:70%;
}
#launchpad-nav {
	width:44px;
	margin:auto;
}
#launchpad-nav ul {	
	position:absolute; 
	top:625px;
}
#launchpad-nav li {
	margin-top:0px !important;
	margin-right:20px;
	width:10px !important;
	height:10px !important;
	border-radius:5px;
	background-color:#ccc;
	cursor:pointer;
}
#launchpad-nav li:hover { 
	background-color:#aaa; 
}
#launchpad-nav .active { 
	background-color:#fff; 
}
#launchpad-nav .active:hover { 
	background-color:#fff; 
}
#launchpad-nav ul li:last-child {
	margin-right:0px;
}


/********************************************
					APPS
********************************************/
#finder-app {
	position:absolute;
	top:50px;
	left:200px;
	width:600px;
	height:342px;
	background:url(../img/apps/finder.png);
	background-size:cover;
	display:none;
	-webkit-animation:finderAnim 1s ease;
		-moz-animation:finderAnim 1s ease;
			-o-animation:finderAnim 1s ease;
				-ms-animation:finderAnim 1s ease;
}

#sublimetext-app {
	position:absolute;
	top:80px;
	left:290px;
	width:600px;
	height:342px;
	background:url(../img/apps/sublimetext.png);
	background-size:cover;
	display:none;
	-webkit-animation:sublimetextAnim 1s ease;
		-moz-animation:sublimetextAnim 1s ease;
			-o-animation:sublimetextAnim 1s ease;
				-ms-animation:sublimetextAnim 1s ease;
}

#help-app {
	position:absolute;
	top:80px;
	left:400px;
	width:600px;
	height:200px;
	background-color:#f7f7f7;
	border-radius:6px;
}
#help-app .app-header {
	padding:10px 5% 0 5%;
	height:30px;
	width:90%;
	background-color:#ddd;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}
#help-app .app-body {
	text-align:center;
	padding:15px;
}

#photoshop-app {
	position:absolute;
	top:120px;
	left:400px;
	width:710px;
	height:382px;
	background:url(../img/apps/photoshop.png);
	background-size:cover;
	display:none;
	-webkit-animation:photoshopAnim 1s ease;
		-moz-animation:photoshopAnim 1s ease;
			-o-animation:photoshopAnim 1s ease;
				-ms-animation:photoshopAnim 1s ease;
}

/********************************************
				MEDIA QUERIES
********************************************/
@media screen and (max-height:750px) {
	#launchpad { padding-top:0px; }
	#launchpad-nav ul {	position:absolute; top:600px;}
}
@media screen and (max-height:720px) {
	#launchpad-slide-1, #launchpad-slide-2 { margin-top:-20px; }
	#launchpad-nav ul {	position:absolute; top:580px;}
}

/********************************************
				ANIMATIONS
********************************************/
.bounce {
	-webkit-animation:bounce .6s ease 2;
		-moz-animation:bounce .6s ease 2;
			-o-animation:bounce .6s ease 2;
				-ms-animation:bounce .6s ease 2;
}
.exitLeft {
	-webkit-animation:exitLeft .6s ease !important;
		-moz-animation:exitLeft .6s ease !important;
			-o-animation:exitLeft .6s ease !important;
				-ms-animation:exitLeft .6s ease !important;
}
.exitRight {
	-webkit-animation:exitRight .6s ease !important;
		-moz-animation:exitRight .6s ease !important;
			-o-animation:exitRight .6s ease !important;
				-ms-animation:exitRight .6s ease !important;
}
.exitTop {
	-webkit-animation:exitTop .6s ease !important;
		-moz-animation:exitTop .6s ease !important;
			-o-animation:exitTop .6s ease !important;
				-ms-animation:exitTop .6s ease !important;
}
.exitBottom {
	-webkit-animation:exitBottom .6s ease !important;
		-moz-animation:exitBottom .6s ease !important;
			-o-animation:exitBottom .6s ease !important;
				-ms-animation:exitBottom .6s ease !important;
}
/*** BOUNCE ***/
@-webkit-keyframes bounce{ 
	0% { transform:translateY(0px); }
	50%  {transform:translateY(-50px);} 
	100% {transform:translateY(0px);} 
}
/*** EXIT left ***/
@-webkit-keyframes exitLeft{ 
	0% { transform:translate(0px); }
	100% {transform:translate(-1500px);} 
}
/*** EXIT right ***/
@-webkit-keyframes exitRight{ 
	0% { transform:translate(0px); }
	100% {transform:translate(2000px);} 
}
/*** EXIT top ***/
@-webkit-keyframes exitTop{ 
	0% { transform:translateY(0px); }
	100% {transform:translateY(-1000px);} 
}
/*** EXIT bottom ***/
@-webkit-keyframes exitBottom{ 
	0% { transform:translateY(0px); }
	100% {transform:translateY(1500px);} 
}



/*** FINDER ANIM ***/
@-webkit-keyframes finderAnim{ 
	0% {transform:rotate(0deg) scale(0.1) translate(200px,200px);}
	100% {transform:rotate(720deg) scale(1) translate(0px,0px);} 
}

/*** SUBLIMTEXT ANIM ***/
@-webkit-keyframes sublimetextAnim{ 
	0% {transform:rotate(-90deg) scale(0.1);}
	20% {transform:rotate(-90deg) scale(0.3);}
	40% {transform:rotate(60deg) scale(0.5);}
	60% {transform:rotate(-60deg) scale(0.7);}
	80% {transform:rotate(30deg) scale(0.9);}
	100% {transform:rotate(0deg) scale(1);} 
}

/*** SUBLIMTEXT ANIM ***/
@-webkit-keyframes photoshopAnim{ 
	0% {transform:rotate(-20deg) scale(0.1) translate(0px,0px);}
	20% {transform:rotate(-20deg) scale(0.3) translate(500px,400px);}
	40% {transform:rotate(20deg) scale(0.5) translate(-600px,200px); }
	60% {transform:rotate(-20deg) scale(0.7) translate(100px,-300px); ;}
	80% {transform:rotate(20deg) scale(0.9) translate(-300px,100px);;}
	100% {transform:rotate(0deg) scale(1) translate(0px,0px);} 
}








