body {background:#271BA7;overflow:hidden;font-family:Helvetica,Arial;font-size:14px;min-height: 100%;position: relative;}

html{height: 100%;}

.floor {
	background: #046600;
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
}


.mountain {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent #471C1C transparent;
	position: absolute;
}

.mountain.mountain1{
	bottom: 100px;
	left: -50px;
	border-width: 0 150px 300px 150px;
}

.mountain.mountain2{
	bottom: 100px;
	left: 150px;
	border-width: 0 250px 500px 250px;
	z-index: 1;
}

.mountain.mountain3{
	bottom: 100px;
	left: 550px;
	border-width: 0 150px 300px 150px;
}

.mountain.mountain4{
	bottom: 100px;
	left: 800px;
	border-width: 0 200px 400px 200px;
	z-index: 1;
}

.mountain.mountain5{
	bottom: 100px;
	left: 1150px;
	border-width: 0 150px 300px 150px;
}

.cloud {
	width: 200px; 
	height: 60px;
	background: #fff;
	border-radius: 200px;
	position: relative;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; 
	height: 80px;
	position: absolute; 
	top: -15px; 
	left: 10px;
	border-radius: 100px;
	-webkit-transform: rotate(30deg);
	   -moz-transform: rotate(30deg);
	     -o-transform: rotate(30deg);
			transform: rotate(30deg);
}

.cloud:after {
	width: 120px; 
	height: 120px;
	top: -55px; 
	left: auto; 
	right: 15px;
}

.cloud.cloud1{
	top: 50px;
	left: 50px;
	opacity: 0.6;
	-webkit-animation: windLeft 18s linear infinite;
	   -moz-animation: windLeft 18s linear infinite;
	     -o-animation: windLeft 18s linear infinite;
	        animation: windLeft 18s linear infinite;
}

.cloud.cloud2{
	top: 50px;
	left: 400px;
	opacity: 0.7;
	z-index:2;
	-webkit-animation: windLeft 15s linear infinite;
	   -moz-animation: windLeft 15s linear infinite;
	     -o-animation: windLeft 15s linear infinite;
	        animation: windLeft 15s linear infinite;
}

.cloud.cloud3{
	top: 50px;
	left: 600px;
	opacity: 0.7;
	z-index: 2;
	-webkit-animation: windLeft 20s linear infinite;
	   -moz-animation: windLeft 20s linear infinite;
	     -o-animation: windLeft 20s linear infinite;
	        animation: windLeft 20s linear infinite;
}

.cloud.cloud4{
	top: 50px;
	left: 1075px;
	opacity: 0.6;
	-webkit-animation: windLeft 17s linear infinite;
	   -moz-animation: windLeft 17s linear infinite;
	     -o-animation: windLeft 17s linear infinite;
	        animation: windLeft 17s linear infinite;
}


.sunOrMoon{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	background: #D2EE03;
	box-shadow: 0 0 200px #FFFF00;
	position: relative;
	top:-150px;
	margin-left: 500px;
	z-index: -1;

	-webkit-animation: suncreate 4s cubic-bezier(0.375, -0.600, 0.600, 1.650), sunmove 1s 4s infinite ease;
	   -moz-animation: suncreate 4s cubic-bezier(0.375, -0.600, 0.600, 1.650), sunmove 1s 4s infinite ease;
	     -o-animation: suncreate 4s cubic-bezier(0.375, -0.600, 0.600, 1.650), sunmove 1s 4s infinite ease;
	        animation: suncreate 4s cubic-bezier(0.375, -0.600, 0.600, 1.650), sunmove 1s 4s infinite ease;
}

#night {
	width: 5000px;
	height: 5000px;
	position: absolute;
	background: rgba(19, 0, 119, 0);
	z-index: 3;
	top: 0;
	left: 0;
}

#menu{
	z-index: 4;
	width: 200px;
	height: 250px;
	position: absolute;
	background: rgba(139, 139, 138, 0.5);
	top: 10px;
	left: 10px;
	text-align: center;
	-webkit-perspective:1000;
	   -moz-perspective:1000;
	     -o-perspective:1000;
            perspective:1000;
}

#menu h1 {
	text-decoration: none;
	color: #FFF;
	margin: 15px 0 15px 0;
}

#menu div{
	position: relative;
	height: 64px;
	-webkit-transition: all 1500ms cubic-bezier(0.375, -0.600, 0.600, 1.650); 
	   -moz-transition: all 1500ms cubic-bezier(0.375, -0.600, 0.600, 1.650); 
		 -o-transition: all 1500ms cubic-bezier(0.375, -0.600, 0.600, 1.650); 
			transition: all 1500ms cubic-bezier(0.375, -0.600, 0.600, 1.650);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

#menu div i{
	position: absolute;
	margin-left: -26px;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	        backface-visibility: hidden;
}

#menu div i:nth-child(2){
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	     -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}








@-webkit-keyframes windLeft {
	0% {margin-left: 1500px;}
	100% {margin-left: -1500px;}
}
@-moz-keyframes windLeft {
	0% {margin-left: 1500px;}
	100% {margin-left: -1500px;}
}
@-o-keyframes windLeft {
	0% {margin-left: 1500px;}
	100% {margin-left: -1500px;}
}
@keyframes windLeft {
	0% {margin-left: 1500px;}
	100% {margin-left: -1500px;}
}

@-webkit-keyframes windRight {
	0% {margin-left: -1500px;}
	100% {margin-left: 1500px;}
}
@-moz-keyframes windRight {
	0% {margin-left: -1500px;}
	100% {margin-left: 1500px;}
}
@-o-keyframes windRight {
	0% {margin-left: -1500px;}
	100% {margin-left: 1500px;}
}
@keyframes windRight {
	0% {margin-left: -1500px;}
	100% {margin-left: 1500px;}
}

@-webkit-keyframes suncreate {
	0% {width: 20px;height: 20px;border-radius: 10px;top:-60px;margin-left: 560px;}
	100% {width: 150px;height: 150px;border-radius: 75px;}
}
@-moz-keyframes suncreate {
	0% {width: 20px;height: 20px;border-radius: 10px;}
	100% {width: 150px;height: 150px;border-radius: 75px;}
}
@-o-keyframes suncreate {
	0% {width: 20px;height: 20px;border-radius: 10px;}
	100% {width: 150px;height: 150px;border-radius: 75px;}
}
@keyframes suncreate {
	0% {width: 20px;height: 20px;border-radius: 10px;}
	100% {width: 150px;height: 150px;border-radius: 75px;}
}

@-webkit-keyframes sunsetrise {
	0% {top:-150px;}
	50% {top:200px;background-color:#B65F00;box-shadow: 0 0 200px #100757;}
	100% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
}
@-moz-keyframes sunsetrise {
	0% {top:-150px;}
	50% {top:200px;background-color:#B65F00;box-shadow: 0 0 200px #100757;}
	100% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
}
@-o-keyframes sunsetrise {
	0% {top:-150px;}
	50% {top:200px;background-color:#B65F00;box-shadow: 0 0 200px #100757;}
	100% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
}
@keyframes sunsetrise {
	0% {top:-150px;}
	50% {top:200px;background-color:#B65F00;box-shadow: 0 0 200px #100757;}
	100% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
}

@-webkit-keyframes moonsetrise {
	0% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;;}
	50% {top:200px;background: #D2EE03;box-shadow: 0 0 200px #FFFF00;}
	100% {top:-150px;background: #D2EE03;box-shadow: 0 0 200px #FFFF00;}
}
@-moz-keyframes moonsetrise {
	0% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
	50% {top:200px;background: #D2EE03;box-shadow: 0 0 200px #FFFF00;}
	100% {top:-150px;background: #D2EE03;box-shadow: 0 0 200px #FFFF00;}
}
@-o-keyframes moonsetrise {
	0% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
	50% {top:200px;background: #D2EE03;box-shadow: 0 0 200px #FFFF00;}
	100% {top:-150px;background: #D2EE03;box-shadow: 0 0 200px #FFFF00;}
}
@keyframes moonsetrise {
	0% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
	50% {top:200px;background: #D2EE03;box-shadow: 0 0 200px #FFFF00;}
	100% {top:-150px;background: #D2EE03;box-shadow: 0 0 200px #FFFF00;}
}

@-webkit-keyframes sunmove {
	0% {top:-150px;}
	50% {top: -155px}
	100% {top:-150px;}
}
@-moz-keyframes sunmove {
	0% {top:-150px;}
	50% {top: -155px}
	100% {top:-150px;}
}
@-o-keyframes sunmove {
	0% {top:-150px;}
	50% {top: -155px}
	100% {top:-150px;}
}

@-webkit-keyframes moonmove {
	0% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
	50% {top:-155px;background-color: rgba(214, 214, 223, 0.7);box-shadow: 0 0 200px #100757;}
	100% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
}
@-moz-keyframes moonmove {
	0% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
	50% {top:-155px;background-color: rgba(214, 214, 223, 0.7);box-shadow: 0 0 200px #100757;}
	100% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
}
@-o-keyframes moonmove {
	0% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
	50% {top:-155px;background-color: rgba(214, 214, 223, 0.7);box-shadow: 0 0 200px #100757;}
	100% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
}
@keyframes moonmove {
	0% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
	50% {top:-155px;background-color: rgba(214, 214, 223, 0.7);box-shadow: 0 0 200px #100757;}
	100% {top:-150px;background-color: rgba(215, 215, 224, 0.7);box-shadow: 0 0 200px #100757;}
}

@-webkit-keyframes filterOn {
	from {background-color: rgba(19, 0, 119, 0);}
	to {background-color: rgba(19, 0, 119, 0.5);}
}
@-moz-keyframes filterOn {
	from {background-color: rgba(19, 0, 119, 0);};
	to {background-color: rgba(19, 0, 119, 0.5);}
}
@-o-keyframes filterOn {
	from {background-color: rgba(19, 0, 119, 0);}
	to {background-color: rgba(19, 0, 119, 0.5);}
}
@keyframes filterOn {
	from {background-color: rgba(19, 0, 119, 0);}
	to {background-color: rgba(19, 0, 119, 0.5);}
}

@-webkit-keyframes filterOff {
	from {background-color: rgba(19, 0, 119, 0.5);}
	to {background-color: rgba(19, 0, 119, 0);}
}
@-moz-keyframes filterOff {
	from {background-color: rgba(19, 0, 119, 0.5);};
	to {background-color: rgba(19, 0, 119, 0);}
}
@-o-keyframes filterOff {
	from {background-color: rgba(19, 0, 119, 0.5);}
	to {background-color: rgba(19, 0, 119, 0);}
}
@keyframes filterOff {
	from {background-color: rgba(19, 0, 119, 0.5);}
	to {background-color: rgba(19, 0, 119, 0);}
}




/***********CSS RESET***************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}