html,body{
	background: #ecf0f1;
	height:100%;
	width: 100%;
}

.container{ /** alignement horizontal de mes 4 blocs contenant les animations **/
	position: relative;
	height: 90%;
	width: 24%;
	background-color: #fff;
	display: inline-block;
	margin:auto;
}

/******BLOC: ANIMATION PLUIE*******/

.c1{
	background-color: #bdc3c7;
}

.cloud{
	width: 100%;
	height:25%;
	position:relative;
	z-index: 4;
}

.cloud-form1{
	width:250px;
	height: 80px;
	background-color: #ecf0f1;
	margin-top: 200px;
	position: absolute;
	margin-left: 100px;
	border-radius: 100px;
}

.cloud-form2{
	border-radius: 100%;
	background-color: #ecf0f1;
	width: 100px;
	height: 100px;
	margin-top:150px;
	position: absolute;
	margin-left:120px
}

.cloud-form3{
	border-radius: 100%;
	background-color: #ecf0f1;
	width: 125px;
	height: 125px;
	margin-top:130px;
	position: absolute;
	margin-left:200px
}

.drop {
	opacity: 1;
	background: #3498db; 
	width: 10px;
	height: 10px;
	margin-left: 20px;
	border-radius: 100%;
	display: inline-block;
	z-index: -10;

	-webkit-animation: rain 0.7s infinite ease-in;
	   -moz-animation: rain 0.7s infinite ease-in;
		 -o-animation: rain 0.7s infinite ease-in;
			animation: rain 0.7s infinite ease-in;
	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
		 -o-animation-play-state:paused;
			animation-play-state:paused;

}

.drop:nth-child(2){
	-webkit-animation-duration:0.55s;
	   -moz-animation-duration:0.55s;
		 -o-animation-duration:0.55s;
			animation-duration:0.55s;
}

.drop:nth-child(3){
	-webkit-animation-duration:0.65s;
	   -moz-animation-duration:0.65s;
		 -o-animation-duration:0.65s;
			animation-duration:0.65s;
}

.drop:nth-child(4){
	-webkit-animation-duration:0.45s;
	   -moz-animation-duration:0.45s;
		 -o-animation-duration:0.45s;
			animation-duration:0.45s;
}

.drop:nth-child(5){
	-webkit-animation-duration:0.6s;
	   -moz-animation-duration:0.6s;
		 -o-animation-duration:0.6s;
			animation-duration:0.6s;
}

.drop:nth-child(6){
	-webkit-animation-duration:0.4s;
	   -moz-animation-duration:0.4s;
		 -o-animation-duration:0.4s;
			animation-duration:0.4s;
}

.drop:nth-child(7){
	-webkit-animation-duration:0.45s;
	   -moz-animation-duration:0.45s;
		 -o-animation-duration:0.45s;
			animation-duration:0.45s;
}

.rain {
	position: absolute;
	width: 250px;
	height: 400px;
	top: 330px;
	left: 120px;

}

.puddle{
	position: absolute;
	top: 610px;
	left:140px;
	background: #3498db;
	width: 200px;
	height: 10px;
	border-radius: 250px/100px;
	opacity: 0.7;

	-webkit-animation: puddle 0.3s infinite ease;
	   -moz-animation: puddle 0.3s infinite ease;
		 -o-animation: puddle 0.3s infinite ease;
		    animation: puddle 0.3s infinite ease;
	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
		 -o-animation-play-state:paused;
		    animation-play-state:paused;
}


/********BLOC: ANIMATION SOLEIL********/

.c2{
	background-color: #000;
	-webkit-animation: sky 5s ease infinite alternate;
	   -moz-animation: sky 5s ease infinite alternate;
		 -o-animation: sky 5s ease infinite alternate;
		    animation: sky 5s ease infinite alternate;

}

.cloud2{

	-webkit-animation: small_cloud 8s linear infinite;
	   -moz-animation: small_cloud 8s linear infinite;
		 -o-animation: small_cloud 8s linear infinite;
		    animation: small_cloud 8s linear infinite;
	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
		 -o-animation-play-state:paused;
		    animation-play-state:paused;

}

.cloud2-form1{
	width:125px;
	height: 40px;
	background-color: #95a5a6;
	margin-top: 150px;
	position: absolute;
	margin-left: 100px;
	border-radius: 100px;

}

.cloud2-form2{
	border-radius: 100%;
	background-color: #95a5a6;
	width: 50px;
	height: 50px;
	margin-top:120px;
	position: absolute;
	margin-left:120px;
}	

.cloud2-form3{
	border-radius: 100%;
	background-color: #95a5a6;
	width: 60px;
	height: 60px;
	margin-top:110px;
	position: absolute;
	margin-left:150px;
}

.sun{
	height: 100px;
	width:100px;
	border-radius: 100%;
	background-color: #f1c40f;
	position:absolute;
	top:160px;
	left:30%;

	-webkit-animation: sun 4s ease infinite alternate;
	   -moz-animation: sun 4s ease infinite alternate;
		 -o-animation: sun 4s ease infinite alternate;
		    animation: sun 4s ease infinite alternate;
	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
		 -o-animation-play-state:paused;
		    animation-play-state:paused;
}


/********BLOC: ANIMATION NUIT********/


.c3{
	background-color: #2c3e50;	
}

.moon{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 15px 15px 0 0 #bdc3c7;
	position: absolute;
	left: 50px;
	top:30px;

	-webkit-animation: moon 1s ease-in-out infinite alternate;
	   -moz-animation: moon 1s ease-in-out infinite alternate;
		 -o-animation: moon 1s ease-in-out infinite alternate;
		    animation: moon 1s ease-in-out infinite alternate;
	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
		 -o-animation-play-state:paused;
		    animation-play-state:paused;
}

.night{
	background: #34495e;
}

.stars {
	width: 5px;
	height: 5px;
	position: relative;
	top: 10%;
	left:30%;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5);

	-webkit-animation: stars 3s infinite linear alternate;
	   -moz-animation: stars 3s infinite linear alternate;
		 -o-animation: stars 3s infinite linear alternate;
		    animation: stars 3s infinite linear alternate;
	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
		 -o-animation-play-state:paused;
		    animation-play-state:paused;
}

.stars:nth-child(2){
	top: 23%;
	left: 63%;
	-webkit-animation-duration:1s;
	   -moz-animation-duration:1s;
		 -o-animation-duration:1s;
		    animation-duration:1s;
}

.stars:nth-child(3){
	top: 87%;
	left: 6%;
	-webkit-animation-duration:1.6s;
	   -moz-animation-duration:1.6s;
		 -o-animation-duration:1.6s;
		    animation-duration:1.6s;
}


.stars:nth-child(4){
	top: 32%;
	left: 83%;
	-webkit-animation-duration:2.1s;
	   -moz-animation-duration:2.1s;
		 -o-animation-duration:2.1s;
		    animation-duration:2.1s;
}

.stars:nth-child(5){
	top: 58%;
	left: 26%;
	-webkit-animation-duration:5.4s;
	   -moz-animation-duration:5.4s;
		 -o-animation-duration:5.4s;
		    animation-duration:5.4s;
}

.stars:nth-child(6){
	top: 45%;
	left: 13%;
	-webkit-animation-duration:3.6s;
	   -moz-animation-duration:3.6s;
		 -o-animation-duration:3.6s;
		    animation-duration:3.6s;
}

.stars:nth-child(7){
	top: 32%;
	left: 61%;
	-webkit-animation-duration:2s;
	   -moz-animation-duration:2s;
		 -o-animation-duration:2s;
		    animation-duration:2s;
}

/********BLOC: ANIMATION ORAGE********/

.c4{
	background-color: #e74c3c;
}

.lightning {
	top:350px;
	width: 0px; 
	height: 0px; 
	border: 20px solid transparent; 
	border-bottom: 60px solid #e74c3c; 
	position: absolute; 
	margin-top: -100px; 
	margin-left: 47%; 
}

.front {
	margin-left: 37%; 
	transform: rotateZ(30deg); 
}

.back {
 	width: 0px; 
 	height: 0px; 
 	border: 16px solid transparent; 
 	border-top: 60px solid #e74c3c; 
 	margin-top: 45px; 
}

.front , .back{
	-webkit-animation: lightning 3s linear infinite;
	   -moz-animation: lightning 3s linear infinite;
		 -o-animation: lightning 3s linear infinite;
		    animation: lightning 3s linear infinite;
	-webkit-animation-delay: 2s;
	   -moz-animation-delay: 2s;
		 -o-animation-delay: 2s;
		    animation-delay: 2s;
	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
		 -o-animation-play-state:paused;
		    animation-play-state:paused;
}

.c4{
	-webkit-animation: orage 3s linear infinite;
	   -moz-animation: orage 3s linear infinite;
		 -o-animation: orage 3s linear infinite;
		    animation: orage 3s linear infinite;
	-webkit-animation-delay: 2s;
	   -moz-animation-delay: 2s;
		 -o-animation-delay: 2s;
		    animation-delay: 2s;
	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
		 -o-animation-play-state:paused;
		    animation-play-state:paused;
}


.c1:hover .puddle , /**** au passage du curseur sur les container, l'animation se joue***/
 .c1:hover .drop , .c2:hover .cloud2 ,
 .c3:hover .moon , .c2:hover .sun,
 .c3:hover .stars , .c4:hover , .c4:hover .front , .c4:hover .back {
	-webkit-animation-play-state:running;
	   -moz-animation-play-state:running;
		 -o-animation-play-state:running;
		    animation-play-state:running;
}


/*******KEYFRAMES********/


@-webkit-keyframes puddle {
 	0% { transform: scaleX(1); }
 	100% { transform: scaleX(2); }
}

@-moz-keyframes puddle {
 	0% { transform: scaleX(1); }
 	100% { transform: scaleX(2); }
}

@-o-keyframes puddle {
 	0% { transform: scaleX(1); }
 	100% { transform: scaleX(2); }
}

@keyframes puddle {
 	0% { transform: scaleX(1); }
 	100% { transform: scaleX(2); }
}


@-webkit-keyframes rain {
	0% { transform: translate(-50%,-1000%); }
	50% { transform: translate(-50%,0%); }
	100% { transform: translate(50%,2700%); }
}

@-moz-keyframes rain {
	0% { transform: translate(-50%,-1000%); }
	50% { transform: translate(-50%,0%); }
	100% { transform: translate(50%,2700%); }
}

@-o-keyframes rain {
	0% { transform: translate(-50%,-1000%); }
	50% { transform: translate(-50%,0%); }
	100% { transform: translate(50%,2700%); }
}

@keyframes rain {
	0% { transform: translate(-50%,-1000%); }
	50% { transform: translate(-50%,0%); }
	100% { transform: translate(50%,2700%); }
}


@-webkit-keyframes sun {
	0% {  margin-top:-60px;}
	100% {  margin-top:0px;}
}

@-moz-keyframes sun {
	0% {  margin-top:-60px;}
	100% {  margin-top:0px;}
}

@-o-keyframes sun {
	0% {  margin-top:-60px;}
	100% {  margin-top:0px;}
}

@--keyframes sun {
	0% {  margin-top:-60px;}
	100% {  margin-top:0px;}
}

@-webkit-keyframes sky {
	0% {background: #2ecc71; }
	100% {background: #16a085;}
}

@-moz-keyframes sky {
	0% {background: #2ecc71; }
	100% {background: #16a085;}
}

@-o-keyframes sky {
	0% {background: #2ecc71; }
	100% {background: #16a085;}
}

@keyframes sky {
	0% {background: #2ecc71; }
	100% {background: #16a085;}
}


@-webkit-keyframes small_cloud {
	0% {transform:translateX(-100px); }
	100% {transform:translateX(0);}
}

@-moz-keyframes small_cloud {
	0% {transform:translateX(-100px); }
	100% {transform:translateX(0);}
}

@-o-keyframes small_cloud {
	0% {transform:translateX(-100px); }
	100% {transform:translateX(0);}
}

@keyframes small_cloud {
	0% {transform:translateX(-100px); }
	100% {transform:translateX(0);}
}


@-webkit-keyframes stars{
	0% { box-shadow: 0px 0px 50px 14px rgba(120, 130, 155, .5); transform:  scale3d(1,1,1);}
	50% { box-shadow: 0px 0px 50px 22px rgba(120, 130, 155, .5); transform: scale3d(2,2,2);}
	100% { box-shadow: 0px 0px 50px 14px rgba(120, 130, 155, .5); }
}

@-moz-keyframes stars{
	0% { box-shadow: 0px 0px 50px 14px rgba(120, 130, 155, .5); transform:  scale3d(1,1,1);}
	50% { box-shadow: 0px 0px 50px 22px rgba(120, 130, 155, .5); transform: scale3d(2,2,2);}
	100% { box-shadow: 0px 0px 50px 14px rgba(120, 130, 155, .5); }
}

@-o-keyframes stars{
	0% { box-shadow: 0px 0px 50px 14px rgba(120, 130, 155, .5); transform:  scale3d(1,1,1);}
	50% { box-shadow: 0px 0px 50px 22px rgba(120, 130, 155, .5); transform: scale3d(2,2,2);}
	100% { box-shadow: 0px 0px 50px 14px rgba(120, 130, 155, .5); }
}

@keyframes stars{
	0% { box-shadow: 0px 0px 50px 14px rgba(120, 130, 155, .5); transform:  scale3d(1,1,1);}
	50% { box-shadow: 0px 0px 50px 22px rgba(120, 130, 155, .5); transform: scale3d(2,2,2);}
	100% { box-shadow: 0px 0px 50px 14px rgba(120, 130, 155, .5); }
}


@-webkit-keyframes moon{
 	0% { transform: rotate(0deg);  }
    100% { transform:rotate(80deg); }
}

@-moz-keyframes moon{
 	0% { transform: rotate(0deg);  }
    100% { transform:rotate(80deg); }
}

@-o-keyframes moon{
 	0% { transform: rotate(0deg);  }
    100% { transform:rotate(80deg); }
}

@keyframes moon{
 	0% { transform: rotate(0deg);  }
    100% { transform:rotate(80deg); }
}


@-webkit-keyframes orage{
	0% { background: #000;}
	5% { background: #fff}
	10% { background: #000;}
	15% { background: #fff;}
	20% { background: #000;}
	25% { background: #fff;}
	30% { background: #000}
	100% {background: #e74c3c;}
}

@-moz-keyframes orage{
	0% { background: #000;}
	5% { background: #fff}
	10% { background: #000;}
	15% { background: #fff;}
	20% { background: #000;}
	25% { background: #fff;}
	30% { background: #000}
	100% {background: #e74c3c;}
}

@-o-keyframes orage{
	0% { background: #000;}
	5% { background: #fff}
	10% { background: #000;}
	15% { background: #fff;}
	20% { background: #000;}
	25% { background: #fff;}
	30% { background: #000}
	100% {background: #e74c3c;}
}

@keyframes orage{
	0% { background: #000;}
	5% { background: #fff}
	10% { background: #000;}
	15% { background: #fff;}
	20% { background: #000;}
	25% { background: #fff;}
	30% { background: #000}
	100% {background: #e74c3c;}
}


@-webkit-keyframes lightning {
  	0% {border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	5% { border-bottom-color: #fff; border-top-color: #fff;}
	10% { border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	15% { border-bottom-color: #fff; border-top-color: #fff;}
	20% { border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	25% { border-bottom-color: #fff; border-top-color: #fff;}
	100% { border-bottom-color: #e74c3c; border-top-color: #e74c3c;}
}

@-moz-keyframes lightning {
  	0% {border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	5% { border-bottom-color: #fff; border-top-color: #fff;}
	10% { border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	15% { border-bottom-color: #fff; border-top-color: #fff;}
	20% { border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	25% { border-bottom-color: #fff; border-top-color: #fff;}
	100% { border-bottom-color: #e74c3c; border-top-color: #e74c3c;}
}

@-o-keyframes lightning {
  	0% {border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	5% { border-bottom-color: #fff; border-top-color: #fff;}
	10% { border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	15% { border-bottom-color: #fff; border-top-color: #fff;}
	20% { border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	25% { border-bottom-color: #fff; border-top-color: #fff;}
	100% { border-bottom-color: #e74c3c; border-top-color: #e74c3c;}
}

@keyframes lightning {
  	0% {border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	5% { border-bottom-color: #fff; border-top-color: #fff;}
	10% { border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	15% { border-bottom-color: #fff; border-top-color: #fff;}
	20% { border-bottom-color: #f1c40f; border-top-color: #f1c40f;}
	25% { border-bottom-color: #fff; border-top-color: #fff;}
	100% { border-bottom-color: #e74c3c; border-top-color: #e74c3c;}
}
