body {
	background-image  : url(../img/route.jpg);
  	width             : 100%;
  	height            : 100%;
  	background-repeat : no-repeat;
  	position          : absolute;
}

.header {
	background-color : black;
	position         : relative;
	padding    		 : 0;
	top              : 0;
	height           : 90px;
	width            : 100%;
	opacity 		 : 0.8; 		
}

.logo{
	width       : 85px;
	height      : 80px;
	position    : absolute;
	top         : 10px;
	left        : 20px;
}

.logoname{
	width       : 500px;
	height      : 100%;
	top         : 10px;
	left        : 120px;
	position    : absolute;
}



.question{
	font-style  : sans-serif;
	font-size   : 60px;
	color       : white;
	position    : relative;	
	text-align  : center;
	top         : 110px;
}

/*.sondage li {
	display    :inline-block;
	position   :relative;
	margin-top :200px;
	width      :40%;
	height     :40%;
	overflow   :hidden;
}*/

.first{
	left :0;
}

.second {
	right :0;
}

.image {
	display    :inline-block;
	max-width  :100%;
	max-height :100%;

}

input[type=submit]{
		background-image  : url(../img/validation.png);
		background-size   : 100px;
		background-repeat : no-repeat;
		position          : absolute;
		bottom            : 20%;
		border            : 0; 
        background-color  : transparent;
        width             : 200px;
        height            : 200px;
		left              : 990px;
		font-size         : 26px;
		color             : black;
		font-weight       : bold;
}

	.imageScoot{
		height   : 400px;
		width    : 400px;
		position : absolute;
		top      : 290px;
		left     : 500px;
}

	.imageMoto{
		height   : 300px;
		width    : 400px;
		position : relative;
		top      : 160px;
		left     : 0px
}

.scoreMoto{
	font-size: 60px;
	font-weight: bold;
	position: absolute;
	left: 400px;
}

.scoreScoot{
	font-size: 60px;
	font-weight: bold;
	left: 300px;
	top:0px;
	position: relative;
	left: 700px;
}

.footer{
	position         : absolute;
	bottom           : 0;
	background-color : black;
	width            : 100%;
	height           : 80px;
}

.fb{
	height    : 25px; 
	width     : 25px;
	position  : relative;
	bottom    : 5px;
	left      : 1560px;
	
}

.tw{
	height   : 25px; 
	width    : 25px;
	position : relative;
	bottom   : 30px;
	left     : 1500px;
}

p{
	font-family : sans-serif;
	font-size   : 20px;
	font-weight : bold;
	color       : #AD0912;
	bottom      : 0%;
	position    : relative;
	top         : 25px;
	left        : 60px;
}
