body {
  	background-image: url(../img/route.jpg);
  	width:100%;
  	height: 100%;
  	background-repeat: no-repeat;
  	background-size:cover;
}

.header {
	background-color: #1A2732;
	padding: 0;
	height: 90px;
	width: 100%;
	position: relative;
	opacity: 0.98;
}

.logo{
	width: 85px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 20px;
}

.logoname{
	width: 500px;
	height: 100%;
	top: 20px;
	right: -120px;
	position: relative;
}

.test {
	width: 100%;
	height: 800px;	
	position: relative;
}

.content{
	background-color: #1A2732;
	padding: 100px 70px;
	position: absolute;
	left: 30%;
	top:200px;
	border-radius: 50%;
	text-align: center;
	border: 6px solid #DFE5E6;
	opacity: 0.95;
	left: 750px;

}

input {
	background-color: #DFE5E6;
	border: 1px solid #1A2732;
	border-radius: 6px;
	font-family: sans-serif;
	font-size: 20px;
	color: #1A2732;
	position: relative;
	margin: 10px;
	padding: 15px;
	line-height: auto;
}


.submit{
	position: absolute;
	padding: 35px;
	left: 122px;
	top: 300px;
	border-radius: 30px;
	color: #AD0912;
}

.footer{
	position: absolute;
	background-color: #1A2732;
	width: 100%;
	height: 80px;
}

.fb{
	height: 25px; 
	width: 25px;
	position: relative;
	bottom:5px;
	left: 1060px;
	
}

.tw{
	height: 25px; 
	width: 25px;
	position: relative;
	bottom:30px;
	left: 1000px;
}

p{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #DFE5E6;
	bottom: 0%;
	position: relative;
	top:25px;
	left: 60px;
}








	