body {background:#eee;font-size:14px;font-family:Helvetica,Arial;}

.cube {
	position:absolute;
	top:50%;
	left:50%;
	transform-style:preserve-3d;
	transform:perspective(600px);
	-webkit-animation:rotation-cube 5s linear 0s infinite;
}

.face {
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:200px;
	transform-style:preserve-3d;
}

.face.top    {background:#f00;transform:rotateX(90deg) rotateY(0deg) translateZ(100px);}
.face.bottom {background:#0f0;transform:rotateX(-90deg) rotateY(0deg) translateZ(100px);}
.face.left   {background:#00f;transform:rotateX(0deg) rotateY(90deg) translateZ(100px);}
.face.right  {background:#ff0;transform:rotateX(0deg) rotateY(-90deg) translateZ(100px);}
.face.front  {background:#0ff;transform:rotateX(0deg) rotateY(0deg) translateZ(100px);}
.face.back   {background:#f0f;transform:rotateX(0deg) rotateY(180deg) translateZ(100px);}

@-webkit-keyframes rotation-cube {
	0%   {transform:rotateY(0deg) rotateX(0deg) perspective(800px);}
	100% {transform:rotateY(360deg) rotateX(360deg) perspective(800px);}
}












