body { 
  background:black;
  overflow:hidden; /* Cacher le scrollbar */
}
table {
  position:absolute;
  left:880px;
  top:-100px;
  margin-top:-800px;
  -webkit-transform: rotate(45deg); /* Chrome */
  -webkit-transform-origin: top left;
  -webkit-transform-style: preserve-3D;
    -moz-transform: rotate(45deg);  /* Mozilla */
    -moz-transform-origin: top left;
    -moz-transform-style: preserve-3D; /* Opéra */
      -o-transform: rotate(45deg);
      -o-transform-origin: top left;
      -o-transform-style: preserve-3D;
	      transform: rotate(45deg);  /* Défaut */
        transform-origin: top left;
        transform-style: preserve-3D;
  width:2200px;  
  border-collapse:collapse; /*bordures regroupées*/
}
table:nth-of-type(1) /* 1er enfant*/ {
  -webkit-animation:moveup 2s linear infinite;
    -moz-animation:moveup 2s linear infinite;
      -o-animation:moveup 2s linear infinite;
        animation:moveup 2s linear infinite;
}
table:nth-of-type(2) /*2ème enfant*/ {
  -webkit-animation:moveup 2s linear reverse infinite;
    -moz-animation:moveup 2s linear reverse infinite;
      -o-animation:moveup 2s linear reverse infinite;
        animation:moveup 2s linear reverse infinite;
}
table tr td {
  height:150px; width:150px;
  float:left;
  border: 2px solid white;
}
table tr td:hover{
  background-color: white;
  transition-duration:0.4s;
  border: 2px solid black;
}
@-webkit-keyframes moveup {
  from { margin-top:-800px; }
  to   { margin-top:-1015px; }
}
@keyframes moveup {
  from { margin-top:-800px; }
  to   { margin-top:-1015px; }
}