body {
	margin: 0px;
	width: 100%;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

h1 {
	margin-top: 25%;
	font-family : "waltograph";
    src : url('waltograph.ttf');
	font-size: 100px;
	text-align: center;
	color: #59ABE3;
	min-height: 100px;
	line-height: 100px;
}

h2 {
	font-family : "waltograph";
    src : url('waltograph.ttf');
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #303030;
}

.movie-wrapper {
	height: 550px;
	display: inline-block;
	width: 45%;
	text-align: center;
	margin-top: 40px;
	padding-top: 30px;
	background-color: #DADADA; /* FEED THE DADADADADADADADAAAAAAAAAAA */
	margin-left: 32px;
	border-radius: 4px; 
}

.movies {
	width: 1024px;
	margin: auto;
	margin-top: 30%;
	background-color: #EEEEEE;
	font-family : "Avenir";
    src : url('avenir.ttf');
	font-size: 18px;
	border-radius: 2px;
}

.poster {
	font-family: Arial;
	font-size: 22px;
}

.poster img {
	width: 170px;
	height: 260px;
}

.vote {
	display: block;
	text-align: left;
}

.bar {
	display: inline-block;
	width: 300px;
	height: 30px;
	margin-left:15px;
	margin-top: 20px;
	background-color: #BFBFBF;
}

.bar div {
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.excellent div {
	background-color: #86B9E3;
}

.pas_mal div {
	background-color: #58A3E3;
}

.nul div {
	background-color: #597B97;
}

.vote a {
	float: right;
	display: inline-block;
	height: 30px;
	width: 100px;
	background-color: #839297;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	border-radius: 8px;
	margin-right: 15px;
	margin-top: 20px;
	color: #303030;
	font-size: 16px;
}

.excellent + a {
	background-color: #86B9E3;
}

.excellent + a:hover {
	background-color: #22313F;
	color: #DADADA;
		box-shadow: 0 0 8px #22313F;
}

.pas_mal + a {
	background-color: #58A3E3;
}

.pas_mal + a:hover {
	background-color: #22313F;
	color: #DADADA;
	box-shadow: 0 0 8px #22313F;
}

.nul + a {
	background-color: #597B97;
}

.nul + a:hover {
	background-color: #22313F;
	color: #DADADA;
	box-shadow: 0 0 8px #22313F;
}

p {
	margin-top: 40px;
	font-style: italic;
	color: #303030;
	font-size: 14px;
}
