body{
	background: #34495e;
	font-size: 14px;
	font-family: helvetica;
}

.btn{
    width: 0px;
	height: 50px;
	background: #e74c3c;
	margin: auto;
    position: relative;
	right: 50px;
    margin-top: 0px;
    z-index: -1;

	
}

.button{
	width: 100px;
	height: 50px;
	border: solid 3px #ecf0f1;
	z-index: 1;
	margin:auto;
	margin-top: 25%;
	
}

.button:hover .btn{
	background: #27ae60;
	right:0px;
	visibility: visible;
	width: 100px;
	
	
}
.transition{
    -webkit-transition:all 1s ease-out;
}
.button:hover span{
	color:#34495e;
}

span{

	opacity: 0;
	margin-left: 26px;
	position: absolute;
	margin-top:15px;
	color:#ecf0f1;
	-webkit-animation:clic 0.8s ease-in 0s infinite alternate;

}

@-webkit-keyframes clic{
	0%{opacity: 0;}
	100%{opacity: 1;}
}