body{
  font-family: 'Lucida Grande', Verdana, Arial;
  font-size: 12px;
  background-color: #E9E8E8;
}

h1{
  text-align: center;
}
#container{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 50px 100px;
  border: 3px solid #C0C0C0;
  -webkit-perspective: 500;
  margin-top: 20%;
  margin-left: 40%;
  transition: border-radius 2s;
}

#parent{
  margin: 10px;
  width: 280px;
  height: 280px;
  background-color: #844BCA;
  opacity: 0.8;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotation 11s infinite linear;
   transition: border-radius 2s;
}

#container:hover, #parent:hover{
  transform: rotate(1080deg);
  border-radius: 50%;
  transition: all 2s; 
}

#container:hover:after, #parent:hover:after{
  opacity: 1;
  transition: opacity 1s 1s;
}

#container:after, #parent:after{
  transition: opacity 2s;
}

@-webkit-keyframes rotation {
  0%    { -webkit-transform: rotateY(0); }
  100%  { -webkit-transform: rotateY(360deg); }
}

#parent > div{
  position: absolute;
  top: 40px;
  left: 40px;
  width: 200px;
  height: 200px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  font-size: 14px;
}

#parent > :first-child{
  background-color: #CC3333;
  -webkit-transform: translateZ(-100px) rotateY(45deg);
}

#parent > :last-child{
  background-color: #3366CC;
  -webkit-transform: translateZ(50px) rotateX(20deg);
  -webkit-transform-origin: 50% top;
  color: #FFF;
}

img{
  width: 100%;
}


