*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body{
  background: url('../img/fond_1.jpg')no-repeat;
  background-size: 100%;
  font-family:Arial;
  font-size:12px;
  color:#C4BCB0;
}
input[type="text"],
input[type="number"],
input[type="password"]{
  background:#EAE6E1;
  border:0;
  font-weight:bold;
  padding:10px;
  border-radius:3px;
  width:100%;
  margin:5px 0;
  outline:medium none;
  color:#838383;
}
input[type="checkbox"]{
  -webkit-appearance:none;
  width:10px;
  height:10px;
  position:relative;
  outline:medium none;
  margin-right:10px;
}
input[type="checkbox"]::before{
  width:9px;
  height:9px;
  content:"";
  display:block;
  border:3px solid #C4BCB0;
  border-radius: 9px;
  position:absolute;
}
input[type="checkbox"]:checked::after{
  width:5px;
  height:5px;
  content:"";
  display:block;
  background: #C4BCB0;
  border-radius: 5px;
  position:absolute;
  left:5px;
  top:5px;
}
input[type="submit"]{
  display:block;
  padding:10px;
  background:#50BFA4;
  border:0;
  border-radius:3px;
  font-weight:bold;
  width:100%;
  color:#fff;
  cursor:pointer;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  transition:all 0.3s;
}
input[type="submit"]:hover{
  background:#58CCB0;
}
.main-form{
  
  margin: auto;
  opacity: 0.6;
  margin-top: 12%;
  width:350px;
  padding:50px;

}
.logo{
  background:url('../img/profil.svg');
  width:40px;
  height:40px;
  display:block;
  margin:0 auto 30px;
 }
.main-form > label{
  display:block;
  margin:10px 0 15px;
  line-height:15px;
  cursor:pointer;
}
.main-form > div{
  margin-top:20px;
}
a{
  color:#C4BCB0;
  text-decoration:none;
}
.main-form > a{
  font-size:11px;
  display:block;
  text-align:center;
  margin:10px 0;
}
.main-form > div >a:first-child{
  font-weight:bold;
}
.main-form > div >a:nth-child(2){
  border:1px solid #3DA087;
  display:inline-block;
  border-radius:3px;
  color:#3DA087;
  font-weight:bold;
  padding:7px 15px;
  margin-left:28px;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  transition:all 0.3s;
}
.main-form > div >a:nth-child(2):hover{
  background:#3DA087;
  color:#fff;
}

.message{
	color: #F64747;
}
.success{
	color: #50BFA4;
	font-weight: bold;
}
#connect{
	font-weight: bold;
	
}

.profil{
    font-size: 40px;
   text-align: center;
    color: white;
    margin-top: 25%;
}
.parameter{
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 1%;
}
.bloc{
  width: 50%;
  height: 30%;
  background: red;
  margin: auto;
}
#logout{
	font-size: 15px;
    text-align: center;
    color: #F64747;
    display: block;
    margin-top: 1%;
}