body{
	background-color:#D2D2D2;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
}



/************************ HEADER *******************************/
header{
	height:80px;
	width:100%;
	background-color:#0c0c0c;
}
#content{
	margin:auto;
	background-color:#FEFEFE;
	width:1200px;
}
#header{
	background-color:#0A2C47;
	height:80px;
	box-shadow: 0 8px 10px -3px #0c0c0c;
}
.logo{
	width:250px;
	height:60px;
	color:white;
	float:left;
	margin-top:10px;
	margin-left:20px;
}
.logo .sun{
	width:45px;
	height:45px;
	float:left;
	border-radius:50%;
	background-color:yellow;
	box-shadow: 0 0 10px 5px orange,
				0 0 7px 3px orange inset;
	margin-top:5px;
}
.logo span{
	float:left;
	font-size:20px;
	font-weight:bold;
	padding-top:20px;
	margin-left:25px;
	color:#FEFEFE;
}
nav{
	float:right;
}
nav ul li{
	width:120px;
	height:35px;
	text-align:center;
	display:inline-block;
	font-weight:600;
	margin-top:10px;
	padding-top:20px;
}
nav ul li:nth-child(2) {
	border-right:solid 1px #C5C7C8;
	border-left:solid 1px #C5C7C8;
}
nav ul li a{
	text-decoration:none;
	color:#C5C7C8;
}
nav ul li a:hover{
	color:#FEFEFE;
}
nav ul li a:focus{
	color:yellow;
	background-color:yellow;
}



/************************ CONTENT *******************************/



section{
	height:850px;
}
article{
	float:left;
	width:50%;
}
article .lab-article{
	height:40px;
	width:100%;
	background-color:#16385B;
	margin-top:50px;
	margin-left:70px;
	overflow:auto;
}
article .lab-article h1{
	color:#FEFEFE;
	font-size:18px;
	font-weight:700;
	margin-left:10px;
	margin-top:10px;
}
article #map{
	margin-top:20px;
	margin-left: 70px;
	width:50%;
}
aside{
	float:right;
	width:30%;
}
aside .lab-aside{
	height:40px;
	background-color:#16385B;
	margin-top:50px;
	margin-right:70px;
	overflow:auto;
}
aside .lab-aside h1{
	color:#FEFEFE;
	font-size:18px;
	font-weight:700;
	margin-left:10px;
	margin-top:10px;
}
aside #montreuil{
	margin-top:20px;
	margin-right:70px;
	width:30%;
}



/************************ SONDAGE *******************************/

#sondage{
	margin-top:30px;
}
#sondage h2{
	font-weight:600;
	font-size:20px;
	text-align:center;
	margin-bottom:30px;
}
#sondage .choice-sondage{
	margin-left:100px;
	margin-top:10px;
	height:25px;
}
#sondage .choice-sondage .voter{
	float:right;
	width:70px;
	height:22px;
	padding-top:2px;
	text-align:center;
	text-decoration:none;
	background-color:#55A660;
	color:#FEFEFE;
}
#sondage .percent{
	float:right;
	font-weight:600;
}
#sondage #total{
	text-align:center;
	margin-top:10px;
	font-weight:700;
}
#sondage .result{
	font-weight:700;
	font-size:20px;
	margin-top:70px;
	margin-left:70px;
	text-align:center;
	color:red;
}
#sondage .image{
	text-align:center;
	margin-top:30px;
	margin-left:20px;
}

/************************ FOOTER *******************************/


footer{
	background-color:#353D48;
	height:100px;
	width:1200px;
	margin:auto;
}
footer #bloc{
	height:15px;
}
footer #f-logo{
	margin-left:40%;
}
